<style type="text/css">								 
	.datepagginator *{
		padding: 3px;
	}
</style>
<div ng-controller="browseTransactionController" >

	<flashmessage  > </flashmessage>  
 
 	<div class="row" >
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
			<h1 class="page-title txt-color-blueDark" ng-hide="pageLoading">
				<i class="fa fa-calculator fa-fw "></i>
				Transakcja
				<span>> Przeglądaj </span>
			</h1>

			<h1 class="page-title txt-color-blueDark" ng-show="pageLoading" >
				<img src="{!=URL('static','images/loading.gif')!}"  style="margin-top:-10px"> 
				{!=T('Loading')!}...
			</h1>

		</div>
	</div>


	<div class="row">
	<article class="col-sm-12 ">
		 
		<div class="jarviswidget jarviswidget-sortable" id="wid-id-0"  role="widget" style=" margin: 0 0 8px;">
				
				<header role="heading">
					<!--<span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
					<h2>Live Feeds </h2>
						-->
					<ul class="nav nav-tabs pull-left in" id="myTab">
						<li class="active">
							<a data-toggle="tab" href="/#s1"><i class="fa fa-filter"></i> <span class="hidden-mobile hidden-tablet">{!=T('Filter')!}</span></a>
						</li>
					</ul>

					<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
				</header>

				<!-- widget div-->
				<div class="no-padding" role="content">
	 

					<div class="widget-body">
						<!-- content -->
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade active in" id="s1">
								<form class="smart-form" action="">
									<fieldset>
						 				<section class="col col-2" >
											<label class="input">
												<i class="icon-prepend fa fa-key"></i>
												<input type="text" placeholder="{!=T('Id')!}" ng-model="filter.id">
											</label>
										</section>
										
										<section  class="col col-3">
											<label class="input">
												<i class="icon-prepend fa fa-user"></i>
												<input type="text" placeholder="{!=T('From who')!}" name="from" ng-model="filter.from">
											</label>
										</section>
										<section  class="col col-3">
											<label class="input">
												<i class="icon-prepend fa fa-user"></i>
												<input type="text" placeholder="{!=T('To who')!}" name="to" ng-model="filter.to">
											</label>
										</section>
										 
										
										<br>

										<section  class="col col-3" style="clear:both">
											<label>{!=T('Beginning')!}</label>
											<label class="datepagginator input">
												<i class="icon-prepend fa fa-calendar" style="padding:0px"></i>
												<input  type="text" class="form-control" placeholder="{!=T('From')!}" show-button-bar="false" datepicker-popup="yyyy-MM-dd" ng-model="customFilterParam.beginfrom" is-open="beginfromopened" starting-day="1"  name="beginfrom" show-weeks="false"/>
											</label>
											<br>
											<label class="datepagginator input">
												<i class="icon-prepend fa fa-calendar" style="padding:0px"></i>
												<input  type="text" class="form-control" placeholder="{!=T('To')!}" show-button-bar="false" datepicker-popup="yyyy-MM-dd" ng-model="customFilterParam.beginto" is-open="begintoopened" starting-day="1"   name="beginto" show-weeks="false"/>
											</label>
										</section>


										<section  class="col col-3">
											<label>{!=T('Ending')!}</label>
											<label class="datepagginator input">
												<i class="icon-prepend fa fa-calendar" style="padding:0px"></i>
												<input  type="text" class="form-control" placeholder="{!=T('From')!}" show-button-bar="false" datepicker-popup="yyyy-MM-dd" ng-model="customFilterParam.endfrom" is-open="endfromopened" starting-day="1"  name="endfrom" show-weeks="false"/>
											</label>
											<br>
											<label class="datepagginator input">
												<i class="icon-prepend fa fa-calendar" style="padding:0px"></i>
												<input  type="text" class="form-control" placeholder="{!=T('To')!}" show-button-bar="false" datepicker-popup="yyyy-MM-dd" ng-model="customFilterParam.endto" is-open="endtoopened" starting-day="1"   name="endto" show-weeks="false"/>
											</label>
										</section>


 
										<section  class="col col-3">
											<label>{!=T('Operation')!}</label><br>
											<label>
												<input class="checkbox style-0" type="checkbox" ng-model="customFilterParam.oper1">
												<span style="font-weight: 700;">{!=T("Wypożyczenie")!}</span>  <!-- ng-model="filter.borow"-->
											</label>
											<br>
											<label style="margin-top:6px">
												<input class="checkbox style-0" type="checkbox" ng-model="customFilterParam.oper2">
												<span style="font-weight: 700;">{!=T("Zmiana właściciela")!}</span>
											</label>
										</section>

										<section  class="col col-3">
											<label>{!=T('Status')!}</label> <br>
											<label>
												<input class="checkbox style-0" type="checkbox" ng-model="customFilterParam.open"> <!--ng-model="filter.is_open"-->
												<span style="font-weight: 700;">{!=T("Otwarta")!}</span>
											</label>
											<br>
											<label style="margin-top:6px">
												<input class="checkbox style-0" type="checkbox"  ng-model="customFilterParam.close">
												<span style="font-weight: 700;">{!=T("Zamknieta")!}</span>
											</label>
										</section>

									</fieldset>
								</form>
							</div>
							<!-- end s1 tab pane -->
						</div>

						<!-- end content -->
					</div>

				</div>
				<!-- end widget div -->
		</div>


	    <table ng-table="tableParams"  class="table">
	        <thead>
	        	<tr>
	            	<th class="sortable" ng-class="{
	                    'sort-asc': tableParams.isSortBy('id', 'asc'),
	                    'sort-desc': tableParams.isSortBy('id', 'desc')
	                  }"
	                    ng-click="tableParams.sorting({'id' :
	                    tableParams.isSortBy('id', 'asc') ? 'desc' : 'asc'})"
	                    rowspan="2">
	                    <div><i class="fa fa-fw fa-key"></i> {!=T('Id')!}</div>
	                </th>
	                <th class="sortable" ng-class="{
	                    'sort-asc': tableParams.isSortBy('from_id', 'asc'),
	                    'sort-desc': tableParams.isSortBy('from_id', 'desc')
	                  }"
	                    ng-click="tableParams.sorting({'from_id' :
	                    tableParams.isSortBy('from_id', 'asc') ? 'desc' : 'asc'})" rowspan="2">
	                    <div><i class="fa fa-fw fa-user"></i> {!=T('From who')!}</div>
	                </th>

	                <th class="sortable" ng-class="{
	                    'sort-asc': tableParams.isSortBy('to_id', 'asc'),
	                    'sort-desc': tableParams.isSortBy('to_id', 'desc')
	                  }"
	                    ng-click="tableParams.sorting({'to_id' :
	                    tableParams.isSortBy('to_id', 'asc') ? 'desc' :  'asc'})" rowspan="2">
	                    <div><i class="fa   fa-fw fa-user"></i> {!=T('To who')!}</div>
	                </th>

	                <th class="sortable" ng-class="{
	                    'sort-asc': tableParams.isSortBy('operation_id', 'asc'),
	                    'sort-desc': tableParams.isSortBy('operation_id', 'desc')
	                  }"
	                    ng-click="tableParams.sorting({'operation_id' :
	                    tableParams.isSortBy('operation_id', 'asc') ? 'desc' :'asc'})" rowspan="2">
	                    <div><i class="fa fa-fw fa-link"></i>{!=T('Operation')!}</div>
	                </th>

	                <th class="sortable" ng-class="{
	                    'sort-asc': tableParams.isSortBy('beginning', 'asc'),
	                    'sort-desc': tableParams.isSortBy('beginning', 'desc')
	                  }"
	                    ng-click="tableParams.sorting({'beginning' :
	                    tableParams.isSortBy('beginning', 'asc') ? 'desc' :'asc'})" rowspan="2">
	                    <div><i class="fa fa-fw fa-calendar"></i>{!=T('Beginning')!}</div>
	                </th>

	                <th class="sortable" ng-class="{
	                    'sort-asc': tableParams.isSortBy('ending', 'asc'),
	                    'sort-desc': tableParams.isSortBy('ending', 'desc')
	                  }"
	                    ng-click="tableParams.sorting({'ending' :
	                    tableParams.isSortBy('ending', 'asc') ? 'desc' :'asc'})" rowspan="2">
	                    <div><i class="fa fa-fw fa-calendar"></i>{!=T('Ending')!}</div>
	                </th>

	                <th class="sortable" ng-class="{
	                    'sort-asc': tableParams.isSortBy('is_open', 'asc'),
	                    'sort-desc': tableParams.isSortBy('is_open', 'desc')
	                  }"
	                    ng-click="tableParams.sorting({'is_open' :
	                    tableParams.isSortBy('is_open', 'asc') ? 'desc' :'asc'})" rowspan="2">
	                    <div><i class="fa fa-fw fa-lock"></i>{!=T('Status')!}</div>
	                </th>

	             
					<th class="sortable" ng-class="{
	                    'sort-asc': tableParams.isSortBy('comments', 'asc'),
	                    'sort-desc': tableParams.isSortBy('comments', 'desc')
	                  }"
	                    ng-click="tableParams.sorting({'comments' :
	                    tableParams.isSortBy('comments', 'asc') ? 'desc' :'asc'})" rowspan="2">
	                    <div><i class="fa fa-fw fa-lock"></i>{!=T('Comments')!}</div>
	                </th>
	                
	        	</tr>  
	        </thead>  
	        <tbody ng-repeat="item in $data " ng-if="item.visible">
		        <tr ng-click="MainCtrl.openTransactionModal(item)" style="cursor:pointer">
		            <td width="80" data-title="'Id'" sortable="'id'" filter="{'id': 'text'}">
		            	{[item.id]}
		            </td>
		            <td data-title="'Od kogo'" sortable="'from_id'" filter="{'from': 'text'}">
		            	{[item.from.firstname +" "+item.from.lastname]}
		            </td>
		            <td data-title="'Do kogo'" sortable="'to_id'" filter="{'to': 'text'}">
		            	{[item.to.firstname +" "+item.to.lastname]}
		            </td>
		            <td data-title="'Operacja'" sortable="'operation_id'" filter="{'operation_id':'text'}">
		            	<!--{[getItem(operations,item.operation_id).name]}-->
		            	{[item.operation.name]}
		            	
		            </td>
		            <td data-title="'Początek'" sortable="'beginning'" filter="{'beginning': 'text'}">
		           		{[item.beginning]}
		           	</td>

		           	<td data-title="'Koniec'" sortable="'ending'" filter="{'ending': 'text'}">
		           		{[item.ending]}
		           	</td>
		           	<td data-title="'Status'" sortable="'is_open'" filter="{'is_open': 'text'}">
		           		{[item.is_open ? 'Otwarta':'Zamknięta']}
		           	</td>
		           	<td data-title="'Uwagi'" sortable="'comments'" filter="{'comments': 'text'}"  popover-trigger="mouseenter"  popover="{[item.description]}">
		           		{[item.description |truncate:30]}
		           	</td>

		            <!-- popover-trigger="mouseenter" popover-html="true" popover="<b>dv</b>"<div></div>  item.description ]--> 
		        </tr> 

		    </tbody>    
	    </table>    
	</article>
 	
</div>
	  

</div>