<style type="text/css">
	#mypop{
	 	position:absolute;
	 	top:30px;
	 	left:0px;
	 	z-index:1010;
	 	display: inline-block;
	 	padding:10px;
		background-color: #fff;
		border: 1px solid rgba(0, 0, 0, 0.2);
	 	border-radius: 3px;
	 	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	}
</style>
<div ng-controller="browseSpecificationCtrl" >

	<flashmessage> </flashmessage>  
 
 	<div class="row" >
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
			<h1 class="page-title txt-color-blueDark" ng-hide="pageLoading">
				<i class="fa fa-edit fa-fw "></i>
				Specyfikacje
				<span>> Przeglądaj </span>
			</h1>

			<h1 class="page-title txt-color-blueDark" ng-show="pageLoading" >
				<img src="{!=URL('static','images/loading.gif')!}"  style="margin-top:-10px"> 
				{!=T('Loading')!}...
			</h1>

		</div>
	</div>



 	<div class="row">
	<article class="col-sm-12 ">
		 
		<div class="jarviswidget jarviswidget-sortable" id="wid-id-0"  role="widget" style=" margin: 0 0 8px;">
			<header role="heading">
				<ul class="nav nav-tabs pull-left in" id="myTab">
					<li class="active">
						<a data-toggle="tab" ng-click="openTab='fs1'" href="/#fs1"><i class="fa fa-filter"></i> <span class="hidden-mobile hidden-tablet">{!=T('Filtr Specyfikacji')!}</span></a>
					</li>
					<li>
						<a data-toggle="tab" ng-click="openTab='fs2'" href="/#fs2"><i class="fa fa-filter"></i> <span class="hidden-mobile hidden-tablet">{!=T('Filtr Danych Katalogowych')!}</span></a>
					</li>
				</ul>
				<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
			</header>
			<!-- widget div-->
			<div class="widget-body">
				<!-- content -->
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade active in" id="fs1">
						<form class="smart-form" action="">
							<fieldset>
						 		<section ng-show="columns.id.visible" class="col col-2" >
									<label class="input">
										<i class="icon-prepend fa fa-key"></i>
										<input type="text" placeholder="{!=T('Id')!}" ng-model="filter.id">
									</label>
								</section>
										
								<section  ng-show="columns.model.visible" class="col col-3">
									<label class="input">
										<i class="icon-prepend fa fa-user"></i>
										<input type="text" placeholder="{!=T('Model')!}" name="model" ng-model="filter.model">
									</label>
								</section>

								<section  ng-show="columns.company.visible" class="col col-3">
									<label class="input">
										<i class="icon-prepend fa fa-suitcase"></i>
										<input type="text" placeholder="{!=T('Company')!}" name="company" ng-model="filter.company">
									</label>
								</section>

								<section  ng-show="columns.operating_system.visible" class="col col-3">
									<label class="input">
										<i class="icon-prepend fa fa-fw fa-desktop"></i>
										<input type="text" placeholder="{!=T('System')!}" name="system " ng-model="filter.operating_system">
									</label>
								</section>

								<section  ng-show="columns.system_version.visible" class="col col-3">
									<label class="input">
										<i class="icon-prepend fa fa-fw fa-inbox"></i>
										<input type="text" placeholder="{!=T('Wersja Systemu')!}" name="system_version" ng-model="filter.system_version">
									</label>
								</section>

								<section  ng-show="columns.system_version_number.visible" class="col col-3">
									<label class="input">
										<i class="icon-prepend fa fa-fw fa-tags"></i>
										<input type="text" placeholder="{!=T('Numer Wersji Sys.')!}" name="system_version_number" ng-model="filter.system_version_number">
									</label>
								</section>

								<section  ng-show="columns.firmware.visible" class="col col-3">
									<label class="input">
										<i class="icon-prepend fa fa-fw fa-key"></i>
										<input type="text" placeholder="{!=T('Firmware')!}" name="firmware" ng-model="filter.firmware">
									</label>
								</section>


								<section  ng-show="columns.hardware.visible" class="col col-3">
									<label class="input">
										<i class="icon-prepend fa fa-fw fa-cog"></i>
										<input type="text" placeholder="{!=T('Hardware')!}" name="hardware" ng-model="filter.hardware">
									</label>
								</section>

								<section class="col col-3 pull-right">
									<!-- POKAŻ/UKRYJ KOLUMNY TABELI -->
									<div class="btn-group display-inline pull-right text-align-left" style=" margin-top:-4px">
										<button class="btn btn-default dropdown-toggle " style="width:100px;height:36px" data-toggle="dropdown">
											<i class="fa fa-cog fa-lg"></i>
											{!=T('Columns')!}
										</button>
										<ul class="dropdown-menu dropdown-menu-xs pull-right ColVis_collection">
											<li ng-repeat="(key, value) in columns">
												<label>
													<input class="checkbox style-0" type="checkbox" ng-model="value.visible" ng-click="value.visible =! value.visible">
													<span>{[value.title]}</span>
												</label>
											</li>	
										</ul>
									</div>
								</section>

							</fieldset>
						</form>
					</div>
					<!-- end fs1 tab pane -->
					 
					<div class="tab-pane fade" id="fs2">
						<div style="height: 350px;padding:0px" >
							<article class="col col-sm-12 col-md-6  col-lg-6">
								 	<div class="widget-body">
										<div class="tabs-left">
											<!-- TAB -->
											<ul id="demo-pill-nav" class="nav nav-tabs tabs-left">
												<li class="active">
													<a data-toggle="tab" href="#tab-r1">
														<i class="icon-prepend fa fa-fw fa-hdd-o txt-color-red"></i>
														{!=T('Chipset')!}
													</a>
												</li>
												<li >
													<a data-toggle="tab" href="#tab-r2">
														<i class="icon-prepend fa fa-fw fa-volume-up txt-color-orange"></i>
														{!=T('Domain preference')!}
													</a>
												</li>
												<li >
													<a data-toggle="tab" href="#tab-r3">
														<i class="icon-prepend fa fa-fw fa-mobile-phone txt-color-blueLight"></i>
														{!=T('Terminal Category')!}
													</a>
												</li>
												<li >
													<a data-toggle="tab" href="#tab-r4">
														<i class="icon-prepend fa fa-fw fa-road txt-color-greenDark"></i>
														{!=T('3GPP	')!} 
													</a>
												</li>
												<li >
													<a data-toggle="tab" href="#tab-r5">
														<i class="icon-prepend fa fa-fw fa-signal txt-color-pink"></i>
		 												{!=T('Systems')!}
													</a>
												</li>
												<li >
													<a data-toggle="tab" href="#tab-r6">
														<i class="icon-prepend fa fa-fw fa-align-justify txt-color-greenLight"></i>
														{!=T('Bands')!}
													</a>
												</li>
												<li >
													<a data-toggle="tab" href="#tab-r7">
														<i class="icon-prepend fa fa-fw fa-ambulance txt-color-yellow"></i>
														{!=T('Mobility')!}  
													</a>
												</li>
												<li >
													<a data-toggle="tab" href="#tab-r8">
														<i class="icon-prepend fa fa-fw fa-area-chart txt-color-darken"></i>
														{!=T('Carrier aggregation for LTE ')!}  
													</a>
												</li>
												<li >
													<a data-toggle="tab" href="#tab-r9">
														<i class="icon-prepend fa fa-fw fa-cog txt-color-blueDark"></i>
														{!=T('Other')!}  
													</a>
												</li>
											</ul>
											<!-- TAB CONTENT-->
											<div class="tab-content">
												<div id="tab-r1" class="tab-pane active">
													<div  class="col col-md-8 col-lg-8"> 
														<legend>{!=T('Chipset Provider')!}</legend>
										                <input class="form-control" type="text" ng-model="f_chipset_provider" name="chipset_provider" typeahead="item as item.name for item in company | filter:$viewValue | filter:{visible: true} | limitTo:8">
														
														<legend>{!=T('Chipset Model')!}</legend>
										                <input class="form-control" type="text" ng-model="f_chipse_model" name="chipse_model">
														
														<legend>{!=T('Baseline')!}</legend>
										                <input class="form-control" type="text" ng-model="f_baseline" name="baseline">

														 
														<br> 
														<div class=" pull-right"  style="right:20px">
															<a class="btn btn-sm btn-default" ng-click="addChipsetFilter(f_chipset_provider, f_chipse_model, f_baseline)">
																<i class="fa fa-fw fa-plus-square-o"></i>
																{!=T('Add')!}
															</a>
														</div>
													</div>
												</div>
												<div id="tab-r2" class="tab-pane">
													<div  class="col col-md-8 col-lg-8"> 
														<legend>{!=T('Ue Usage Settings')!}</legend>
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="ues.voice">
															<span>Voice Centric</span>
														</label>
															 
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="ues.data">
															<span>Data Centric</span>
														</label>

														<legend>{!=T('Voice domain preference (EUTRAN)')!}</legend>
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="vd.cs_voice">
															<span>CS Voice only</span>
														</label>
															 
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="vd.ps_voice">
															<span>IMS PS Voice only</span>
														</label>
															 
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="vd.cs_voice_ps_voice">
															<span>CS Voice preferred, IMS PS Voice as secondary</span>
														</label>
														 
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="vd.ps_voice_cs_voice">
															<span>IMS PS Voice preferred, CS Voice as secondary</span>
														</label>
															
														<div class=" pull-right"  style="right:20px">
															<a class="btn btn-sm btn-default" ng-click="addVoiceFilter(ues,vd)"> 
																<i class="fa fa-fw fa-plus-square-o"></i>
																{!=T('Add')!}
															</a>
														</div>
												 	</div>
												</div>
												<div id="tab-r3" class="tab-pane">
													<div  class="col col-md-8 col-lg-8"> 
													
														<legend>{!=T('3G Downlink')!}</legend>
														<input class="form-control" type="text" style="margin-top:10px" ng-model="term.downlink">
														 
														<legend>{!=T('3G Uplink')!}</legend>
														<input class="form-control" type="text" style="margin-top:10px" ng-model="term.uplink">

														<legend>{!=T('3G LTE')!}</legend>
														<input class="form-control" type="text" style="margin-top:10px" ng-model="term.lte">
														 
														<br>
														<span>*Separator <b>SPACJA</b></span>
														<span class=" pull-right" >
															<a class="btn btn-sm btn-default" ng-click="addTerminalFilter(term)">
																<i class="fa fa-fw fa-plus-square-o"></i>
																{!=T('Add')!}
															</a>
														</span>
													</div>
												</div>
												<div id="tab-r4" class="tab-pane">
													<div  class="col col-md-8 col-lg-8">
														<legend>{!=T('3GPP')!}</legend> 
														<table>
															<tr>
																<td  style="width:40%">
																	<label>
																		<input class="checkbox style-0" type="checkbox" ng-model="trpp_temp_filter['Rel-13']">
																		<span>Rel-13</span>
																	</label>
																</td>
																<td style="width:16%"></td>
																<td style="width:40%">
																	<label>
																		<input class="checkbox style-0" type="checkbox" ng-model="trpp_temp_filter['Rel-12']">
																		<span>Rel-12</span>
																	</label>
																</td>
															</tr>
															<tr>
																<td>
																<label>
																	<input class="checkbox style-0" type="checkbox" ng-model="trpp_temp_filter['Rel-11']">
																	<span>Rel-11</span>
																</label>	
																</td>
																<td></td>
																<td>
																	<label>
																		<input class="checkbox style-0" type="checkbox" ng-model="trpp_temp_filter['Rel-10']">
																		<span>Rel-10</span>
																	</label>
																</td>
															</tr>
															<tr>
																<td>
																<label>
																	<input class="checkbox style-0" type="checkbox" ng-model="trpp_temp_filter['Rel-9']">
																	<span>Rel-9</span>
																</label>	
																</td>
																<td></td>
																<td>
																	<label>
																		<input class="checkbox style-0" type="checkbox" ng-model="trpp_temp_filter['Rel-8']">
																		<span>Rel-8</span>
																	</label>
																</td>
															</tr>
															<tr>
																<td>
																<label>
																	<input class="checkbox style-0" type="checkbox" ng-model="trpp_temp_filter['Rel-7']">
																	<span>Rel-7</span>
																</label>	
																</td>
																<td></td>
																<td>
																	<label>
																		<input class="checkbox style-0" type="checkbox" ng-model="trpp_temp_filter['Rel-6']">
																		<span>Rel-6</span>
																	</label>
																</td>
															</tr>
															<tr>
																<td>
																<label>
																	<input class="checkbox style-0" type="checkbox" ng-model="trpp_temp_filter['Rel-5']">
																	<span>Rel-5</span>
																</label>	
																</td>
																<td></td>
																<td>
																	<label>
																		<input class="checkbox style-0" type="checkbox" ng-model="trpp_temp_filter['Rel-4']">
																		<span>Rel-4</span>
																	</label>
																</td>
															</tr>
															<tr>
																<td>
																<label>
																	<input class="checkbox style-0" type="checkbox" ng-model="trpp_temp_filter['Rel-99']">
																	<span>Rel-99</span>
																</label>	
																</td>
																 
															</tr>
														</table>
													
														<br>
														<span class=" pull-right" >
															<a class="btn btn-sm btn-default" ng-click="add3GPPFilter(trpp_temp_filter)">
																<i class="fa fa-fw fa-plus-square-o"></i>
																{!=T('Add')!}
															</a>
														</span>
													</div>	
												</div>
												<div id="tab-r5" class="tab-pane">
													<div  class="col col-md-8 col-lg-8">
														<legend>{!=T('Systems')!}</legend> 
														<table>
															<tr>
																<td style="width:26%">
																	<label>
																		<input class="checkbox style-0" type="checkbox" ng-init="systems_f.system_gsm=false" ng-model="systems_f.system_gsm">
																		<span>GSM</span>
																	</label>
																</td>
																<td style="width:8%"></td>
																<td style="width:29%">
																	<label>
																		<input class="checkbox style-0" type="checkbox" ng-init="systems_f.system_gprs=false" ng-model="systems_f.system_gprs">
																		<span>GPRS</span>
																	</label>
																</td>
																<td style="width:8%"></td>
																<td style="width:29%">
																	<label>
																		<input class="checkbox style-0" type="checkbox" ng-init="systems_f.system_edge=false"  ng-model="systems_f.system_edge">
																		<span>EDGE</span>
																	</label>
																</td>
															</tr>

															<tr>
																<td style="width:26%">
																	<label>
																		<input class="checkbox style-0" type="checkbox" ng-init="systems_f.system_umts=false" ng-model="systems_f.system_umts">
																		<span>UMTS</span>
																	</label>
																</td>
																<td style="width:8%"></td>
																<td style="width:29%">
																	<label>
																		<input class="checkbox style-0" type="checkbox" ng-init="systems_f.system_hspa=false" ng-model="systems_f.system_hspa">
																		<span>HSPA</span>
																	</label>
																</td>
																<td style="width:8%"></td>
																<td style="width:29%">
																	<label>
																		<input class="checkbox style-0" type="checkbox" ng-init="systems_f.system_hspa_p=false" ng-model="systems_f.system_hspa_p">
																		<span>HSPA+</span>
																	</label>
																</td>
															</tr>
															<tr>
																<td style="width:26%">
																	<label>
																		<input class="checkbox style-0" type="checkbox" ng-init="systems_f.system_lte=false" ng-model="systems_f.system_lte">
																		<span>LTE</span>
																	</label>
																</td>
																<td style="width:8%"></td>
																<td style="width:29%">
																	<label>
																		<input class="checkbox style-0" type="checkbox" ng-init="systems_f.system_lte_a=false" ng-model="systems_f.system_lte_a">
																		<span>LTE A</span>
																	</label>
																</td>
																<td style="width:8%"></td>
																<td style="width:29%">
																	<label>
																		<input class="checkbox style-0" type="checkbox" ng-init="systems_f.system_wifi=false" ng-model="systems_f.system_wifi">
																		<span>WiFi</span>
																	</label>
																</td>
															</tr>
														</table>
														<br>

														<legend>{!=T('WiFi ')!}</legend> 
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="wifi.a">
															<span>a</span>
														</label>

														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="wifi.b">
															<span>b</span>
														</label>

														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="wifi.g">
															<span>g</span>
														</label>

														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="wifi.n">
															<span>n</span>
														</label>
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="wifi.ac">
															<span>ac</span>
														</label>
														<br><br>
														<span class=" pull-right" >
															<a class="btn btn-sm btn-default" ng-click="addSystemsFilter(systems_f, wifi)">
																<i class="fa fa-fw fa-plus-square-o"></i>
																{!=T('Add')!}
															</a>
														</span>
													</div>
												</div>
												<div id="tab-r6" class="tab-pane">
													<div  class="col col-md-8 col-lg-8">
														<legend>{!=T('Suported Bands')!}</legend> 
														<div class="btn-group">
															<button class="btn {[shown_bands_filter==band_lte? 'btn-primary':'btn-default']}" type="button" ng-click="show_bands_filter(band_lte)" style=""> LTE </button>
															<button class="btn {[shown_bands_filter==band_3g? 'btn-primary':'btn-default']}" type="button" ng-click="show_bands_filter(band_3g)"> 3G </button>
															<button class="btn {[shown_bands_filter==band_2g? 'btn-primary':'btn-default']}" type="button" ng-click="show_bands_filter(band_2g)"> 2G </button>
															<button class="btn {[shown_bands_filter==band_wifi? 'btn-primary':'btn-default']}" type="button" ng-click="show_bands_filter(band_wifi)"> WiFi </button>
														</div>
														<br><br>

														<table ng-show="shown_bands_filter==band_lte">
															<tr ng-repeat="(key, value) in band_lte" align="center" ng-if=" $index % 4 ==0">
																<td>
																	<label>
																		<input class="checkbox style-0" type="checkbox" ng-model="value.selected">
																		<span>{[value.title]}</span>
																	</label>
																</td>
																<td ng-if="!$last">
																	<label>
																		<input class="checkbox style-0" type="checkbox" ng-model="band_lte[$index + 1].selected">
																		<span>{[band_lte[$index + 1].title]}</span>
																	</label>
																</td>
																<td  ng-if="!$last">
																	<label>
																		<input class="checkbox style-0" type="checkbox" ng-model="band_lte[$index + 2].selected">
																		<span>{[band_lte[$index + 2].title]}</span>
																	</label>
																</td>
																<td  ng-if="!$last">
																	<label>
																		<input class="checkbox style-0" type="checkbox" ng-model="band_lte[$index + 3].selected">
																		<span>{[band_lte[$index + 3].title]}</span>
																	</label>
																</td>
															</tr>
														</table>


														<table ng-show="shown_bands_filter==band_3g">
															<tr ng-repeat="(key, value) in band_3g" align="center" ng-if=" $index % 4 ==0">
																<td>
																	<label>
																		<input class="checkbox style-0" type="checkbox" ng-model="value.selected">
																		<span>{[value.title]}</span>
																	</label>
																</td>
																<td ng-if="!$last">
																	<label>
																		<input class="checkbox style-0" type="checkbox" ng-model="band_3g[$index + 1].selected">
																		<span>{[band_3g[$index + 1].title]}</span>
																	</label>
																</td>
																<td  ng-if="!$last">
																	<label>
																		<input class="checkbox style-0" type="checkbox" ng-model="band_3g[$index + 2].selected">
																		<span>{[band_3g[$index + 2].title]}</span>
																	</label>
																</td>
																<td  ng-if="!$last">
																	<label>
																		<input class="checkbox style-0" type="checkbox" ng-model="band_3g[$index + 3].selected">
																		<span>{[band_3g[$index + 3].title]}</span>
																	</label>
																</td>
															</tr>
														</table>
														<table ng-show="shown_bands_filter==band_2g">
															<tr ng-repeat="(key, value) in band_2g" align="center" ng-if=" $index % 2 ==0">
																<td>
																	<label>
																		<input class="checkbox style-0" type="checkbox" ng-model="value.selected">
																		<span>{[value.title]} MHz</span>
																	</label>
																</td>
																<td ng-if="!$last">
																	<label>
																		<input class="checkbox style-0" type="checkbox" ng-model="band_2g[$index + 1].selected">
																		<span>{[band_2g[$index + 1].title]} MHz</span>
																	</label>
																</td>														 
															</tr>
														</table>
														<table ng-show="shown_bands_filter==band_wifi">
															<tr ng-repeat="(key, value) in band_wifi" align="center" ng-if=" $index % 2 ==0">
																<td>
																	<label>
																		<input class="checkbox style-0" type="checkbox" ng-model="value.selected">
																		<span>{[value.title]} GHz</span>
																	</label>
																</td>
																<td ng-if="!$last">
																	<label>
																		<input class="checkbox style-0" type="checkbox" ng-model="band_wifi[$index + 1].selected">
																		<span>{[band_wifi[$index + 1].title]} GHz</span>
																	</label>
																</td>
															 
															</tr>
														</table>

														<br><br>
														<span class=" pull-right" >
															<a class="btn btn-sm btn-default" ng-click="addBandsFilter(false)">
																<i class="fa fa-fw fa-plus-square-o"></i>
																{!=T('Add')!}
															</a>
														</span>

													</div>
												</div>
												<div id="tab-r7" class="tab-pane">
													<div  class="col col-md-8 col-lg-8">
														<legend>{!=T('Mobility')!}</legend> 
														<label style="margin-left:20px">
															<input class="checkbox style-0" type="checkbox" ng-model="monility.lte_3g_handover">
															<span>LTE<i class="icon-prepend fa fa-fw fa-arrow-right"></i>3G handover</span>   
														</label><br>
														<label style="margin-left:20px">
															<input class="checkbox style-0" type="checkbox" ng-model="monility.lte_2g_handover">
															<span>LTE<i class="icon-prepend fa fa-fw fa-arrow-right"></i>2G handover</span>   
														</label><br>
														<label style="margin-left:20px">
															<input class="checkbox style-0" type="checkbox" ng-model="monility.lte_2g_nacc">
															<span>LTE<i class="icon-prepend fa fa-fw fa-arrow-right"></i>2G NACC</span>   
														</label><br>

														<label style="margin-left:20px">
															<input class="checkbox style-0" type="checkbox" ng-model="monility.tg_lte_handover">
															<span>3G<i class="icon-prepend fa fa-fw fa-arrow-right"></i>LTE handover</span>   
														</label><br>

														<label style="margin-left:20px">
															<input class="checkbox style-0" type="checkbox" ng-model="monility.dg_lte_handover">
															<span>2G<i class="icon-prepend fa fa-fw fa-arrow-right"></i>LTE handover</span>   
														</label><br>

														<label style="margin-left:20px">
															<input class="checkbox style-0" type="checkbox" ng-model="monility.inter_frequency_handover">
															<span>Inter-frequency handover</span>   
														</label><br>

														<label style="margin-left:20px">
															<input class="checkbox style-0" type="checkbox" ng-model="monility.fdd_tdd_handover">
															<span>FDD<i class="icon-prepend fa fa-fw fa-arrow-left"></i><i class="icon-prepend fa fa-fw fa-arrow-right"></i>TDD handover</span>    
														</label><br>
														
														<br><br>
														<span class=" pull-right" >
															<a class="btn btn-sm btn-default" ng-click="addMobilityFilter(monility)">
																<i class="fa fa-fw fa-plus-square-o"></i>
																{!=T('Add')!}
															</a>
														</span>
													</div>
												</div>
												<div id="tab-r8" class="tab-pane">
													<div  class="col col-md-8 col-lg-8">
														<legend>{!=T('Intra-band contiguous CA')!}</legend> 
													 	<input class="form-control" type="text" ng-model="agregation.intra_band_c_CA">

													 	<legend>{!=T('Intra-band non-contiguous CA')!}</legend> 
													 	<input class="form-control" type="text" ng-model="agregation.intra_band_nc_CA">

													 	<legend>{!=T('Inter-band CA')!}</legend> 
													 	<input class="form-control" type="text" ng-model="agregation.inter_band_CA">

														<br>
														<div class=" pull-right"  style="right:20px">
															<a class="btn btn-sm btn-default" ng-click="addCarrierAgregationFilter(agregation,false)">
																<i class="fa fa-fw fa-plus-square-o"></i>
																{!=T('Add')!}
															</a>
														</div>
													</div>
												</div>
												<div id="tab-r9" class="tab-pane">
													<div  class="col col-md-8 col-lg-8">
														<label class="control-label" style="font-size:14px; width:100px"><i class="icon-prepend fa fa-fw fa-random"> </i> {!=T(' Dual Carrier')!}</label>
														<br>
														<label style="margin-left:40px"> 
															<input class="checkbox style-0" type="checkbox" ng-model="other.dual_carrier">
															<span>Dual Carrier for HSPA+</span>
														</label> <br><br>
													</div>

													<div  class="col col-md-8 col-lg-8">
														<label class=" control-label" style="font-size:14px; width:100px"><i class="icon-prepend fa fa-fw fa-rss"></i> {!=T('MIMO')!}</label>
														<label style="margin-left:20px"> 
															
															<span style="position: relative; left: 0; top: 0;margin-left:20px">
																<a  class="btn btn-default" ng-init="mimoV = false" ng-click="mimoV = !mimoV">MIMO</a> 
							 								 	<div ng-show="mimoV"  id="mypop">
							 								 		<table><tbody><tr><td ng-repeat="(key, value) in mimo" align="center" style="border-left: 1px solid #eaebef;"><label><input class="checkbox style-0" type="checkbox" ng-model="value.selected"><span>{[value.title ]} </span></label></td></tr></tbody></table>
							 								 	</div>
															</span>	
														</label> <br><br>
													</div>

													<div  class="col col-md-8 col-lg-8">
														<label class="control-label" style="font-size:14px; width:100px"><i class="icon-prepend fa fa-fw fa-barcode"></i> {!=T('ROHC')!}</label>
														 
														<label style="margin-left:20px">
															<span style="position: relative; left: 0; top: 0;margin-left:20px">
																<a  class="btn btn-default" ng-init="rohcV = false" ng-click="rohcV = !rohcV">ROHC</a> 
							 								 	<div ng-show="rohcV"  id="mypop">
							 								 		<table><tbody><tr><td ng-repeat="(key, value) in rohc" align="center" style="border-left: 1px solid #eaebef;"><label><input class="checkbox style-0" type="checkbox" ng-model="value.selected"><span>profile {[value.title ]} </span></label></td></tr></tbody></table>
							 								 	</div>
															</span>	
														</label> <br><br>
													</div>

													<div  class="col col-md-8 col-lg-8">
														<label class="col-md-4 control-label" style="font-size:14px; width:100px"><i class="icon-prepend fa fa-fw fa-lemon-o"></i> {!=T('cDRX')!}</label>
														
														<label style="margin-left:24px">
															<span style="position: relative; left: 0; top: 0;margin-left:20px">
																<a  class="btn btn-default" ng-init="cdrxV = false" ng-click="cdrxV = !cdrxV">cDRX</a> 
							 								 	<div ng-show="cdrxV"  id="mypop">
							 								 		<table><tbody><tr><td ng-repeat="(key, value) in drx" align="center" style="border-left: 1px solid #eaebef;"><label><input class="checkbox style-0" type="checkbox" ng-model="value.selected"><span>{[value.title ]} </span></label></td></tr></tbody></table>
							 								 	</div>
															</span>	
														</label> <br><br>
													</div>

													<div  class="col col-md-8 col-lg-8">
														<label class="col-md-4 control-label" style="font-size:14px; width:100px"><i class="icon-prepend fa fa-fw fa-exchange"></i> {!=T('Duplex')!}</label>
														
														<label style="margin-left:24px">
															<span style="position: relative; left: 0; top: 0;margin-left:20px">
																<a  class="btn btn-default" ng-init="cdrxV = false" ng-click="duplexV = !duplexV">Duplex</a> 
							 								 	<div ng-show="duplexV"  id="mypop">
							 								 		<table><tbody><tr><td ng-repeat="(key, value) in duplex" align="center" style="border-left: 1px solid #eaebef;"><label><input class="checkbox style-0" type="checkbox" ng-model="value.selected"><span>{[value.title ]} </span></label></td></tr></tbody></table>
							 								 	</div>
															</span>	
														</label> <br><br>
													</div>
 
													<div  class="col col-md-8 col-lg-8">
														<div class=" pull-right"  style="right:20px">
															<a class="btn btn-sm btn-default" ng-click="addOthersFilter(other, false)">
																<i class="fa fa-fw fa-plus-square-o"></i>
																{!=T('Add')!}
															</a>
														</div>	 
													</div>	
												</div>											 
											</div>
											<!--END TAB CONTENT-->
										</div>
									</div>
							</article>

							<article class="col col-sm-12 col-md-6 col-lg-6" style="padding:0px; min-height: 100% !important;height: 100%; position:none" >
								<div style="overflow:auto; max-height:300px">
									<div style="height:34px;overflow:auto;" class="alert  bg-color-red  txt-color-white fade in" ng-if="datasheet_filter.chipset.providers.length|| datasheet_filter.chipset.models.length || datasheet_filter.chipset.baselines.length">
										<button class="close"   ng-click="datasheet_filter.chipset.providers=[];  datasheet_filter.chipset.models=[]; datasheet_filter.chipset.baselines=[]"> × </button>
										<i class="fa-fw fa fa-hdd-o"></i>
										<span ng-repeat="(key, value) in datasheet_filter.chipset.providers" ng-if="datasheet_filter.chipset.providers.length">{[value]}, </span>/
										<span ng-repeat="(key, value) in datasheet_filter.chipset.models"  ng-if="datasheet_filter.chipset.models.length">{[value]}, </span>/
										<span ng-repeat="(key, value) in datasheet_filter.chipset.baselines"  ng-if="datasheet_filter.chipset.baselines.length">{[value]}, </span>
									</div>

									<div style="height:34px;overflow:auto;" class="alert  bg-color-orange  txt-color-darkGreen fade in" ng-if="datasheet_filter.ue_usage_setting.voice_centric || datasheet_filter.ue_usage_setting.data_centric || datasheet_filter.voice_domain.cs_voice || datasheet_filter.voice_domain.ps_voice || datasheet_filter.voice_domain.cs_voice_ps_voice || datasheet_filter.voice_domain.ps_voice_cs_voice">
										<button class="close" ng-click="addVoiceFilter(false,false)"> × </button>
										<i class="fa-fw fa fa-volume-up"></i>
										<span ng-if="datasheet_filter.ue_usage_setting.voice_centric">Voice Centric, </span> 
										<span ng-if="datasheet_filter.ue_usage_setting.data_centric">Data Centric </span> 
										<strong> / </strong>
										<span ng-if="datasheet_filter.voice_domain.cs_voice">CS Voice only, </span>
										<span ng-if="datasheet_filter.voice_domain.ps_voice ">IMS PS Voice only, </span>
										<span ng-if="datasheet_filter.voice_domain.cs_voice_ps_voice">CS Voice preferred, IMS PS Voice as secondary, </span>
										<span ng-if="datasheet_filter.voice_domain.ps_voice_cs_voice">IMS PS Voice preferred, CS Voice as secondary, </span>
									</div>

									<div style="height:34px;overflow:auto;" class="alert  bg-color-blueLight  txt-color-red fade in" ng-if="datasheet_filter.terminal.cat_3g_downlink.length|| datasheet_filter.terminal.cat_3g_uplink.length || datasheet_filter.terminal.cat_lte.length">
										<button class="close"   ng-click="addTerminalFilter({})"> × </button>
										<i class="fa-fw fa fa-mobile-phone"></i>
										<span ng-if="datasheet_filter.terminal.cat_3g_downlink.length">3G Down.: </span><span ng-repeat="(key, value) in datasheet_filter.terminal.cat_3g_downlink" ng-if="datasheet_filter.terminal.cat_3g_downlink.length">{[value]}, </span>/
										<span ng-if="datasheet_filter.terminal.cat_3g_uplink.length">3G Upl.: </span><span ng-repeat="(key, value) in datasheet_filter.terminal.cat_3g_uplink"  ng-if="datasheet_filter.terminal.cat_3g_uplink.length">{[value]}, </span>/
										<span  ng-if="datasheet_filter.terminal.cat_lte.length">LTE: </span><span ng-repeat="(key, value) in datasheet_filter.terminal.cat_lte"  ng-if="datasheet_filter.terminal.cat_lte.length">{[value]}, </span>
									</div>

									<div style="height:34px;overflow:auto;" class="alert  bg-color-greenDark  txt-color-white fade in" ng-if="datasheet_filter.tgpp.length">
										<button class="close" ng-click="add3GPPFilter({})"> × </button>
										<i class="fa-fw fa fa-road"></i>
										<span>3GPP: </span><span ng-repeat="(key, value) in datasheet_filter.tgpp">{[value]}, </span>
									</div>

									<div style="height:34px;overflow:auto;" class="alert  bg-color-pink  txt-color-white fade in" ng-if="datasheet_filter.system_gsm || datasheet_filter.system_gprs || datasheet_filter.system_edge || datasheet_filter.system_umts ||datasheet_filter.system_hspa || datasheet_filter.system_hspa_p ||datasheet_filter.system_lte ||datasheet_filter.system_lte_a || datasheet_filter.system_wifi || (datasheet_filter.standard_wifi.length >0)">
										<button class="close" ng-click="addSystemsFilter({},{})"> × </button>
										<i class="fa-fw fa fa-road"></i>
										<span ng-if="datasheet_filter.system_gsm">GSM, </span> <span ng-if="datasheet_filter.system_gprs">GPRS, </span>
										<span ng-if="datasheet_filter.system_edge">EDGE, </span> <span ng-if="datasheet_filter.system_umts">UMTS, </span>
										<span ng-if="datasheet_filter.system_hspa">HSPA, </span> <span ng-if="datasheet_filter.system_hspa_p">HSPA+, </span>
										<span ng-if="datasheet_filter.system_lte">LTE, </span> <span ng-if="datasheet_filter.system_lte_a">LTE A, </span>
										<span ng-if="datasheet_filter.system_wifi">WiFi </span>

										<span >|| Wifi: </span><span ng-repeat="(key, value) in datasheet_filter.standard_wifi">{[value]}, </span>

									</div>


									<div style="height:34px;overflow:auto;" class="alert  bg-color-greenLight  txt-color-white fade in" ng-if="datasheet_filter.band_lte.length || datasheet_filter.band_3g.length || datasheet_filter.band_2g.length || datasheet_filter.band_wifi.length">
										<button class="close" ng-click="addBandsFilter(true)"> × </button>
										<i class="fa-fw fa fa-align-justify"></i>
										<span ng-if="datasheet_filter.band_lte.length">LTE: {[]} </span> <span ng-repeat="(key, value) in datasheet_filter.band_lte">{[value]}, </span>

										<span ng-if="datasheet_filter.band_3g.length"> 3G: {[]} </span> <span ng-repeat="(key, value) in datasheet_filter.band_3g">{[value]}, </span>
										<span ng-if="datasheet_filter.band_2g.length"> 2G: {[]} </span> <span ng-repeat="(key, value) in datasheet_filter.band_2g">{[value]}, </span>
										<span ng-if="datasheet_filter.band_wifi.length"> WiFi: {[]} </span> <span ng-repeat="(key, value) in datasheet_filter.band_wifi">{[value]}, </span>
									</div>

									<div style="height:34px;overflow:auto;" class="alert  bg-color-yellow  txt-color-darkGreen fade in" ng-if="datasheet_filter.lte_3g_handover || datasheet_filter.lte_2g_handover|| datasheet_filter.lte_2g_nacc || datasheet_filter.tg_lte_handover|| datasheet_filter.dg_lte_handover||  datasheet_filter.inter_frequency_handover || datasheet_filter.fdd_tdd_handover">
										<button class="close" ng-click="addMobilityFilter(false)"> × </button>
										<i class="fa-fw fa fa-ambulance"></i>
										<span ng-if="datasheet_filter.lte_3g_handover ">LTE<i class="icon-prepend fa fa-fw fa-arrow-right"></i>3G handover, </span>
										<span ng-if="datasheet_filter.lte_2g_handover ">LTE<i class="icon-prepend fa fa-fw fa-arrow-right"></i>2G handover, </span>
										<span ng-if="datasheet_filter.lte_2g_nacc ">LTE<i class="icon-prepend fa fa-fw fa-arrow-right"></i>2G NACC, </span>
										<span ng-if="datasheet_filter.tg_lte_handover ">3G<i class="icon-prepend fa fa-fw fa-arrow-right"></i>LTE handover, </span>
										<span ng-if="datasheet_filter.dg_lte_handover ">2G<i class="icon-prepend fa fa-fw fa-arrow-right"></i>LTE handover, </span>
										<span ng-if="datasheet_filter.inter_frequency_handover ">Inter-frequency handover, </span>
										<span ng-if="datasheet_filter.fdd_tdd_handover ">FDD<i class="icon-prepend fa fa-fw fa-arrow-left"></i><i class="icon-prepend fa fa-fw fa-arrow-right"></i>TDD handover</span>
									</div>
 									
 									<div style="height:34px;overflow:auto;" class="alert  bg-color-darken  txt-color-white fade in" ng-if="datasheet_filter.intra_band_c_CA.length || datasheet_filter.intra_band_nc_CA.length || datasheet_filter.inter_band_CA.length">
										<button class="close" ng-click="addCarrierAgregationFilter({},true)"> × </button>
										<i class="fa-fw fa fa-area-chart"></i>
										<span ng-if="datasheet_filter.intra_band_c_CA.length">Intra-band contiguous CA: {[datasheet_filter.intra_band_c_CA]} </span>
										<span ng-if="datasheet_filter.intra_band_nc_CA.length"> Intra-band non-contiguous CA:  {[datasheet_filter.intra_band_nc_CA]}</span> 
										<span ng-if="datasheet_filter.inter_band_CA.length"> Inter-band CA:  {[datasheet_filter.inter_band_CA]}</span> 
									</div>	

									<div style="height:34px;overflow:auto;" class="alert  bg-color-blueDark  txt-color-white fade in" ng-if="datasheet_filter.dual_carrier || datasheet_filter.mimo.length || datasheet_filter.rohc.length || datasheet_filter.drx.length || datasheet_filter.duplex.length">
										<button class="close" ng-click="addOthersFilter({},true)"> × </button>
										<i class="fa-fw fa fa-cog"></i>
										<span ng-if="datasheet_filter.dual_carrier ">Dual Carrier for HSPA+; </span>

										<span ng-if="datasheet_filter.mimo.length">MIMO: </span> <span ng-repeat="(key, value) in datasheet_filter.mimo">{[value]}, </span>

										<span ng-if="datasheet_filter.rohc.length"> ROHC: </span> <span ng-repeat="(key, value) in datasheet_filter.rohc">{[value]}, </span>
										<span ng-if="datasheet_filter.drx.length"> DRX: </span> <span ng-repeat="(key, value) in datasheet_filter.drx">{[value]}, </span>
										<span ng-if="datasheet_filter.duplex.length"> Dulpex: </span> <span ng-repeat="(key, value) in datasheet_filter.duplex">{[value]}, </span>
									</div>
								</div>  

								<footer style="height:10%; position: absolute; bottom:0px; width:100%; border-top: 1px solid #e5e5e5;">
									<a class="btn btn-sm btn-default" ng-click="tableParams.reload();">
										<i class="fa fa-fw fa-fire"></i>
										Filtruj   
									</a>
								</footer> 
							</article>
						</div>
					
					</div>
					<!-- end fs2 tab pane -->
				</div>
			<!-- end content -->
			</div>
		</div>
		<!-- end widget div -->
	
		<table ng-table="tableParams"  class="table">
	        <thead>
	        	<tr>
	            	<th ng-show="columns.id.visible" class="sortable" ng-class="{
	                    'sort-asc': tableParams.isSortBy('id', 'asc'),
	                    'sort-desc': tableParams.isSortBy('id', 'desc')
	                  }"
	                    ng-click="tableParams.sorting({'id' :
	                    tableParams.isSortBy('id', 'asc') ? 'desc' : 'asc'})"
	                    rowspan="2">
	                    <div><i class="fa fa-fw fa-key"></i> {!=T('Id')!}</div>
	                </th>
	                <th ng-show="columns.model.visible" class="sortable" ng-class="{
	                    'sort-asc': tableParams.isSortBy('model', 'asc'),
	                    'sort-desc': tableParams.isSortBy('model', 'desc')
	                  }"
	                    ng-click="tableParams.sorting({'model' :
	                    tableParams.isSortBy('model', 'asc') ? 'desc' : 'asc'})" rowspan="2">
	                    <div><i class="fa fa-fw fa-user"></i> {!=T('Model')!}</div>
	                </th>

	                <th ng-show="columns.company.visible" class="sortable" ng-class="{
	                    'sort-asc': tableParams.isSortBy('company', 'asc'),
	                    'sort-desc': tableParams.isSortBy('company', 'desc')
	                  }"
	                    ng-click="tableParams.sorting({'company' :
	                    tableParams.isSortBy('company', 'asc') ? 'desc' :  'asc'})" rowspan="2">
	                    <div><i class="fa   fa-fw fa-user"></i> {!=T('Company')!}</div>
	                </th>

	                <th ng-show="columns.operating_system.visible" class="sortable" ng-class="{
	                    'sort-asc': tableParams.isSortBy('operating_system', 'asc'),
	                    'sort-desc': tableParams.isSortBy('operating_system', 'desc')
	                  }"
	                    ng-click="tableParams.sorting({'operating_system' :
	                    tableParams.isSortBy('operating_system', 'asc') ? 'desc' :'asc'})" rowspan="2">
	                    <div><i class="fa fa-fw fa-link"></i>{!=T('System')!}</div>
	                </th>

	                <th ng-show="columns.system_version.visible" class="sortable" ng-class="{
	                    'sort-asc': tableParams.isSortBy('system_version', 'asc'),
	                    'sort-desc': tableParams.isSortBy('system_version', 'desc')
	                  }"
	                    ng-click="tableParams.sorting({'system_version' :
	                    tableParams.isSortBy('system_version', 'asc') ? 'desc' :'asc'})" rowspan="2">
	                    <div><i class="fa fa-fw fa-calendar"></i>{!=T('Wersja Systemu')!}</div>
	                </th>

	                <th ng-show="columns.system_version_number.visible" class="sortable" ng-class="{
	                    'sort-asc': tableParams.isSortBy('system_version_number', 'asc'),
	                    'sort-desc': tableParams.isSortBy('system_version_number', 'desc')
	                  }"
	                    ng-click="tableParams.sorting({'system_version_number' :
	                    tableParams.isSortBy('system_version_number', 'asc') ? 'desc' :'asc'})" rowspan="2">
	                    <div><i class="fa fa-fw fa-calendar"></i>{!=T('Numer Wersji Systemu')!}</div>
	                </th>


	                <th ng-show="columns.firmware.visible" class="sortable" ng-class="{
	                    'sort-asc': tableParams.isSortBy('firmware', 'asc'),
	                    'sort-desc': tableParams.isSortBy('firmware', 'desc')
	                  }"
	                    ng-click="tableParams.sorting({'firmware' :
	                    tableParams.isSortBy('firmware', 'asc') ? 'desc' :'asc'})" rowspan="2">
	                    <div><i class="fa fa-fw fa-calendar"></i>{!=T('Firmware')!}</div>
	                </th>

	                <th ng-show="columns.hardware.visible" class="sortable" ng-class="{
	                    'sort-asc': tableParams.isSortBy('hardware', 'asc'),
	                    'sort-desc': tableParams.isSortBy('hardware', 'desc')
	                  }"
	                    ng-click="tableParams.sorting({'hardware' :
	                    tableParams.isSortBy('hardware', 'asc') ? 'desc' :'asc'})" rowspan="2">
	                    <div><i class="fa fa-fw fa-lock"></i>{!=T('Hardware')!}</div>
	                </th>

	                <th ng-show="columns.adddate.visible" class="sortable" ng-class="{
	                    'sort-asc': tableParams.isSortBy('adddate', 'asc'),
	                    'sort-desc': tableParams.isSortBy('adddate', 'desc')
	                  }"
	                    ng-click="tableParams.sorting({'adddate' :
	                    tableParams.isSortBy('adddate', 'asc') ? 'desc' :'asc'})" rowspan="2">
	                    <div><i class="fa fa-fw fa-lock"></i>{!=T('Data')!}</div>
	                </th>
	             
					<th ng-show="columns.description.visible" class="sortable" ng-class="{
	                    'sort-asc': tableParams.isSortBy('description', 'asc'),
	                    'sort-desc': tableParams.isSortBy('description', 'desc')
	                  }"
	                    ng-click="tableParams.sorting({'description' :
	                    tableParams.isSortBy('description', 'asc') ? 'desc' :'asc'})" rowspan="2">
	                    <div><i class="fa fa-fw fa-lock"></i>{!=T('Opis')!}</div>
	                </th>
	                
	        	</tr>  
	        </thead>  
	        <tbody ng-repeat="item in $data"> <!--ng-click="MainCtrl.openTransactionModal(item)" -->
		        <tr style="cursor:pointer" ng-click="MainCtrl.openSpecificationModal(item)">
		            <td ng-show="columns.id.visible" width="80" data-title="'Id'" sortable="'id'" filter="{'id': 'text'}">
		            	{[item.id]}
		            </td>
		            <td ng-show="columns.model.visible" data-title="'Model'" sortable="'model'" filter="{'model': 'text'}">
		            	{[item.model.name]}
		            </td>
		            <td ng-show="columns.company.visible" data-title="'Company'" sortable="'company'" filter="{'company': 'text'}">
		            	{[item.company.name]}
		            </td>
		            <td ng-show="columns.operating_system.visible" data-title="'operating_system'" sortable="'operating_system'" filter="{'operating_system':'text'}">
		            	{[item.operating_system]}
		            	
		            </td>

		             <td ng-show="columns.system_version.visible" data-title="'system_version'" sortable="'system_version'" filter="{'system_version':'text'}">
		            	{[item.system_version]}
		            	
		            </td>
		             <td ng-show="columns.system_version_number.visible" data-title="'system_version_number'" sortable="'system_version_number'" filter="{'system_version_number':'text'}">
		            	{[item.system_version_number]}
		            	
		            </td>
		             <td ng-show="columns.firmware.visible" data-title="'firmware'" sortable="'firmware'" filter="{'firmware':'text'}">
		            	{[item.firmware]}
		            	
		            </td>

		             <td ng-show="columns.hardware.visible" data-title="'hardware'" sortable="'hardware'" filter="{'hardware':'text'}">
		            	{[item.hardware]}
		            	
		            </td>
		             <td ng-show="columns.adddate.visible" data-title="'adddate'" sortable="'adddate'" filter="{'adddate':'text'}">
		            	{[item.adddate]}
		            	
		            </td>

		           	<td  ng-show="columns.description.visible" data-title="'Uwagi'" sortable="'comments'" filter="{'comments': 'text'}">
		           		{[item.description |truncate:30]}
		           	</td>

		            <!-- popover-trigger="mouseenter" popover-html="true" popover="<b>dv</b>"<div></div>  item.description ]--> 
		        </tr> 

		    </tbody>    
	    </table>   

	</article>
	</div>
 

</div>

