<div ng-controller="browseResourceCtrl" >

	<flashmessage  > </flashmessage>

 	<div class="row" >
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
			<h1 class="page-title txt-color-blueDark"
					ng-hide="pageLoading">
				<i class="fa fa-cubes fa-fw "></i>
				Zasoby
				<span>> Przeglądaj </span>
			</h1>

			<h1 class="page-title txt-color-blueDark"
					ng-show="pageLoading">
				<img src="{!=URL('static','images/loading.gif')!}"
						 style="margin-top:-10px">
				{!=T('Loading')!}...
			</h1>

		</div>
	</div>


	<br>
	<div class="row">
		<article class="col-sm-12 ">
			<div class="jarviswidget jarviswidget-sortable" id="wid-id-0"  role="widget" style=" margin: 0 0 8px;">

				<header role="heading" >
					<ul class="nav nav-tabs pull-left in" id="myTab">
						<li class="active">
							<a data-toggle="tab" href="" ng-click="changeTab('all')"><i class="fa fw fa-bank"></i> <span class="hidden-mobile hidden-tablet">{!=T('Wszystkie')!}</span></a>
						</li>

						<li class="">
							<a data-toggle="tab" href="" ng-click="changeTab('holder')"><i class="fa fw fa-cloud"></i> <span class="hidden-mobile hidden-tablet">{!=T('Posiadane')!}</span></a>
						</li>
						<li class="">
							<a data-toggle="tab" href="" ng-click="changeTab('owner')"><i class="fa fw fa-lock"></i> <span class="hidden-mobile hidden-tablet">{!=T('Moja własność')!}</span></a>
						</li>
					</ul>

				</header>

				<!-- widget div-->
				<div class="no-padding" role="content">
					<div class="widget-body">
					<!-- content -->
						<div id="myTabContent" class="tab-content">

							<div class="tab-pane fade active in" id="s1">
								<br>
								<!-- TYPES -->
								<div style="height: auto; padding: 0px 25px 0px; cursor:default">
									<span class="badge {[selectedType===(0)? 'bg-color-greenLight':'']}" ng-click="selectTyppe(0)" style="margin-top:10px;margin-right:6px;cursor:pointer">Wszystkie ({[alldev]})</span>
									<span class="badge {[selectedType===(-1)? 'bg-color-greenLight':'']}" ng-click="selectTyppe(-1)" style="margin-top:10px;margin-right:6px;cursor:pointer">SIM ({[allsim]})</span><br>
									<span class="badge {[selectedType===value.id? 'bg-color-greenLight':'']}" ng-click="selectTyppe(value.id)" style="margin-top:10px;margin-right:6px;cursor:pointer" ng-repeat="(key, value) in devicetypes">{[value.name]} ({[value.len]})</span>

									<!-- POKAŻ/UKRYJ KOLUMNY TABELI -->
									<div class="btn-group display-inline pull-right text-align-left" style=" margin-top:-4px">
										<button class="btn  btn-default dropdown-toggle" data-toggle="dropdown">
											<i class="fa fa-cog fa-lg"></i>
											Kolumny
										</button>
										<ul class="dropdown-menu dropdown-menu-xs pull-right ColVis_collection">
											<li>
												<label>
													<input class="checkbox style-0" type="checkbox" ng-model="columns.id" ng-click="columns.id =! columns.id">
													<span>ID</span>
												</label>
											</li>
											<li>
												<label>
													<input class="checkbox style-0" type="checkbox" ng-model="columns.cbs_id" ng-click="columns.cbs_id =! columns.cbs_id">
													<span>CBS ID</span>
												</label>
											</li>
											<li ng-show="selectedType!=(-1)">
												<label>
													<input class="checkbox style-0" type="checkbox" ng-model="columns.type" ng-click="columns.type =! columns.type">
													<span>{!=T('Type')!}</span>
												</label>
											</li>
											<li ng-show="selectedType!=(-1)">
												<label>
													<input class="checkbox style-0" type="checkbox" ng-model="columns.model" ng-click="columns.model =! columns.model">
													<span>{!=T('Model')!}</span>
												</label>
											</li>
											<li>
												<label>
													<input class="checkbox style-0" type="checkbox" ng-model="columns.company" ng-click="columns.company =! columns.company">
													<span>{!=T('Company')!}</span>
												</label>
											</li>
											<li ng-show="selectedType!=(-1)">
												<label>
													<input class="checkbox style-0" type="checkbox" ng-model="columns.sn" ng-click="columns.sn =! columns.sn">
													<span>{!=T('SN')!}</span>
												</label>
											</li>
											<li ng-show="selectedType!=(-1)">
												<label>
													<input class="checkbox style-0" type="checkbox" ng-model="columns.imei" ng-click="columns.imei =! columns.imei">
													<span>{!=T('IMEI')!}</span>
												</label>
											</li>
												<li ng-show="selectedType!=(-1)">
													<label>
														<input class="checkbox style-0" type="checkbox" ng-model="columns.mac" ng-click="columns.mac =! columns.mac">
														<span>{!=T('MAC')!}</span>
													</label>
												</li>
											<li ng-show="selectedType===(-1)">
												<label>
													<input class="checkbox style-0" type="checkbox" ng-model="columns.pin" ng-click="columns.pin =! columns.pin">
													<span>{!=T('PIN')!}</span>
												</label>
											</li>
											<li ng-show="selectedType===(-1)">
												<label>
													<input class="checkbox style-0" type="checkbox" ng-model="columns.pin2" ng-click="columns.pin2 =! columns.pin2">
													<span>{!=T('PIN2')!}</span>
												</label>
											</li>
											<li ng-show="selectedType===(-1)">
												<label>
													<input class="checkbox style-0" type="checkbox" ng-model="columns.puk" ng-click="columns.puk =! columns.puk">
													<span>{!=T('PUK')!}</span>
												</label>
											</li>
												<li ng-show="selectedType===(-1)">
													<label>
														<input class="checkbox style-0" type="checkbox" ng-model="columns.puk2" ng-click="columns.puk2 =! columns.puk2">
														<span>{!=T('PUK2')!}</span>
													</label>
												</li>
											<li ng-show="selectedType===(-1)">
												<label>
													<input class="checkbox style-0" type="checkbox" ng-model="columns.msisdn" ng-click="columns.msisdn =! columns.msisdn">
													<span>{!=T('MSISDN')!}</span>
												</label>
											</li>
											<li ng-show="selectedType===(-1)">
												<label>
													<input class="checkbox style-0" type="checkbox" ng-model="columns.imsi" ng-click="columns.imsi =! columns.imsi">
													<span>{!=T('IMSI')!}</span>
												</label>
											</li>
											<li ng-show="selectedType===(-1)">
												<label>
													<input class="checkbox style-0" type="checkbox" ng-model="columns.iccid" ng-click="columns.iccid =! columns.iccid">
													<span>{!=T('ICCID')!}</span>
												</label>
											</li>
											<li>
												<label>
													<input class="checkbox style-0" type="checkbox" ng-model="columns.holder" ng-click="columns.holder =! columns.holder">
													<span>{!=T('Holder')!}</span>
												</label>
											</li>
											<li>
												<label>
													<input class="checkbox style-0" type="checkbox" ng-model="columns.owner" ng-click="columns.owner =! columns.owner">
													<span>{!=T('Owner')!}</span>
												</label>
											</li>
											<li>
												<label>
													<input class="checkbox style-0" type="checkbox" ng-model="columns.state" ng-click="columns.state =! columns.state">
													<span>{!=T('State')!}</span>
												</label>
											</li>
											<li>
												<label>
													<input class="checkbox style-0" type="checkbox" ng-model="columns.description" ng-click="columns.description =! columns.description">
													<span>{!=T('Description')!}</span>
												</label>
											</li>
											<li>
												<label>
													<input class="checkbox style-0" type="checkbox" ng-model="columns.created" ng-click="columns.created =! columns.created">
													<span>{!=T('Data dodania')!}</span>
												</label>
											</li>
											<li>
												<label>
													<input class="checkbox style-0" type="checkbox" ng-model="columns.created_by" ng-click="columns.created_by =! columns.created_by">
													<span>{!=T('Dodano przez')!}</span>
												</label>
											</li>

										</ul>
									</div>
								</div>
								<!-- END TYPES -->
								<form class="smart-form" action="">
									<fieldset>
										<section class="col col-2" ng-show="columns.id">
											<label class="input">
												<i class="icon-prepend fa fa-key"></i>
												<input type="text" placeholder="{!=T('Id')!}" ng-model="filter.id">
											</label>
										</section>
										<section class="col col-2" ng-show="columns.cbs_id">
											<label class="input">
												<i class="icon-prepend fa fa-key"></i>
												<input type="text" placeholder="{!=T('CBS Id')!}" ng-model="filter.cbs_id">
											</label>
										</section>
										<section class="col col-3" ng-show="columns.model && selectedType!=(-1)">
											<label class="input">
												<i class="icon-prepend fa fa-star-o"></i>
												<input type="text" placeholder="{!=T('Model')!}" ng-model="filter.model.name">
											</label>
										</section>
										<section class="col col-3" ng-show="columns.company">
											<label class="input">
												<i class="icon-prepend fa fa-suitcase"></i>
												<!--<select class="form-control " ng-options="item.name for item in company track by item"  ng-model="filter.company" style="width:8padding-left:32px">
													<option class="" value="" selected="selected"> </option>
												</select>
												{[filter ]}-->
												<input type="text" placeholder="{!=T('Company')!}" ng-model="filter.company.name">
											</label>
										</section>

										<section  class="col col-3" ng-show="columns.sn && selectedType!=(-1)">
											<label class="input">
												<i class="icon-prepend fa fa-fw fa-barcode"></i>
												<input type="text" placeholder="{!=T('SN')!}" ng-model="filter.sn">
											</label>
										</section>
										<section  class="col col-3" ng-show="columns.imei && selectedType!=(-1)">
											<label class="input">
												<i class="icon-prepend fa fa-fw fa-bars"></i>
												<input type="text" placeholder="{!=T('IMEI')!}" ng-model="filter.imei">
											</label>
										</section>
										<section  class="col col-3" ng-show="columns.mac && selectedType!=(-1)">
											<label class="input">
												<i class="icon-prepend fa fa-fw fa-database"></i>
												<input type="text" placeholder="{!=T('MAC')!}" ng-model="filter.mac">
											</label>
										</section>
										<section  class="col col-3"  ng-show="columns.msisdn && selectedType===(-1)">
											<label class="input">
												<i class="icon-prepend fa fa-fw fa-credit-card"></i>
												<input type="text" placeholder="{!=T('MSISDN')!}" ng-model="filter.msisdn">
											</label>
										</section>
										<section  class="col col-3"  ng-show="columns.imsi && selectedType===(-1)">
											<label class="input">
												<i class="icon-prepend fa fa-fw fa-archive"></i>
												<input type="text" placeholder="{!=T('IMSI')!}" ng-model="filter.imsi">
											</label>
										</section>
										<section  class="col col-3"  ng-show="columns.iccid && selectedType===(-1)">
											<label class="input">
												<i class="icon-prepend fa fa-fw fa-gear"></i>
												<input type="text" placeholder="{!=T('ICCID')!}" ng-model="filter.iccid">
											</label>
										</section>
										<section  class="col col-3"  ng-show="columns.holder">
											<label class="input">
												<i class="icon-prepend fa fa-fw fa-user"></i>
												<input type="text" placeholder="{!=T('Holder')!}" ng-model="filter.holder">
											</label>
										</section>
										<section  class="col col-3"  ng-show="columns.owner">
											<label class="input">
												<i class="icon-prepend fa fa-fw fa-user"></i>
												<input type="text" placeholder="{!=T('Owner')!}" ng-model="filter.owner">
											</label>
										</section>
										<section  class="col col-3"  ng-show="columns.state">
											<label class="input">
												<i class="icon-prepend fa fa-fw fa-gavel"></i>
												<input type="text" placeholder="{!=T('State')!}" ng-model="filter.state.name">
											</label>
										</section>

									</fieldset>
								</form>
							</div>
							<!-- end s1 tab pane -->
						</div>
						<!-- end content -->
					</div>
				</div>
				<!-- end widget div -->
			</div>
			<table ng-table="tableParamsRes" class="table">
				<thead>
					<th class="sortable" ng-show="columns.id"
						ng-class="{
							'sort-asc': tableParamsRes.isSortBy('id', 'asc'),
							'sort-desc': tableParamsRes.isSortBy('id', 'desc')
							}"
						ng-click="tableParamsRes.sorting({'id' :
							tableParamsRes.isSortBy('id', 'asc') ? 'desc' : 'asc'})" rowspan="2">
						<div><i class="fa fa-fw fa-key"></i> {!=T('Id')!}</div>
					</th>

					<th class="sortable" ng-show="columns.cbs_id"
						ng-class="{
							'sort-asc': tableParamsRes.isSortBy('cbs_id', 'asc'),
							'sort-desc': tableParamsRes.isSortBy('cbs_id', 'desc')
							}"
						ng-click="tableParamsRes.sorting({'cbs_id' :
							tableParamsRes.isSortBy('cbs_id', 'asc') ? 'desc' : 'asc'})" rowspan="2">
						<div><i class="fa fa-fw fa-key"></i> {!=T('CBS')!}</div>
					</th>

					<th class="sortable" ng-show="columns.type && selectedType!=(-1)"
						ng-class="{
							'sort-asc': tableParamsRes.isSortBy('type_id', 'asc'),
							'sort-desc': tableParamsRes.isSortBy('type_id', 'desc')
							}"
						ng-click="tableParamsRes.sorting({'type_id' :
									tableParamsRes.isSortBy('type_id', 'asc') ? 'desc' : 'asc'})" rowspan="2">
						<div><i class="fa fa-fw fa-binocular"></i> {!=T('Type')!}</div>
					</th>

					<th class="sortable" ng-show="columns.model && selectedType!=(-1)"
						ng-class="{
							'sort-asc': tableParamsRes.isSortBy('model_id', 'asc'),
							'sort-desc': tableParamsRes.isSortBy('model_id', 'desc')
							}"
						ng-click="tableParamsRes.sorting({'model_id' :
									tableParamsRes.isSortBy('model_id', 'asc') ? 'desc' : 'asc'})" rowspan="2">
						<div><i class="fa fa-fw fa-star-o"></i> {!=T('Model')!}</div>
					</th>

					<th class="sortable" ng-show="columns.company"
						ng-class="{
							  'sort-asc': tableParamsRes.isSortBy('company_id', 'asc'),
							  'sort-desc': tableParamsRes.isSortBy('company_id', 'desc')
							}"
						ng-click="tableParamsRes.sorting({'company_id' :
							  tableParamsRes.isSortBy('company_id', 'asc') ? 'desc' : 'asc'})" rowspan="2">
						<div><i class="fa fa-fw fa-suitcase "></i> {!=T('Company')!}</div>
					</th>

					<th class="sortable" ng-show="columns.sn && selectedType!=(-1)"
						ng-class="{
							  'sort-asc': tableParamsRes.isSortBy('sn', 'asc'),
							  'sort-desc': tableParamsRes.isSortBy('sn', 'desc')
							}"
						ng-click="tableParamsRes.sorting({'sn' :
							  tableParamsRes.isSortBy('sn', 'asc') ? 'desc' : 'asc'})" rowspan="2">
						<div><i class="fa fa-fw fa-barcode"></i> {!=T('SN')!}</div>
					</th>

					<th class="sortable" ng-show="columns.imei && selectedType!=(-1)"
						ng-class="{
							 	'sort-asc': tableParamsRes.isSortBy('imei', 'asc'),
							 	'sort-desc': tableParamsRes.isSortBy('imei', 'desc')
							}"
						ng-click="tableParamsRes.sorting({'imei' :
							 	tableParamsRes.isSortBy('imei', 'asc') ? 'desc' : 'asc'})" rowspan="2">
						<div><i class="fa fa-fw fa-bars"></i> {!=T('IMEI')!}</div>
					</th>

					<th class="sortable" ng-show="columns.mac && selectedType!=(-1)"
						ng-class="{
							 	'sort-asc': tableParamsRes.isSortBy('mac', 'asc'),
							 	'sort-desc': tableParamsRes.isSortBy('mac', 'desc')
							}"
						ng-click="tableParamsRes.sorting({'mac' :
							 	tableParamsRes.isSortBy('mac', 'asc') ? 'desc' : 'asc'})" rowspan="2">
						<div><i class="fa fa-fw fa-database"></i> {!=T('MAC')!}</div>
					</th>

					<th class="sortable" ng-show="columns.msisdn && selectedType===(-1)"
						ng-class="{
							  'sort-asc': tableParamsRes.isSortBy('msisdn', 'asc'),
							  'sort-desc': tableParamsRes.isSortBy('msisdn', 'desc')
							}"
						ng-click="tableParamsRes.sorting({'msisdn' :
							  tableParamsRes.isSortBy('msisdn', 'asc') ? 'desc' : 'asc'})" rowspan="2">
						<div><i class="fa fa-fw fa-credit-card"></i> {!=T('MSISDN')!}</div>
					</th>

					<th class="sortable" ng-show="columns.imsi && selectedType===(-1)"
						ng-class="{
							  'sort-asc': tableParamsRes.isSortBy('imsi', 'asc'),
							  'sort-desc': tableParamsRes.isSortBy('imsi', 'desc')
							}"
						ng-click="tableParamsRes.sorting({'imsi' :
							  tableParamsRes.isSortBy('imsi', 'asc') ? 'desc' : 'asc'})" rowspan="2">
						<div><i class="fa fa-fw fa-archive"></i> {!=T('IMSI')!}</div>
					</th>

					<th class="sortable" ng-show="columns.iccid && selectedType===(-1)"
						ng-class="{
							  'sort-asc': tableParamsRes.isSortBy('iccid', 'asc'),
							  'sort-desc': tableParamsRes.isSortBy('iccid', 'desc')
							}"
						ng-click="tableParamsRes.sorting({'iccid' :
							  tableParamsRes.isSortBy('iccid', 'asc') ? 'desc' : 'asc'})" rowspan="2">
						<div><i class="fa fa-fw fa-gear"></i> {!=T('ICCID')!}</div>
					</th>

					<th class="sortable" ng-show="columns.pin && selectedType===(-1)"
						ng-class="{
							  'sort-asc': tableParamsRes.isSortBy('pin', 'asc'),
							  'sort-desc': tableParamsRes.isSortBy('pin', 'desc')
							}"
						ng-click="tableParamsRes.sorting({'pin' :
							  tableParamsRes.isSortBy('pin', 'asc') ? 'desc' : 'asc'})" rowspan="2">
						<div><i class="fa fa-fw fa-flash"></i> {!=T('PIN')!}</div>
					</th>

					<th class="sortable" ng-show="columns.pin2 && selectedType===(-1)"
						ng-class="{
							 	'sort-asc': tableParamsRes.isSortBy('pin2', 'asc'),
							 	'sort-desc': tableParamsRes.isSortBy('pin2', 'desc')
							}"
						ng-click="tableParamsRes.sorting({'pin2' :
							 	tableParamsRes.isSortBy('pin2', 'asc') ? 'desc' : 'asc'})" rowspan="2">
						<div><i class="fa fa-fw fa-flash"></i> {!=T('PIN 2')!}</div>
					</th>

					<th class="sortable" ng-show="columns.puk && selectedType===(-1)"
						ng-class="{
							  'sort-asc': tableParamsRes.isSortBy('puk', 'asc'),
							  'sort-desc': tableParamsRes.isSortBy('puk', 'desc')
							}"
						ng-click="tableParamsRes.sorting({'puk' :
							  tableParamsRes.isSortBy('puk', 'asc') ? 'desc' : 'asc'})" rowspan="2">
						<div><i class="fa fa-fw fa-flash"></i> {!=T('PUK')!}</div>
					</th>

					<th class="sortable" ng-show="columns.puk2 && selectedType===(-1)"
						ng-class="{
							  'sort-asc': tableParamsRes.isSortBy('puk2', 'asc'),
							  'sort-desc': tableParamsRes.isSortBy('puk2', 'desc')
							}"
						ng-click="tableParamsRes.sorting({'puk2' :
							  tableParamsRes.isSortBy('puk2', 'asc') ? 'desc' : 'asc'})" rowspan="2">
						<div><i class="fa fa-fw fa-flash"></i> {!=T('PUK 2')!}</div>
					</th>

					<th class="sortable" ng-show="columns.holder"
						ng-class="{
							  'sort-asc': tableParamsRes.isSortBy('holder_id', 'asc'),
							  'sort-desc': tableParamsRes.isSortBy('holder_id', 'desc')
							}"
						ng-click="tableParamsRes.sorting({'holder_id' :
							  tableParamsRes.isSortBy('holder_id', 'asc') ? 'desc' : 'asc'})" rowspan="2">
						<div><i class="fa fa-fw fa-user"></i> {!=T('Holder')!}</div>
				 	</th>

					<th class="sortable" ng-show="columns.owner"
						ng-class="{
							  'sort-asc': tableParamsRes.isSortBy('owner_id', 'asc'),
							  'sort-desc': tableParamsRes.isSortBy('owner_id', 'desc')
							}"
						ng-click="tableParamsRes.sorting({'owner_id' :
							  tableParamsRes.isSortBy('owner_id', 'asc') ? 'desc' : 'asc'})" rowspan="2">
						<div><i class="fa fa-fw fa-user"></i> {!=T('Owner')!}</div>
					</th>

				 	<th class="sortable" ng-show="columns.state"
						ng-class="{
							  'sort-asc': tableParamsRes.isSortBy('state_id', 'asc'),
							  'sort-desc': tableParamsRes.isSortBy('state_id', 'desc')
							}"
						ng-click="tableParamsRes.sorting({'state_id' :
							    tableParamsRes.isSortBy('state_id', 'asc') ? 'desc' : 'asc'})" rowspan="2">
						<div><i class="fa fa-fw fa-gavel"></i> {!=T('State')!}</div>
					</th>

					<th class="sortable" ng-show="columns.description"
						ng-class="{
							  'sort-asc': tableParamsRes.isSortBy('description', 'asc'),
							  'sort-desc': tableParamsRes.isSortBy('description', 'desc')
							}"
						ng-click="tableParamsRes.sorting({'description' :
							  tableParamsRes.isSortBy('description', 'asc') ? 'desc' : 'asc'})" rowspan="2">
						<div><i class="fa fa-fw fa-newspaper-o"></i> {!=T('Description')!}</div>
					</th>

					<th class="sortable" ng-show="columns.created"
						ng-class="{
							  'sort-asc': tableParamsRes.isSortBy('created_on', 'asc'),
							  'sort-desc': tableParamsRes.isSortBy('created_on', 'desc')
							}"
						ng-click="tableParamsRes.sorting({'created_on' :
							  tableParamsRes.isSortBy('created_on', 'asc') ? 'desc' : 'asc'})" rowspan="2">
						<div><i class="fa fa-fw fa-calendar"></i> {!=T('Data dodania')!}</div>
					</th>

					<th class="sortable" ng-show="columns.created_by"
						ng-class="{
							  'sort-asc': tableParamsRes.isSortBy('created_by', 'asc'),
							  'sort-desc': tableParamsRes.isSortBy('created_by', 'desc')
							}"
						ng-click="tableParamsRes.sorting({'created_by' :
							  tableParamsRes.isSortBy('created_by', 'asc') ? 'desc' : 'asc'})" rowspan="2">
						<div><i class="fa fa-fw fa-male"></i> {!=T('Dodano przez')!}</div>
					</th>



				</thead>
				<tbody ng-repeat="item in $data" ng-click="MainCtrl.openResourceModal(item)" ng-if="item.visible">
					<tr>
						<td ng-show="columns.id" sortable="'id'" filter="{'id': 'text' }">
							{[item.id]}
						</td>
						<td ng-show="columns.cbs_id" sortable="'cbs_id'" filter="{'cbs_id': 'text' }">
							{[item.cbs_id]}
						</td>

						<td ng-show="columns.type && selectedType!=(-1)" sortable="'type_id'" filter="{'type': 'text' }" >
							{[item.type.name]}
						</td>
						<td ng-show="columns.model && selectedType!=(-1)" sortable="'model_id'" filter="{'model': 'text' }" >
							{[item.model.name]}
						</td>
						<td   ng-show="columns.company" sortable="'company_id'" filter="{'company': 'text' }">
							{[item.company.name]}
						</td>
						<td ng-show="columns.sn && selectedType!=(-1)" sortable="'sn'" filter="{'sn': 'text' }">
							{[item.sn]}
						</td>
						<td ng-show="columns.imei && selectedType!=(-1)" sortable="'imei'" filter="{'imei': 'text' }">
							{[item.imei]}
						</td>
						<td ng-show="columns.mac && selectedType!=(-1)" sortable="'mac'" filter="{'mac': 'text' }">
							{[item.mac]}

						<td ng-show="columns.msisdn && selectedType===(-1)" sortable="'msisdn'" filter="{'msisdn': 'text' }">
							{[item.msisdn]}
						</td>
						<td ng-show="columns.imsi && selectedType===(-1)" sortable="'imsi'" filter="{'imsi': 'text' }">
							{[item.imsi]}
						</td>
						<td ng-show="columns.iccid && selectedType===(-1)" sortable="'iccid'" filter="{'iccid': 'text' }">
							{[item.iccid]}

						<td ng-show="columns.pin && selectedType===(-1)" sortable="'pin'" filter="{'pin': 'text' }">
							{[item.pin]}

						<td ng-show="columns.pin2 && selectedType===(-1)" sortable="'pin2'" filter="{'pin2': 'text' }">
							{[item.pin2]}
					 	</td>
						<td  ng-show="columns.puk && selectedType===(-1)" sortable="'puk'" filter="{'puk': 'text' }">
							{[item.puk]}
						</td>
						<td width="50"  ng-show="columns.puk2 && selectedType===(-1)" sortable="'puk2'" filter="{'puk2': 'text' }">
							{[item.puk2]}
						</td>

						<td ng-show="columns.holder" sortable="'holder_id'" filter="{'holder': 'text' }">
							{[item.holder.firstname +" "+item.holder.lastname]}
						</td>

						<td ng-show="columns.owner" sortable="'owner_id'" filter="{'owner': 'text' }">
							{[item.owner.firstname +" "+item.owner.lastname]}
						</td>

						<td ng-show="columns.state" sortable="'state_id'" filter="{'state': 'text' }">
							{[item.state.name]}
						</td>

						<td ng-show="columns.description" sortable="'description'" filter="{'description': 'text' }">
							<div  dynamic="item.description"></div>
						</td>

						<td ng-show="columns.created" sortable="'created_on'">
							{[item.created_on]}
						</td>

						<td ng-show="columns.created_by" sortable="'created_by'">
							{[addedBy(item.created_by)]}
						</td>


	 				</tr>

				</tbody>
			</table>
		</article>
	</div>


</div>
