<div ng-controller="ClientsCtrl" >

	<flashmessage  > </flashmessage>  
 
 	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
			<h1 class="page-title txt-color-blueDark">
				<i class="fa fa-users fa-fw "></i>
				Personel
				<span>> Klienci </span>
			</h1>
		</div>
	</div>

<br>
<div class="row">
	<article class="col-sm-12 ">
		<div class="jarviswidget jarviswidget-sortable" id="wid-id-0"  role="widget" style=" margin: 0 0 8px;">
				
				<header role="heading">
					<!--<span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
					<h2>Live Feeds </h2>
						-->
					<ul class="nav nav-tabs pull-left in" id="myTab">
						<li class="active">
							<a data-toggle="tab" href="/#s1"><i class="fa fa-filter"></i> <span class="hidden-mobile hidden-tablet">{!=T('Filter')!}</span></a>
						</li>

						<li class="" ng-show="MainCtrl.isAuthorized([MainCtrl.userRoles.admin, MainCtrl.userRoles.manager, MainCtrl.userRoles.developer, MainCtrl.userRoles.updater])">
							<a data-toggle="tab" href="/#s2"><i class="fa fa-user"></i> <span class="hidden-mobile hidden-tablet">{!=T('Add client')!}</span></a>
						</li>
					</ul>

					<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
				</header>

				<!-- widget div-->
				<div class="no-padding" role="content">
					<!-- widget edit box -->
					<!--<div class="jarviswidget-editbox">

						test
					</div>
					 end widget edit box -->

					<div class="widget-body">
						<!-- content -->
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade active in" id="s1">
								<form class="smart-form" action="">
									<fieldset>
									 
										<section  class="col col-3">

											<label class="input">
												<i class="icon-prepend fa fa-user"></i>
												<input type="text" placeholder="{!=T('First name')!}" name="fname" ng-model="filter.firstname">
											</label>
										</section>
										<section  class="col col-3">
										 
											<label class="input">
												<i class="icon-prepend fa fa-user"></i>
												<input type="text" placeholder="{!=T('Last name')!}" name="fname" ng-model="filter.lastname">
											</label>
										</section>
										<section  class="col col-3">
											 
											<label class="input">
												<i class="icon-prepend fa fa-fw fa-suitcase"></i>
												<input type="text" placeholder="{!=T('Company')!}" name="fname" ng-model="filter.company.name">
											</label>
										</section>
										<section  class="col col-3">
											 
											<label class="input">
												<i class="icon-prepend fa fa-fw fa-envelope"></i>
												<input type="text" placeholder="{!=T('Email')!}" name="fname" ng-model="filter.email">
											</label>
										</section>
										
									</fieldset>
								</form>
							</div>
							<!-- end s1 tab pane -->

							<div class="tab-pane fade padding-10 no-padding-bottom" id="s2">
								<form class="smart-form" name="nameForm"  novalidate="novalidate" >

									<section class="col col-4" >
										<label class="label">{!=T('First name')!}</label>
										<label class="{[nameForm.fname.$invalid && !nameForm.fname.$pristine ?'input state-error': 'input' ]}">
											<i class="icon-prepend fa fa-user"></i>
											<input type="text" ng-change="setNewClientFormValidation(nameForm.$valid)" name="fname" ng-model="newClient.firstname" required >
											 
										</label>
									</section>
						  
				             		<section class="col col-4">
				             			<label class="label">{!=T('Last name')!}</label>
										<label class="{[nameForm.lname.$invalid && !nameForm.lname.$pristine ?'input state-error': 'input' ]}">
											<i class="icon-prepend fa fa-user"></i>
											<input type="text" ng-change="setNewClientFormValidation(nameForm.$valid)" name="lname" ng-model="newClient.lastname" required>
										</label>
									</section>

										
		 							<section class="col col-3">
		 								<label class="label">{!=T('Company')!}</label>
 										<label class="{[nameForm.company.$invalid && !nameForm.company.$pristine ?'select state-error': (!!nameForm.company? 'select ' : 'select')]}" >
											<select  style="min-width:120px" class="form-control" ng-model="newClient.company" required ng-change="setNewClientFormValidation(nameForm.$valid)" name="company" ng-options="item.name for item in company track by item.id" ></select>
										</label>
									</section>
									<section class="col col-1">
		 								<a data-toggle="tooltip" data-placement="left" title="{!=T('Add new company')!}" ng-click="MainCtrl.openDevOptionModal('company')"  class="btn btn-default btn-sm" href="javascript:void(0);"   style="margin-top:25px; margin-left:-20px">
											<i class="fa fa-fw fa-pencil"></i> 
										</a>

										 
									</section>
						
									<section class="col col-4">
										<label class="label">{!=T('Email')!}</label>
										<label class="{[nameForm.email.$invalid && !nameForm.email.$pristine ?'input state-error': (!!nameForm.email? 'input ' : 'input')]}"><!--state-success -->
											<i class="icon-prepend fa fa-fw fa-envelope"></i>
											<input  style="min-width:200px" type="email" ng-model="newClient.email" ng-change="setNewClientFormValidation(nameForm.$valid)" name="email" required>
										
										</label>
									</section>
							 
				             		<section class="col col-4">
				             			<label class="label">{!=T('Phone')!}</label>
										<label class="{[nameForm.phone.$invalid && !nameForm.phone.$pristine ?'input state-error': (!!nameForm.phone? 'input ' : 'input')]}">
											<i class="icon-prepend fa fa-fw fa-phone"></i>
											<input  style="min-width:120px" type="text" name="phone" ng-change="setNewClientFormValidation(nameForm.$valid)" ng-model="newClient.phone" ng-pattern="/^(\d)+$/"> 
										</label>
									</section>
		             	 

		             	 			<section class="col col-4">

		             	 			  	<a class="btn btn-primary btn-sm pull-center" href="javascript:void(0);"  ng-click="submitNewClient(nameForm); addNewClient()" style="margin-left:40px; margin-top:20px">
											<i class="fa fa-fw fa-edit"></i>
											{!=T('Add client')!}
										</a>
				             		 	
									</section>
		             	  
    
    
    
				             	</form>
				             	<br>

							</div>
							<!-- end s2 tab pane -->

						</div>

						<!-- end content -->
					</div>

				</div>
				<!-- end widget div -->
		</div>

	    <table ng-table="tableParams"  class="table">
	        <thead>
	        	<tr>
	            	<th class="sortable" ng-class="{
	                    'sort-asc': tableParams.isSortBy('id', 'asc'),
	                    'sort-desc': tableParams.isSortBy('id', 'desc')
	                  }"
	                    ng-click="tableParams.sorting({'id' :
	                    tableParams.isSortBy('id', 'asc') ? 'desc' : 'asc'})"
	                    rowspan="2">
	                     Id  
	                </th>
	                <th class="sortable" ng-class="{
	                    'sort-asc': tableParams.isSortBy('firstname', 'asc'),
	                    'sort-desc': tableParams.isSortBy('firstname', 'desc')
	                  }"
	                    ng-click="tableParams.sorting({'firstname' :
	                    tableParams.isSortBy('firstname', 'asc') ? 'desc' : 'asc'})" rowspan="2">
	                    <div><i class="fa   fa-fw fa-user"></i> {!=T('First name')!}</div>
	                </th>

	                <th class="sortable" ng-class="{
	                    'sort-asc': tableParams.isSortBy('lastname', 'asc'),
	                    'sort-desc': tableParams.isSortBy('lastname', 'desc')
	                  }"
	                    ng-click="tableParams.sorting({'lastname' :
	                    tableParams.isSortBy('lastname', 'asc') ? 'desc' :  'asc'})" rowspan="2">
	                    <div><i class="fa   fa-fw fa-user"></i> {!=T('Last name')!}</div>
	                </th>

	                <th class="sortable" ng-class="{
	                    'sort-asc': tableParams.isSortBy('company', 'asc'),
	                    'sort-desc': tableParams.isSortBy('company', 'desc')
	                  }"
	                    ng-click="tableParams.sorting({'company' :
	                    tableParams.isSortBy('company', 'asc') ? 'desc' : 'asc'})" rowspan="2">
	                    <div><i class="fa fa-fw fa-suitcase"></i>{!=T('Company')!}</div>
	                </th>

	                <th class="sortable" ng-class="{
	                    'sort-asc': tableParams.isSortBy('email', 'asc'),
	                    'sort-desc': tableParams.isSortBy('email', 'desc')
	                  }"
	                    ng-click="tableParams.sorting({'email' :
	                    tableParams.isSortBy('email', 'asc') ? 'desc' :'asc'})" rowspan="2">
	                    <div><i class="fa fa-fw fa-envelope"></i>{!=T('Email')!}</div>
	                </th>

	                <th class="sortable" ng-class="{
	                    'sort-asc': tableParams.isSortBy('phone', 'asc'),
	                    'sort-desc': tableParams.isSortBy('phone', 'desc')
	                  }"
	                    ng-click="tableParams.sorting({'phone' :
	                    tableParams.isSortBy('phone', 'asc') ? 'desc' :'asc'})" rowspan="2">
	                    
	                    <div><i class="fa fa-fw fa-phone"></i>{!=T('Phone')!}</div>
	                </th>

	                <th >
						<button ng-click="tableParams.sorting({});setEditId(-1)" class="btn refreshTableSortingBtn pull-right" >
								<i class="fa fa-refresh"></i>
						</button>
	                
	                </th>
	        	</tr>
	             
	        </thead>  
	        <tbody ng-repeat="client in $data"  ng-if="client.visible">
		        <tr id="tr{[client.id]}">
		            <td width="50" data-title="'Id'" sortable="'id'" filter="{'id': 'text' }" ng-model="client.id">
		            	{[client.id]}
		            </td>
		            <td data-title="'Imie'" sortable="'firstname'" filter="{'firstname': 'text' }">
		            	{[client.firstname]}
		            </td>
		            <td data-title="'Nazwisko'" sortable="'lastname'" filter="{'lastname': 'text' }">
		            	{[client.lastname]}
		            </td>
		            <td data-title="'Firma'" style="min-width:150px" sortable="'company'" filter="{'company': 'text' }">
		            	{[client.company.name]}
		            </td>
		            <td data-title="'Email'" sortable="'email'" filter="{ 'email':'text' }">
		            	{[client.email]}
		            </td>
		            <td data-title="'Telefon'" sortable="'phone'" filter="{'phone': 'text' }">
		           		{[client.phone]}
		           	</td>

		           	<td>
		           		<div class="btn-group display-inline pull-right text-align-left" ng-show="MainCtrl.isAuthorized([MainCtrl.userRoles.admin, MainCtrl.userRoles.manager, MainCtrl.userRoles.developer, MainCtrl.userRoles.updater])">
							<button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-cog fa-lg"></i>
							</button>
							<ul class="dropdown-menu dropdown-menu-xs pull-right">
								<li ng-click="setEditingClient(client);setEditId(client.id);" id="editRowBtn{[client.id]}" > 
									<a href="javascript:void(0);">
										<i class="fa fa-pencil fa-lg fa-fw txt-color-green"></i>
										{!=T('Edit')!}
									</a>
								</li>
								<li  ng-click="saveClient(client)"  class="disable" >  <!--ng-show="editId===client.id"   ng-hide="editId===client.id"  -->
									<a   href="javascript:void(0);"  style="{[editId!=client.id? 'color:gray;text-decoration:none': '']}" >
										<i  class="{[editId!=client.id? 'fa fa-save fa-lg fa-fw txt-color-gray': 'fa fa-save fa-lg fa-fw txt-color-blue']}"></i>
										{!=T('Save' )!}
									</a>
								</li>
								<li ng-click="removeClient(client)">
								 	<a  href="javascript:void(0);" >
										<i class="fa fa-times fa-lg fa-fw txt-color-red"></i>
										{!=T('Delete')!}
									</a>
								</li>
								<li class="divider"></li>
								<li class="text-align-center" ng-click="setEditId(-1)">
									<a href="javascript:void(0);"> {!=T('Cancel')!}</a>
								</li>
							</ul>
						</div>
		           	</td>
		        </tr>

				<tr ng-show="editId===client.id" ng-if="editId===client.id" class="edit" >
		            <!--<td colspan="7" ng-include src="'editRow.html'"></td>-->
		            <td></td>
		            <td>
		             	<form class="smart-form" name="nameForm"  novalidate="novalidate" >
							<section class="col col-12" >
								<label class="{[nameForm.fname.$invalid && !nameForm.fname.$pristine ?'input state-error': 'input' ]}">
									<i class="icon-prepend fa fa-user"></i>
									<input type="text" placeholder="{!=T('First name')!}" ng-change="setFormValidation(nameForm.fname.$valid, 'name')" name="fname" ng-model="copyClient.firstname" required >
									 
								</label>
							</section>
						</form>
		            </td>

		            <td>
		             	<form class="smart-form" name="lnameForm" novalidate="novalidate">
		             		<section class="col col-12">
								<label class="{[lnameForm.lname.$invalid && !lnameForm.lname.$pristine ?'input state-error': 'input' ]}">
									<i class="icon-prepend fa fa-user"></i>
									<input type="text" placeholder="{!=T('Last name')!}" ng-change="setFormValidation(lnameForm.lname.$valid, 'lastname')" name="lname" ng-model="copyClient.lastname" required>
								</label>
							</section>
		             	</form>
		            </td>

		            <td>
		             	<form class="smart-form" novalidate="novalidate" name="companyForm" >
							<section class="col col-12">
								<label class="select"> <!-- style="min-width:120px"    -->
									<select class="form-control" ng-model="copyClient.company"  ng-change="setFormValidation(companyForm.company.$valid, 'company')" name="company" ng-options="item.name for item in company track by item.id", required>
									</select>
								</label>
							</section>
						</form>
		            </td>

		            <td>
		             	<form class="smart-form" name="emailForm" novalidate >
							<section class="col col-12">
								<label class="{[emailForm.email.$invalid && !emailForm.email.$pristine ?'input state-error': (!!client.email? 'input ' : 'input')]}"><!-- style="min-width:200px"    -->
									<i class="icon-prepend fa fa-fw fa-envelope"></i>
									<input   type="email" placeholder="{!=T('Email')!}" ng-model="copyClient.email" ng-change="setFormValidation(emailForm.email.$valid, 'email')" name="email" required>
								
								</label>
							</section>
						</form>
		            </td>

		            <td>
		             	<form class="smart-form" name="phoneForm" novalidate >
		             		<section class="col col-12">
								<label class="{[phoneForm.phone.$invalid  ?'input state-error': 'input' ]}">
									<i class="icon-prepend fa fa-fw fa-phone"></i> <!--  style="min-width:120px"    -->
									<input    type="text" placeholder="{!=T('Phone')!}" name="phone"   ng-change="setFormValidation(phoneForm.phone.$valid, 'phone')" ng-model="copyClient.phone" required ng-pattern="/^(\d)+$/"> 
								</label>
							</section>
		             	</form>
		            </td>

		            <td></td>
		        </tr>
		    </tbody>    
	    </table>    
	</article>
</div>





</div>
		

						