<div ng-controller="dashboardCtrl" >

	<flashmessage> </flashmessage> 
 
 	<div class="row" >
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
			<h1 class="page-title txt-color-blueDark" ng-hide="pageLoading">
				<i class="fa fa-home fa-fw "></i>
				Strona startowa
			</h1>

			<h1 class="page-title txt-color-blueDark" ng-show="pageLoading" >
				<img src="{!=URL('static','images/loading.gif')!}"  style="margin-top:-10px"> 
				{!=T('Loading')!}...
			</h1>

		</div>
	</div>

 <br> <br> 
	<div class="jarviswidget jarviswidget-sortable" id="wid-id-0"  role="widget" style=" margin: 0 0 8px;" ng-show="showtable">
		<header role="heading">
			<span class="widget-icon"><i class="fa fa-pencil-square-o"></i> </span>
				<h2>{!=T('Ending transactions')!}</h2>
			<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>		 
					 
		</header>
		<!-- widget div-->
		<div class="no-padding" role="content" style="padding:10px">
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade active in" id="d1">
					<table class="expire-transaction-table" style="padding:10px; width:98%; margin: 1%;" >
						<thead>
							<th>
								<i class="fa fa-fw fa-key"></i>
								{!=T('Id')!}
							</th>
							<th>
								<i class="fa   fa-fw fa-user"></i>
								{!=T('From who')!}
							</th>
							<th>
								<i class="fa   fa-fw fa-user"></i>
								{!=T('To who')!}
							</th>
							<th>
								<i class="fa fa-fw fa-calendar"></i>
								{!=T('Beginning')!}
							</th>
							<th>
								<i class="fa fa-fw fa-calendar"></i>
								{!=T('Ending')!}
							</th>
							 
						</thead>
						<tbody> 
							<tr style=" color:{[value.color=='red'? '#953b39':(value.color=='green'? '#356635':'#826430')]}" ng-repeat="(key, value) in exfilter(transactions) | orderBy:'ending'" ng-click="MainCtrl.openTransactionModal(value)"><!-- extransactions   -->
								<td><b>{[value.id]}</b></td>
								<td><b>{[value.from.firstname+" "+value.from.lastname]}</b></td>
								<td><b>{[value.to.firstname+" "+value.to.lastname]}</b></td>
								<td><b>{[value.beginning]}</b></td>
								<td><b>{[value.ending]}</b></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</div>