<div ng-controller="newResourceCtrl">

	<flashmessage> </flashmessage>

 	<div class="row" >
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
			<h1 class="page-title txt-color-blueDark"
					ng-hide="pageLoading">
				<i class="fa fa-cubes fa-fw "></i>
					Zasoby
				<span>> Dodaj </span>
			</h1>

			<h1 class="page-title txt-color-blueDark" ng-show="pageLoading" >
				<img src="{!=URL('static','images/loading.gif')!}"
						 style="margin-top:-10px">
				{!=T('Loading')!}...
			</h1>
		</div>
	</div>

	<div class="jarviswidget jarviswidget-sortable"
			 id="wid-id-0"
			 role="widget"
			 style=" margin: 0 0 8px;">
    <header role="heading">
      <ul class="nav nav-tabs pull-left in"
					id="myTab">
        <li class="active">
          <a data-toggle="tab"
						 href="/#newresource1">
						<i class="fa fa-cube"></i>
						<span class="hidden-mobile hidden-tablet">
							{!=T('Single Device')!}
						</span>
					</a>
        </li>
        <li class="">
          <a data-toggle="tab"
						 href="/#newresource2">
						<i class="fa fa-cubes"></i>
						<span class="hidden-mobile hidden-tablet">
							{!=T('Devices form file')!}
						</span>
					</a>
        </li>
      </ul>
      <span class="jarviswidget-loader">
				<i class="fa fa-refresh fa-spin"></i>
			</span>
    </header>
    <div class="no-padding"
				 role="content">
      <div class="widget-body">
        <!-- content -->
        <div id="myTabContent"
						 class="tab-content">
        	<div class="tab-pane fade active in"
							 id="newresource1">
            <br>
            <div class="col col-sm-6 col-md-6 col-lg-6">
              <h5>
					  		{!=T("Add device manual")!}
					  	</h5>
	            <table  class="table table-bordered table-striped">
	              <tbody>
	                <tr>
	                  <td style="width:100px">
					  					<span style="font-weight: 700;">
					  						{!=T("Type")!}
					  					</span>
					  				</td>
	                  <td>
	                  	<form class="smart-form"
					  								action=""
					  								name="typeForm"
					  								novalidate >
		                    <section class="col col-9"
					  										 style="margin-bottom:0px;">
		                    	<label class="{[(typeForm.type.$invalid && newRes.hasOwnProperty('type_id') ) ?'input state-error': 'input' ]}">
			                      <select style="width:100%;"
					  												class="form-control"
					  												ng-model="newRes.type_id"
					  												ng-change="updateSelectedType(newRes.type_id)"
					  												name="type"
					  												required>
			                      	<option value=""></option>
					  									<option value="0">SIM</option>
					  									<option ng-repeat="item in devicetypes | filter:{visible: true} track by item.id"
					  													value="{[item.id]}">
					  										{[item.name]}
					  									</option>
					  								</select>
					  							</label>
		                    </section>
		                  </form>
		                  <a class="btn btn-info btn-xs"
					  						 style="margin-top:6px; margin-left:30px"
					  						 ng-click="MainCtrl.openDevOptionModal('type')"
					  						 href="javascript:void(0);" >
					  						{!=T("Manage")!}
					  					</a>
	                  </td>
	                </tr>

<!-- style do listy podpowiedzi typeahead - dodanie scrolla -->
<style>
  .dropdown-menu {
    max-height: 250px;
    overflow-y: auto;
  }
</style>

	                <tr ng-show="newRes.type_id>0">
	                  <td style="width:100px">
					  					<span style="font-weight: 700;">
					  						{!=T("Model")!}
					  					</span>
					  				</td>
	                  <td>
	                  	<form class="smart-form"
					  								action=""
					  								name="modelForm"
					  								novalidate>
		                  	<section class="col col-9"
					  										 style="margin-bottom:0px;">
		                    	<label class="{[(modelForm.model.$invalid && newRes.hasOwnProperty('model') ) ?'input state-error': 'input' ]}">
		                        <input type="text"
					  											 ng-model="displaytext.model"
					  											 name="model"
					  											 typeahead="model as model.name for model in devicemodels | filter:$viewValue | filter:{visible: true}"
					  											 required>
		                      </label>
		                    </section>
		                  </form>
		                  <a class="btn btn-info btn-xs"
					  						 style="margin-top:6px; margin-left:30px"
					  						 ng-click="MainCtrl.openDevOptionModal('model')"
					  						 href="javascript:void(0);" >
					  						{!=T("Manage")!}
					  					</a>
	                  </td>
	                </tr>

	                <tr ng-show="newRes.type_id">
	                  <td style="width:100px">
					  					<span style="font-weight: 700;">
					  						{!=T("Company")!}
					  					</span>
					  				</td>
	                  <td>
	                  	<form class="smart-form"
					  								action=""
					  								name="companyForm"
					  								novalidate>
		                    <section class="col col-9"
					  										 style="margin-bottom:0px;">
		                      <label class="{[(companyForm.company.$invalid && newRes.hasOwnProperty('company') ) ?'input state-error': 'input' ]}">
		                        <input type="text"
					  											 ng-model="displaytext.company"
					  											 name="company"
					  											 typeahead="item as item.name for item in company | filter:$viewValue | filter:{visible: true} | limitTo:8"
					  											 required>
		                      </label>
		                    </section>
		                  </form>
		                  <a class="btn btn-info btn-xs" ng-click="MainCtrl.openDevOptionModal('company')"  style="margin-top:6px; margin-left:30px" href="javascript:void(0);" >{!=T("Manage")!}</a>
	                  </td>
	                </tr>

	                <tr ng-show="newRes.type_id>0">
	                  <td style="width:100px">
					  					<span style="font-weight: 700;">
					  						{!=T("SN")!}
					  					</span>
					  				</td>
	                  <td>
	                    <form class="smart-form"
					  								action=""
					  								name="snForm"
					  								novalidate>
	                      <section class="col col-9"
					  										 style="margin-bottom:0px;">
	                        <label class="input">
	                          <input type="text"
					  											 ng-model="newRes.sn"
					  											 name="sn">
	                        </label>
	                      </section>
	                    </form>
	                  </td>
	                </tr>

	                <tr ng-show="newRes.type_id>0">
	                  <td style="width:100px">
					  					<span style="font-weight: 700;">
					  						{!=T("IMEI")!}
					  					</span>
					  				</td>
	                  <td>
	                    <form class="smart-form"
					  								action=""
					  								name="imeiForm"
					  								novalidate>
	                      <section class="col col-9"
					  										 style="margin-bottom:0px;">
	                        <label class="input">
	                          <input type="text"
					  											 ng-model="newRes.imei"
					  											 name="imei">
	                        </label>
	                      </section>
	                    </form>
	                  </td>
	                </tr>

	                <tr ng-show="newRes.type_id>0">
	                  <td style="width:100px">
					  					<span style="font-weight: 700;">
					  						{!=T("MAC")!}
					  					</span>
					  				</td>
	                  <td>
	                    <form class="smart-form"
					  								action=""
					  								name="macForm"
					  								novalidate>
	                      <section class="col col-9"
					  										 style="margin-bottom:0px;">
	                        <label class="input">
	                          <input type="text"
					  											 ng-model="newRes.mac"
					  											 name="mac">
	                        </label>
	                      </section>
	                    </form>
	                  </td>
	                </tr>

					  			<!-- SIM -->

					  			<tr ng-show="newRes.type_id==0" ng-repeat="value in ['msisdn', 'imsi', 'iccid', 'pin', 'pin2', 'puk', 'puk2']">
					  				<td style="width:100px">
					  					<span style="font-weight: 700;">
					  						{[ value | uppercase ]}
					  					</span>
					  				</td>
					  				<td>
					  					<form class="smart-form"
					  								action=""
					  								name={[value+'Form']}
					  								novalidate>
					  						<section class="col col-9"
					  		 							   style="margin-bottom:0px;">
					  							<label class="input">
					  								<input type="text"
					  			 					 	 		 ng-model="newRes[value]"
					  			 				 	 	 		 name={[value]}>
					  							</label>
					  						</section>
					  					</form>
					  				</td>
					  			</tr>

	                <!--  END SIM -->

	                <tr ng-show="newRes.type_id">
	                  <td style="width:100px">
					  					<span style="font-weight: 700;">
					  						{!=T("State")!}
					  					</span>
					  				</td>
	                  <td>
	                  	<form class="smart-form"
					  								action=""
					  								name="stateForm"
					  								novalidate>
		                    <section class="col col-9" style="margin-bottom:0px;">
		                      <label class="{[(stateForm.state.$invalid && newRes.hasOwnProperty('state') ) ?'input state-error': 'input' ]}">
		                        <select style="width:100%;"
					  												class="form-control"
					  												ng-model="newRes.state"
					  												name="state"
					  												ng-options="item.name for item in devicestates | filter:{visible: true} track by item.id"
					  												required>
					  								</select>
					  							</label>
		                    </section>
		                  </form>
		                  <a class="btn btn-info btn-xs"
					  						 style="margin-top:6px; margin-left:30px"
					  						 ng-click="MainCtrl.openDevOptionModal('state')"
					  						 href="javascript:void(0);">
					  						 	{!=T("Manage")!}
					  					</a>
	                  </td>
	                </tr>

					  			<tr ng-show="newRes.type_id">
	                  <td style="width:100px">
					  					<span style="font-weight: 700;">
					  						{!=T("Holder")!}
					  					</span>
					  				</td>
	                  <td>
	                  	<form class="smart-form"
					  								action=""
					  								name="holderForm"
					  								novalidate>
		                  	<section class="col col-9"
					  										 style="margin-bottom:0px;">
		                      <label class="{[(holderForm.holder.$invalid && newRes.hasOwnProperty('holder') )  ?'input state-error': 'input' ]}">
		                        <input type="text"
					  											 ng-model="displaytext.holder"
					  											 name="holder"
					  											 typeahead="client  as (client.firstname+' '+client.lastname) for client in clients | filter:$viewValue | filter:{visible: true} | limitTo:8"
					  											 required>
		                      </label>
		                  	</section>
		                  </form>
		                  <a class="btn btn-info btn-xs"
					  						 ng-click="MainCtrl.openClientModal()"
					  						 style="margin-top:6px; margin-left:30px"
					  						 href="javascript:void(0);" >
					  							{!=T("Add")!}
					  					</a>
	                  </td>
	                </tr>

					  			<tr ng-show="newRes.type_id">
	                	<td style="width:100px">
					  					<span style="font-weight: 700;">
					  						{!=T("Owner")!}
					  					</span>
					  				</td>
	                	<td>
	                		<form class="smart-form"
					  								action=""
					  								name="ownerForm"
					  								novalidate>
		                    <section class="col col-9"
					  										 style="margin-bottom:0px;">
		                      <label class="{[(ownerForm.owner.$invalid && newRes.hasOwnProperty('owner') )  ?'input state-error': 'input' ]}">
		                        <input ng-showtype="text"
					  											 ng-model="displaytext.owner"
					  											 name="owner"
					  											 typeahead="client  as (client.firstname+' '+client.lastname) for client in clients | filter:$viewValue | filter:{visible: true} | limitTo:8 "
					  											 required>
		                      </label>
		                    </section>
		                  </form>
		                  <a class="btn btn-info btn-xs"
					  						 ng-click="MainCtrl.openClientModal()"
					  						 style="margin-top:6px; margin-left:30px"
					  						 href="javascript:void(0);" >
					  						 	{!=T("Add")!}
					  					</a>
	                	</td>
	                </tr>
	            	</tbody>
	      	  	</table> <!-- table table-bordered table-striped -->

	            <div ng-show="newRes.type_id"
					  			 style="margin-bottom:40px">
			          <button class="btn btn-success pull-right"
					  						ng-click="add()"
					  						style="margin-right:12px">
					  			<i class="fa fa-edit" style="margin-right:4px"></i>
					  			{!=T('Add')!}
					  		</button>
			          <br>
			        </div>
            </div> <!-- col col-sm-6 col-md-6 col-lg-6 -->

            <div ng-show="newRes.type_id"
								 class="col col-sm-6 col-md-6 col-lg-6">
            	<h5>
								{!=T("Description")!}
							</h5>
            	<div style="border:1px solid #c2c2c2">
	            	<summernote config="options"
														ng-model="newRes.description"
														on-init="init()"
														on-enter="enter()"
														on-focus="focus(evt)"
						          			on-blur="blur(evt)"
														on-paste="paste()"
														on-keyup="keyup(evt)"
														on-keydown="keydown(evt)"
						          			on-change="change(contents, $editable)"
						          			on-image-upload="imageUpload(files, editor, welEditable);">
								</summernote>
							</div>
            </div>
          </div> <!-- tab-pane fade active in -->

					<div class="tab-pane fade in"
							 id="newresource2">
            <br>
            <div class="col col-sm-6 col-md-6">
	         		<h5>
								{!=T("File formats")!}:
							</h5>
		      		<div class="btn-group open">
								<button class="btn btn-default dropdown-toggle"
												data-toggle="dropdown">
									{!=T("Devices")!}
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li>
										{!if len(db(db.cbs_attachments.title=='dev_xlsx').select())>0:!}
											<a href="download/{!=db(db.cbs_attachments.title=='dev_xlsx').select().first().annex!}">xlsx</a>
										{!pass!}
										{!if len(db(db.cbs_attachments.title=='dev_csv').select())>0:!}
											<a href="download/{!=db(db.cbs_attachments.title=='dev_csv').select().first().annex!}">csv</a>
										{!pass!}
									</li>
								</ul>
							</div>

							<div class="btn-group open">
								<button class="btn btn-default dropdown-toggle"
												data-toggle="dropdown">
									{!=T("SIM")!}
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li>
										{!if len(db(db.cbs_attachments.title=='sim_xlsx').select())>0:!}
											<a href="download/{!=db(db.cbs_attachments.title=='sim_xlsx').select().first().annex!}">xlsx</a>
										{!pass!}
										{!if len(db(db.cbs_attachments.title=='sim_csv').select())>0:!}
											<a href="download/{!=db(db.cbs_attachments.title=='sim_csv').select().first().annex!}">csv</a>
										{!pass!}
									</li>
								</ul>
							</div>

							<br><br><br><br>

							<div class="col col-sm-9 col-md-9"  >
	              <form action="" class="smart-form" name="fileForm" >
	                <label for="file" class="input input-file" >
		                <div class="button">
		                  <input type="file"
														 name="file"
														 ng-model-instant
														 id="fileToUpload"
														 onchange="angular.element(this).scope().fileChanged(this.files);">{!=T('Browse')!}
		                </div>
		              	<input type="text"
													 placeholder="{[newfilename]}"
													 readonly="">
									</label>
	              </form>
	            </div>


							<div style="margin-bottom:40px">
			          <button class="btn btn-success pull-right"
												ng-click="createnewitems();"
												style="margin-right:12px">
									<i class="fa fa-edit" style="margin-right:4px"></i>
										{!=T('Load file')!}
								</button><!--MainCtrl.openNewResFiletModal(file);-->
			          <br>
			        </div>
						</div> <!-- col col-sm-6 col-md-6 -->

						<div class="col col-sm-6 col-md-6">
	          	<br>
	          	<h5>
								{!=T("Available options")!}:
							</h5>
	          	<div class="col col-sm-6 col-md-6">
	          		<form class="smart-form"
											action=""
											name="dfftypeForm"
											novalidate >
		              <section class="col col-8"
													 style="margin-bottom:0px;">
		                <label class='input'>
		                  <input type="text"
														 ng-model="dff.type"
														 name="type"
														 placeholder="Typy"
														 typeahead="type.name as type.name for type in devicetypes | filter:$viewValue | filter:{visible: true} | limitTo:8"
														 required>
		                </label>
 									</section>
		            </form>
		            <div class="col col-2">
		              <a class="btn btn-info btn-xs"
										 style="margin-top:6px;"
										 ng-click="MainCtrl.openDevOptionModal('type')"
										 href="javascript:void(0);" >
										{!=T("Manage")!}
									</a>
		            </div>
		          </div>

							<div class="col col-sm-6 col-md-6" >
		              <form class="smart-form"
												action=""
												name="dffmodelForm"
												novalidate>
		                  <section class="col col-8"
															 style="margin-bottom:0px;">
		                      <label class='input'>
		                        <input type="text"
																	 ng-model="dff.model"
																	 placeholder="Modele"
																	 name="model"
																	 typeahead="model.name as model.name for model in devicemodels | filter:$viewValue | filter:{visible: true} | limitTo:8"
																	 required>
		                      </label>
		                  </section>
		              </form>
		              <a class="btn btn-info btn-xs"
										 style="margin-top:6px;"
										 ng-click="MainCtrl.openDevOptionModal('model')"
										 href="javascript:void(0);" >
										{!=T("Manage")!}
									</a>
		          </div>

		          <div class="col col-sm-6 col-md-6"
									 style="margin-top:20px">
	          		<form class="smart-form"
											action=""
											name="dffcompForm"
											novalidate >
		              <section class="col col-8"
													 style="margin-bottom:0px;">
		                <label class='input'>
		                  <input type="text"
														 ng-model="dff.comp"
														 name="comp"
														 placeholder="Firmy"
														 typeahead="comp.name as comp.name for comp in company | filter:$viewValue | filter:{visible: true} | limitTo:8"
														 required>
		                </label>
 									</section>
		            </form>
		            <div class="col col-2">
		            	<a class="btn btn-info btn-xs"
										 style="margin-top:6px;"
										 ng-click="MainCtrl.openDevOptionModal('company')"
										 href="javascript:void(0);" >
										{!=T("Manage")!}
									</a>
		            </div>
		          </div>

		          <div class="col col-sm-6 col-md-6"
									 style="margin-top:20px">
		            <form class="smart-form"
											action=""
											name="dffststeForm"
											novalidate >
		              <section class="col col-8"
													 style="margin-bottom:0px;">
		                <label class='input'>
		                  <input type="text"
														 ng-model="dff.stste"
														 placeholder="Stany"
														 name="stste"
														 typeahead="stste.name as stste.name for stste in devicestates | filter:$viewValue | filter:{visible: true} | limitTo:8"
														 required>
		                </label>
		              </section>
		            </form>
		            <a class="btn btn-info btn-xs"
									 style="margin-top:6px;"
									 ng-click="MainCtrl.openDevOptionModal('state')"
									 href="javascript:void(0);" >{!=T("Manage")!}
								</a>
		          </div>

	 					</div> <!-- col col-sm-6 col-md-6 -->

						<div class="col col-sm-12 col-md-12"
								 ng-show="showNewRes"
								 style="clear:both;margin-top:30px;margin-bottom:30px">
	          	<table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox" >
                <thead>
                  <tr>
                  	<th>
                  		<label>
												<input class="checkbox style-0 ng-pristine ng-untouched ng-valid"
															 type="checkbox"
															 ng-model="selectall"
															 ng-click="changeAllSelection(selectall)">
												<span> </span>
											</label>
                  	</th>
                    <th ng-show="!issim">
                        <i class="fa fa-fw fa-star-o"></i>
                        {!=T('Model')!}
                    </th>
                    <th>
                        <i class="fa fa-fw fa-suitcase "></i>
                        {!=T('Company')!}
                    </th>
                    <th ng-show="!issim">
                        <i class="fa fa-fw fa-archive "></i>
                        {!=T('Type')!}
                    </th>
                    <th ng-show="!issim">
                        <i class="fa fa-fw fa-barcode"></i>
                        {!=T('SN')!}
                    </th>
                    <th ng-show="!issim">
                        <i class="fa fa-fw fa-bars"></i>
                        {!=T('IMEI')!}
                    </th>
                    <th ng-show="!issim">
                        <i class="fa fa-fw fa-database"></i>
                        {!=T('MAC')!}
                    </th>
                    <th ng-show="issim">
                        <i class="fa fa-fw fa-barcode"></i>
                        {!=T('MSISDN')!}
                    </th>
                    <th ng-show="issim">
                        <i class="fa fa-fw fa-bars"></i>
                        {!=T('IMSI')!}
                    </th>
                    <th ng-show="issim">
                        <i class="fa fa-fw fa-database"></i>
                        {!=T('ICCID')!}
                    </th>
                    <th>
                        <i class="fa fa-fw fa-gavel"></i>
                        {!=T('State')!}
                    </th>
                    <th>
                        <i class="fa fa-fw fa-user"></i>
                        {!=T('Holder')!}
                    </th>
                    <th>
                        <i class="fa fa-fw fa-user"></i>
                        {!=T('Owner')!}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="(key, value) in items">
                    <td>
                      <label>
												<input class="checkbox style-0 ng-pristine ng-untouched ng-valid"
															 type="checkbox"
															 ng-init="value.$selected=value.ok"
															 ng-model="value.$selected">
												<span> </span>
											</label>
                    </td>
                    <td ng-show="!issim"
												ng-dblclick="selectEditModel(value)"
												class="{[value.model? '':'danger']}">
                    	<div ng-show="editModel==value">
	                    	<form class="smart-form"
															action=""
															name="modelForm"
															novalidate>
			                    <section class="col col-9"
																	 style="margin-bottom:0px;">
			                      <label class="input">
			                        <input type="text"
																		 ng-model="displaytextNR.model"
																		 name="model"
																		 typeahead="model as model.name for model in devicemodels | filter:$viewValue | filter:{visible: true} | limitTo:8">
			                      </label>
			                    </section>
			                	</form>
			                	<i class="fa fa-remove"
													 style="color:#953b39;cursor:default; margin-top:10px"
													 ng-click="selectEditModel({}) "></i>
			              	</div>
			              	<div ng-hide="editModel==value">
												{[value.model.name]}
											</div>
                    </td>

                    <td ng-dblclick="selectEditCompany(value)"
												class="{[value.company? '':'danger']}">
                    	<div ng-show="editCompany==value">
	                    	<form class="smart-form"
															action=""
															name="companyForm"
															novalidate>
			                    <section class="col col-9"
																	 style="margin-bottom:0px;">
			                      <label class="input">
			                        <input type="text"
																		 ng-model="displaytextNR.company"
																		 name="company"
																		 typeahead="item as item.name for item in company | filter:$viewValue | filter:{visible: true} | limitTo:8">
			                      </label>
			                    </section>
			                	</form>
			                	<i class="fa fa-remove"
													 style="color:#953b39;cursor:default; margin-top:10px"
													 ng-click="selectEditCompany({}) "></i>
			            		</div>
			            		<div ng-hide="editCompany==value">
												{[value.company.name]}
											</div>
                    </td>

                    <td ng-show="!issim"
												ng-dblclick="selectEditType(value)"
												class="{[value.type? '':'danger']}">
                    	<div ng-show="editType==value">
	                    	<form class="smart-form"
															action=""
															name="typeForm"
															novalidate>
	                    		<section class="col col-9"
																	 style="margin-bottom:0px;">
			                    	<label class="input">
			                        <select style="width:100%;"
																			class="form-control"
																			ng-model="value.type_id"
																			ng-change="value.type=getItemById(devicetypes, value.type_id);checkProperties(value);selectEditType({});"
																			name="type" >
					    									<option ng-repeat="item in devicetypes | filter:{visible: true} track by item.id"
																				value="{[item.id]}">
																	{[item.name]}
																</option>
															</select>
														</label>
			                    </section>
		                		</form>
		                		<i class="fa fa-remove"
													 style="color:#953b39;cursor:default; margin-top:10px"
													 ng-click="selectEditType({}) ">
												</i>
                    	</div>
                    	<div ng-hide="editType==value">
												{[value.type.name]}
											</div>
                    </td>

										<td ng-show="!issim">
                    	{[value.sn]}
                    </td>

										<td ng-show="!issim">
                    	{[value.imei]}
                    </td>

										<td ng-show="!issim">
                    	{[value.mac]}
                    </td>

                    <td ng-show="issim">
                    	{[value.msisdn]}
                    </td>

										<td ng-show="issim">
                    	{[value.imsi]}
                    </td>

										<td ng-show="issim">
                    	{[value.iccid]}
                    </td>


                    <td ng-dblclick="selectEditState(value)"
												class="{[value.state? '':'danger']}">
                    	<div ng-show="editState==value">
	                    	<form class="smart-form"
															action=""
															name="stateForm"
															novalidate >
	                    		<section class="col col-9"
																	 style="margin-bottom:0px;">
		                      	<label class="input">
		                          <select style="width:100%;"
																			class="form-control"
																			ng-model="value.state_id"
																			ng-change="value.state=getItemById(devicestates, value.state_id);checkProperties(value);selectEditState({})"
																			name="type" >
					    									<option ng-repeat="item in devicestates | filter:{visible: true} track by item.id"
																				value="{[item.id]}">{[item.name]}
																</option>
															</select>
														</label>
		                      </section>
		                		</form>
		                		<i class="fa fa-remove"
													 style="color:#953b39;cursor:default; margin-top:10px"
													 ng-click="selectEditState({}) "></i>
                    	</div>
                    	<div ng-hide="editState==value">
												{[value.state.name]}
											</div>
                    </td>

                    <td ng-dblclick="selectEditHolder(value)"
												class="{[value.holder? '':'danger']}">
                    	<div ng-show="editHolder==value">
	                    	<form class="smart-form"
															action=""
															name="holderForm"
															novalidate >
			                    <section class="col col-9"
																	 style="margin-bottom:0px;">
			                      <label class="input">
			                        <input ng-showtype="text"
																		 ng-model="displaytextNR.holder"
																		 name="holder"
																		 typeahead="client  as (client.firstname+' '+client.lastname) for client in clients | filter:$viewValue | filter:{visible: true} | limitTo:8 ">
			                      </label>
			                  	</section>
			                	</form>
			                <i class="fa fa-remove"
												 style="color:#953b39;cursor:default; margin-top:10px"
												 ng-click="selectEditHolder({}) "></i>
			            		</div>
			            		<div ng-hide="editHolder==value">
												{[value.holder.firstname+" "+value.holder.lastname]}
											</div>
                    </td>

                    <td ng-dblclick="selectEditOwner(value)"
												class="{[value.owner? '':'danger']}">
                    	<div ng-show="editOwner==value">
	                    	<form class="smart-form"
															action=""
															name="ownerForm"
															novalidate >
			                    <section class="col col-9"
																	 style="margin-bottom:0px;">
			                      <label class="input">
			                        <input ng-showtype="text"
																		 ng-model="displaytextNR.owner"
																		 name="owner"
																		 typeahead="client  as (client.firstname+' '+client.lastname) for client in clients | filter:$viewValue | filter:{visible: true} | limitTo:8 " >
			                      </label>
			                    </section>
			                	</form>
			                	<i class="fa fa-remove"
													 style="color:#953b39;cursor:default; margin-top:10px"
													 ng-click="selectEditOwner({}) "></i>
			            		</div>
			            		<div ng-hide="editOwner==value">
												{[value.owner.firstname+" "+value.owner.lastname]}
											</div>
                    </td>
                  </tr>
                </tbody>
              </table>
                            *{!=T('Double click to edit field')!}
	 					</div>

	 					<div class="col col-sm-12 col-md-12"
								 ng-show="showNewRes"
								 style="clear:both;margin-bottom:30px">
		 					<button class="btn btn-success pull-left"
											style="margin-left:30px"
											ng-click="addDevFromFile();">
								<i class="fa fa-edit"
									 style="margin-right:4px">
								</i>
								{!=T('Add')!}
							</button>
						</div>

						<div class="col col-sm-12 col-md-12"
								 ng-show="showprogress"
								 style="clear:both;margin-bottom:20px">
							<div class="progress progress-sm progress-striped active">
								<div class="progress-bar bg-color-green"
										 style="width: {[progress]}%"
										 role="progressbar">
								</div>
							</div>
		        </div>

          </div> <!-- tab-pane fade in -->
        </div> <!-- tab-content -->
      </div> <!-- widget-body -->
    </div> <!-- no-padding -->
  </div> <!-- jarviswidget jarviswidget-sortable -->
</div>
