<style type="text/css">
	#mypop{
	 	position:absolute;
	 	top:30px;
	 	left:0px;
	 	z-index:1010;
	 	display: inline-block;
	 	padding:10px;
		background-color: #fff;
		border: 1px solid rgba(0, 0, 0, 0.2);
	 	border-radius: 3px;
	 	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	}
</style>
<div ng-controller="newSpecificationCtrl" >

	<flashmessage> </flashmessage>

 	<div class="row" >
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
			<h1 class="page-title txt-color-blueDark" ng-hide="pageLoading">
				<i class="fa fa-edit fa-fw "></i>
				Specyfikacje
				<span>> Nowa </span>
			</h1>

			<h1 class="page-title txt-color-blueDark" ng-show="pageLoading" >
				<img src="{!=URL('static','images/loading.gif')!}"  style="margin-top:-10px">
				{!=T('Loading')!}...
			</h1>

		</div>
	</div>



 <div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-sortable" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false" role="widget">

				<header role="heading" style="cursor:default">
					<span class="widget-icon"><i class="fa fa-pencil-square-o"></i> </span>
					<h2>{!=T('New transaction')!}</h2>
					<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
				</header>

				<!-- widget div-->
				<div role="content">

					<!-- widget content -->
					<div class="widget-body fuelux">

						<div class="wizard">
							<ul class="steps">
								<li data-target="#step1" class="{[step[0].class]}" ng-click="changeStep(step[0],'click')" ng-hide="step.indexOf(activStep)>=3">
									<span class="badge badge-info">1</span>Dane Specyfikacji<span class="chevron"></span>

								</li>
								<li data-target="#step2" class="{[step[1].class]}" ng-click="changeStep(step[1],'click')">
									<span class="badge">2</span>Opis Techniczny<span class="chevron"></span>
								</li>
								<li data-target="#step3" class="{[step[2].class]}" ng-click="changeStep(step[2],'click')">
									<span class="badge">3</span>Przepływności<span class="chevron"></span>
								</li>
								<li data-target="#step4" class="{[step[3].class]}" ng-click="changeStep(step[3],'click')">
									<span class="badge">4</span>Podsumowanie<span class="chevron"></span>
								</li>
								<li data-target="#step5" class="{[step[4].class]}" ng-click="changeStep(step[4],'click')">
									<span class="badge">5</span>Koniec<span class="chevron"></span>
								</li>
							</ul>
							<div class="actions">

								<button type="button" class="btn btn-sm btn-primary btn-prev"  ng-hide="step.indexOf(activStep)===(step.length-1)" ng-disabled="step.indexOf(activStep)===0" ng-click="changeStep(-1,'arrow')">
									<i class="fa fa-arrow-left"></i>{!=T('Prev')!}
								</button>
								<button type="button" class="btn btn-sm btn-success btn-next" data-last="Finish" ng-hide="step.indexOf(activStep)===(step.length-1)" ng-disabled="step.indexOf(activStep)===(step.length-1)" ng-click="changeStep(+1,'arrow')">
									 {[step.indexOf(activStep)===(step.length-2)? 'Zakończ':'Następny']}
									<i class="fa {[step.indexOf(activStep)===(step.length-2)? 'fa-edit':'fa-arrow-right']}"></i>
								</button>
							</div>
						</div>

						<div class="step-content" >
							<!-- DANE TRANSAKCJI -->
 							<div class="{[step.indexOf(activStep)===0? 'step-pane active':'step-pane' ]}"  id="step1">
								<h3><strong>Nowa Specyfikacja </strong> - Formularz</h3>
								<!--class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable"-->
								<form class="smart-form" name="newForm"  novalidate="novalidate">
									<div class="col-sm-12 col-md-12 col-lg-5 sortable-grid ui-sortable" style="margin-bottom:50px">

										<section style="margin-top:14px">
											<div class="form-group">
												<label class="col-md-4 control-label" style="margin-top:4px">{!=T('Model')!}</label>

												<div class="col-md-8">
													<label class="{[(newForm.model.$invalid && newSpecification.hasOwnProperty('model') ) ?'input state-error': 'input' ]}">
								                        <i class="icon-prepend fa fa-fw fa-star-o"></i>
								                        <input type="text" ng-model="displayText.model" name="model" typeahead="model as model.name for model in devicemodels | filter:$viewValue | filter:{visible: true} | limitTo:8" required>
								                    </label>
												</div>
											</div>
										</section>
										<br>
										<section style="margin-top:34px">
											<div class="form-group">
												<label class="col-md-4 control-label" style="margin-top:4px">{!=T('Company')!}</label>

												<div class="col-md-8">
													<label class="{[(newForm.company.$invalid && newSpecification.hasOwnProperty('company') ) ?'input state-error': 'input' ]}">
								                        <i class="icon-prepend fa fa-fw fa-suitcase"></i>
								                        <input type="text" ng-model="displayText.company" name="company" typeahead="item as item.name for item in company | filter:$viewValue | filter:{visible: true} | limitTo:8" required>
								                    </label>
												</div>
											</div>
										</section>


										<br>
										<section style="margin-top:34px">
											<div class="form-group">
												<label class="col-md-4 control-label" style="margin-top:4px">{!=T('Operating System')!}</label>

												<div class="col-md-8">
													<label class="{[(newForm.opersystem.$invalid && newSpecification.hasOwnProperty('operating_system') ) ?'input state-error': 'input' ]}">
								                        <i class="icon-prepend fa fa-fw fa-desktop"></i>
								                        <input type="text" name="opersystem" placeholder="np.: Android, iOS" ng-model="newSpecification.operating_system"  required>
								                    </label>
												</div>
											</div>
										</section>


										<br>
										<section style="margin-top:34px">
											<div class="form-group">
												<label class="col-md-4 control-label" style="margin-top:4px">{!=T('System Version')!}</label>

												<div class="col-md-8">
													<label class="{[(newForm.systemversion.$invalid && newSpecification.hasOwnProperty('system_version') ) ?'input state-error': 'input' ]}">
								                        <i class="icon-prepend fa fa-fw fa-inbox"></i>
								                        <input type="text" name="systemversion" placeholder="np.: 4.4.2" ng-model="newSpecification.system_version"  required>
								                    </label>
												</div>
											</div>
										</section>

										<br>
										<section style="margin-top:34px">
											<div class="form-group">
												<label class="col-md-4 control-label" style="margin-top:4px">{!=T('System Ver Number')!}</label>

												<div class="col-md-8">
													<label class="{[(newForm.systemvernumber.$invalid && newSpecification.hasOwnProperty('system_version_number') ) ?'input state-error': 'input' ]}">
								                        <i class="icon-prepend fa fa-fw fa-tags"></i>
								                        <input type="text" name="systemvernumber" placeholder="np.: KOT49H.I9505XXUGNG8" ng-model="newSpecification.system_version_number">
								                    </label>
												</div>
											</div>
										</section>

									</div>
									<div class="col-sm-1 col-md-1 col-lg-1 sortable-grid ui-sortable" style="margin-bottom:50px">
									</div>
									<div class="col-sm-12 col-md-12 col-lg-5 sortable-grid ui-sortable" style="margin-bottom:50px">
										<section style="margin-top:14px">
											<div class="form-group">
												<label class="col-md-4 control-label" style="margin-top:4px">{!=T('Firmware')!}</label>

												<div class="col-md-8">
													<label class="{[(newForm.firmware.$invalid && newSpecification.hasOwnProperty('firmware') ) ?'input state-error': 'input' ]}">
								                        <i class="icon-prepend fa fa-fw fa-key"></i>
								                        <input type="text" name="firmware" ng-model="newSpecification.firmware"  required>
								                    </label>
												</div>
											</div>
										</section>

										<br>
										<section style="margin-top:34px">
											<div class="form-group">
												<label class="col-md-4 control-label" style="margin-top:4px">{!=T('Hardware')!}</label>

												<div class="col-md-8">
													<label class="{[(newForm.hardware.$invalid && newSpecification.hasOwnProperty('hardware') ) ?'input state-error': 'input' ]}">
								                        <i class="icon-prepend fa fa-fw fa-cog"></i>
								                        <input type="text" name="hardware" ng-model="newSpecification.hardware">
								                    </label>
												</div>
											</div>
										</section>
										<br><br>
										<section style="margin-top:34px">
											<summernote config="options" ng-model="newSpecification.description" on-init="init()" on-enter="enter()" on-focus="focus(evt)"
										              on-blur="blur(evt)" on-paste="paste()" on-keyup="keyup(evt)" on-keydown="keydown(evt)"
										              on-change="change(contents, $editable)"
										              on-image-upload="imageUpload(files, editor, welEditable);">
											</summernote>
										</section>
										<!--<td style="width:150px"> <span style="font-weight: 700;">{!=T("Description")!}</span></td>
														<td><div dynamic="description"></div></td>-->

									</div>
								</form>
							</div>

							<div class="{[step.indexOf(activStep)===1? 'step-pane active':'step-pane' ]}" id="step2">

								<div class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable" style="margin-bottom:50px" >
									<h3><strong>Karta Katalogowa</strong> - Formularz</h3>
									<div class="form-group">
										<label class="col-md-3 control-label">{!=T('Specifications for this models')!}</label>
										<div class="col-md-5">
											<select class="form-control" ng-model="selectDifferentDatasheet" nwme="prevSpec" required>
												<option ng-repeat="(key, value) in specificationsList" selected="{[$first]}"  value="{[value.datasheet_id]}" >{[value.model.name+" "+value.company.name+"  "+value.adddate ]}</option>
											</select>
										</div>
									</div>
								</div>

								<div class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable" style="margin-bottom:50px" >
									<form class="form-horizontal">
										<div class="col-sm-12 col-md-12 col-lg-12">
											<fieldset  class="col-sm-6 col-md-4 col-lg-4">
												<legend><i class="icon-prepend fa fa-fw fa-hdd-o"></i> {!=T('Chipset')!}</legend>
												<div class="form-group">
													<label class="col-md-4 control-label">{!=T('Chipset Provider')!}</label>
													<div class="col-md-8">
								                        <input class="form-control" type="text" ng-model="displayText.chipset_prvider" name="model" typeahead="item as item.name for item in company | filter:$viewValue | filter:{visible: true} | limitTo:8">
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-4 control-label">{!=T('Chipset Model')!}</label>
													<div class="col-md-8">
														<input class="form-control" type="text" ng-model="newDatasheet.chipset_model">
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-4 control-label">{!=T('Baseline')!}</label>
													<div class="col-md-8">
														<input class="form-control" type="text" ng-model="newDatasheet.chipset_baseline">
													</div>
												</div>
											</fieldset>

											<fieldset  class="col-sm-6 col-md-4 col-lg-4">

												<legend><i class="icon-prepend fa fa-fw fa-volume-up"></i> {!=T('Domain preference')!}</legend>
												<div class="form-group">
													<label class="col-md-4 control-label">{!=T('UE usage setting')!}</label>
													<div class="col-md-8">
														<select class="form-control " ng-options="item for item in selectoptions.usagesetting track by item"   ng-model="newDatasheet.ue_usage_setting" ></select>
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-4 control-label">{!=T('Voice domain preference for EUTRAN 	')!}</label>
													<div class="col-md-8">
														<select class="form-control " ng-options="item for item in selectoptions.voice_domain track by item"   ng-model="newDatasheet.voice_domain" ></select>
													</div>
												</div>
											</fieldset>

											<fieldset  class="col-sm-6 col-md-4 col-lg-4">
												<legend><i class="icon-prepend fa fa-fw fa-mobile-phone"></i> {!=T('Terminal Category')!}</legend>
												<div class="form-group">
													<label class="col-md-4 control-label">{!=T('3G Downlink')!}</label>
													<div class="col-md-8">
														<select class="form-control"  ng-model="newDatasheet.cat_3g_downlink" >
															<option ng-repeat="(key, value) in [] | range:29"  value="{[value]}">{[value]}</option>
														</select>

													</div>
												</div>
												<div class="form-group">
													<label class="col-md-4 control-label">{!=T('3G Uplink')!}</label>
													<div class="col-md-8">
														 <select class="form-control"  ng-model="newDatasheet.cat_3g_uplink" >
															<option ng-repeat="(key, value) in [] | range:10"  value="{[value]}">{[value]}</option>
														</select>
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-4 control-label">{!=T('LTE')!}</label>
													<div class="col-md-8">
														 <select class="form-control"  ng-model="newDatasheet.cat_lte" >
															<option ng-repeat="(key, value) in [] | range:9" value="{[value]}">{[value]}</option>
														</select>
													</div>
												</div>
											</fieldset>
										</div>

										<div class="col-sm-12 col-md-12 col-lg-12">
											<fieldset  class="col-sm-6 col-md-4 col-lg-4">
												<legend><i class="icon-prepend fa fa-fw fa-road"></i> {!=T('3GPP')!}</legend>
												<div class="form-group">
													<label class="col-md-4 control-label">{!=T('3GPP Release')!}</label>
													<div class="col-md-8">
														<select class="form-control " ng-options="item for item in selectoptions.tgpp track by item"   ng-model="newDatasheet.tgpp" ></select>
													</div>
												</div>
												<legend><i class="icon-prepend fa fa-fw fa-signal"></i> {!=T('Systems')!}</legend>
												<div class="form-group">
													<div class="col-md-12">
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="newDatasheet.system_gsm">
															<span>GSM</span>
														</label>
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="newDatasheet.system_gprs">
															<span>GPRS</span>
														</label>
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="newDatasheet.system_edge">
															<span>EDGE</span>
														</label>
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="newDatasheet.system_umts">
															<span>UMTS</span>
														</label>
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="newDatasheet.system_hspa">
															<span>HSPA</span>
														</label>
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="newDatasheet.system_hspa_p">
															<span>HSPA +</span>
														</label>

														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="newDatasheet.system_lte">
															<span>LTE</span>
														</label>
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="newDatasheet.system_lte_a">
															<span>LTE A</span>
														</label>
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="newDatasheet.system_wifi">
															<span>WiFi</span>
														</label>
													</div>
												</div>

												<legend><i class="icon-prepend fa fa-fw fa-align-justify"></i> {!=T('Supported Bands')!}</legend>
												<div class="form-group">
													<div class="col-md-12">
														<span style="position: relative; left: 0; top: 0; ">
															<a  class="btn btn-default" ng-init="band_lteV = false" ng-click="band_lteV = !band_lteV">LTE</a>
						 								 	<div ng-show="band_lteV"  id="mypop">
						 								 		<table><tbody><tr><td ng-repeat="(key, value) in band_lte" align="center" ng-if="$index<=13" style="padding-left:5px;border-left: 1px solid #eaebef;"><label><input class="checkbox style-0" type="checkbox" ng-model="value.selected"><span>{[value.title ]}</span></label></td></tr><tr style="background: none repeat scroll 0 0 #f3f4f8; border-top: 1px solid #eaebef;"><td ng-repeat="(key, value) in band_lte" align="center" ng-if="($index>13) && ($index<=27)" style="padding-left:5px;border-left: 1px solid #eaebef;"><label><input class="checkbox style-0" type="checkbox" ng-model="value.selected"><span>{[value.title]}</span></label></td></tr><tr style="border-top: 1px solid #eaebef;"><td ng-repeat="(key, value) in band_lte" ng-if="$index>27" align="center" style="padding-left:5px;border-left: 1px solid #eaebef;"><label><input class="checkbox style-0" type="checkbox" ng-model="value.selected"><span>{[value.title]}</span></label></td></tr></tbody></table>
						 								 	</div>
														</span>


														<span style="position: relative; left: 0; top: 0; margin-left:20px">
															<a  class="btn btn-default" ng-init="band_3gV = false" ng-click="band_3gV = !band_3gV">3G</a>
						 								 	<div ng-show="band_3gV"  id="mypop">
						 								 		<table><tbody><tr><td ng-repeat="(key, value) in band_3g" ng-if="$index<=6" align="center" style="padding-left:5px;border-left: 1px solid #eaebef;"><label><input class="checkbox style-0" type="checkbox" ng-model="value.selected"><span>{[value.title ]}</span></label></td></tr><tr style="background: none repeat scroll 0 0 #f3f4f8; border-top: 1px solid #eaebef;"><td ng-repeat="(key, value) in band_3g" align="center" ng-if="($index>6) && ($index<=13)" style="padding-left:5px;border-left: 1px solid #eaebef;"><label><input class="checkbox style-0" type="checkbox" ng-model="value.selected"><span>{[value.title]}</span></label></td></tr><tr style="border-top: 1px solid #eaebef;"><td ng-repeat="(key, value) in band_3g" align="center" ng-if="$index>13" style="padding-left:5px;border-left: 1px solid #eaebef;"><label><input class="checkbox style-0" type="checkbox" ng-model="value.selected"><span>{[value.title]}</span></label></td></tr></tbody></table>
						 								 	</div>
														</span>

														<span style="position: relative; left: 0; top: 0;margin-left:20px">
															<a  class="btn btn-default" ng-init="band_2gV = false" ng-click="band_2gV = !band_2gV">2G</a>
						 								 	<div ng-show="band_2gV"  id="mypop">
						 								 		<table><tbody><tr><td ng-repeat="(key, value) in band_2g" align="center"  style="padding-left:5px;border-left: 1px solid #eaebef;"><label><input class="checkbox style-0" type="checkbox" ng-model="value.selected"><span>{[value.title ]} MHz</span></label></td></tr></tbody></table>
						 								 	</div>
														</span>

														<span style="position: relative; left: 0; top: 0;margin-left:20px">
															<a  class="btn btn-default" ng-init="band_wifiV = false" ng-click="band_wifiV = !band_wifiV">WiFi</a>
						 								 	<div ng-show="band_wifiV"  id="mypop">
						 								 		<table><tbody><tr><td ng-repeat="(key, value) in band_wifi" align="center"  style="padding-left:5px;border-left: 1px solid #eaebef;"><label><input class="checkbox style-0" type="checkbox" ng-model="value.selected"><span>{[value.title ]} GHz</span></label></td></tr></tbody></table>
						 								 	</div>
														</span>
													</div>
												</div>


												<legend><i class="icon-prepend fa fa-fw fa-bolt"></i> {!=T('Wifi Standards')!}</legend>
												<div class="form-group">
													<div class="col-md-12">
														<label ng-repeat="(key, value) in standard_wifi" style="margin-left:20px">
															<input class="checkbox style-0" type="checkbox" ng-model="value.selected">
															<span>{[value.title]}</span>
														</label>
													</div>
												</div>

												<legend><i class="icon-prepend fa fa-fw fa-random"></i> {!=T('Dual Carrier')!}</legend>
												<div class="form-group">
													<label style="margin-left:20px">
														<input class="checkbox style-0" type="checkbox" ng-model="newDatasheet.dual_carrier">
														<span>Dual Carrier for HSPA+</span>
													</label>
												</div>
											</fieldset>

											<fieldset  class="col-sm-6 col-md-4 col-lg-4">
												<legend><i class="icon-prepend fa fa-fw fa-globe"></i> {!=T('Services ')!}</legend>
												<div class="form-group">
													<label style="margin-left:20px">
														<input class="checkbox style-0" type="checkbox" ng-model="newDatasheet.csfb">
														<span>CSFB</span>
													</label>
													<label style="margin-left:20px">
														<input class="checkbox style-0" type="checkbox" ng-model="newDatasheet.sms_sgs">
														<span>SMS over SGs</span>
													</label>
													<label style="margin-left:20px">
														<input class="checkbox style-0" type="checkbox" ng-model="newDatasheet.sms_ims">
														<span>SMS over IMS</span>
													</label>
													<label style="margin-left:20px">
														<input class="checkbox style-0" type="checkbox" ng-model="newDatasheet.volte">
														<span>VoLTE</span>
													</label>
												</div>

												<legend><i class="icon-prepend fa fa-fw fa-lemon-o"></i> {!=T('Connected DRX ')!}</legend>
												<div class="form-group">
													<label class="col-md-4 control-label">{!=T('cDRX')!}</label>
													<div class="col-md-8">
														<select class="form-control " ng-options="item for item in selectoptions.drx track by item"   ng-model="newDatasheet.drx" ></select>
													</div>
												</div>

												<legend><i class="icon-prepend fa fa-fw fa-barcode"></i> {!=T('ROHC')!}</legend>
												<div class="form-group">
													<label class="col-md-4 control-label">{!=T('ROHC')!}</label>
													<div class="col-md-8">
														<span style="position: relative; left: 0; top: 0;margin-left:20px">
															<a  class="btn btn-default" ng-init="rohcV = false" ng-click="rohcV = !rohcV">ROHC</a>
						 								 	<div ng-show="rohcV"  id="mypop">
						 								 		<table><tbody><tr><td ng-repeat="(key, value) in rohc" align="center" style="padding-left:5px;border-left: 1px solid #eaebef;"><label><input class="checkbox style-0" type="checkbox" ng-model="value.selected"><span>profile {[value.title ]} </span></label></td></tr></tbody></table>
						 								 	</div>
														</span>
 													</div>
												</div>

												<legend><i class="icon-prepend fa fa-fw fa-rss"></i> {!=T('MIMO')!}</legend>
												<div class="form-group">
													<label class="col-md-4 control-label">{!=T('MIMO')!}</label>
													<div class="col-md-8">
														<select class="form-control " ng-options="item for item in selectoptions.mimo track by item"   ng-model="newDatasheet.mimo" ></select>
													</div>
												</div>

												<legend><i class="icon-prepend fa fa-fw fa-exchange"></i> {!=T('Duplex')!}</legend>
												<div class="form-group">
													<label class="col-md-4 control-label">{!=T('Duplex')!}</label>
													<div class="col-md-8">
														<select class="form-control " ng-options="item for item in selectoptions.duplex track by item"   ng-model="newDatasheet.duplex" ></select>
													</div>
												</div>
											</fieldset>

											<fieldset  class="col-sm-6 col-md-4 col-lg-4">
												<legend><i class="icon-prepend fa fa-fw fa-ambulance"></i> {!=T('Mobility ')!}</legend>
												<div class="form-group">
													<label style="margin-left:20px">
														<input class="checkbox style-0" type="checkbox" ng-model="newDatasheet.lte_3g_handover">
														<span>LTE<i class="icon-prepend fa fa-fw fa-arrow-right"></i>3G handover</span>
													</label><br>
													<label style="margin-left:20px">
														<input class="checkbox style-0" type="checkbox" ng-model="newDatasheet.lte_2g_handover">
														<span>LTE<i class="icon-prepend fa fa-fw fa-arrow-right"></i>2G handover</span>
													</label><br>
													<label style="margin-left:20px">
														<input class="checkbox style-0" type="checkbox" ng-model="newDatasheet.lte_2g_nacc">
														<span>LTE<i class="icon-prepend fa fa-fw fa-arrow-right"></i>2G NACC</span>
													</label><br>

													<label style="margin-left:20px">
														<input class="checkbox style-0" type="checkbox" ng-model="newDatasheet.tg_lte_handover">
														<span>3G<i class="icon-prepend fa fa-fw fa-arrow-right"></i>LTE handover</span>
													</label><br>

													<label style="margin-left:20px">
														<input class="checkbox style-0" type="checkbox" ng-model="newDatasheet.dg_lte_handover">
														<span>2G<i class="icon-prepend fa fa-fw fa-arrow-right"></i>LTE handover</span>
													</label><br>

													<label style="margin-left:20px">
														<input class="checkbox style-0" type="checkbox" ng-model="newDatasheet.inter_frequency_handover">
														<span>Inter-frequency handover</span>
													</label><br>

													<label style="margin-left:20px">
														<input class="checkbox style-0" type="checkbox" ng-model="newDatasheet.fdd_tdd_handover">
														<span>FDD<i class="icon-prepend fa fa-fw fa-arrow-left"></i><i class="icon-prepend fa fa-fw fa-arrow-right"></i>TDD handover</span>
													</label><br>
												</div>
												<legend><i class="icon-prepend fa fa-fw fa-area-chart"></i> {!=T('Carrier aggregation for LTE ')!}</legend>
												<div class="form-group">
													<label class="col-md-4 control-label">{!=T('Intra-band contiguous CA')!}</label>
													<div class="col-md-8">
														<input class="form-control" type="text" ng-model="newDatasheet.intra_band_c_CA">
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-4 control-label">{!=T(' Intra-band non-contiguous CA')!}</label>
													<div class="col-md-8">
														<input class="form-control" type="text" ng-model="newDatasheet.intra_band_nc_CA">
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-4 control-label">{!=T('Inter-band CA')!}</label>
													<div class="col-md-8">
														<input class="form-control" type="text" ng-model="newDatasheet.inter_band_CA">
													</div>
												</div>
											</fieldset>
										</div>
									</form>
								</div>
							</div>

							<div class="{[step.indexOf(activStep)===2? 'step-pane active':'step-pane' ]}" id="step3">
								<h3><strong>Nowa Specyfikacja </strong> - Informacje dodatkowe</h3>

								<article class="col-sm-12 col-md-12 col-lg-12">
									<legend><i class="icon-prepend fa fa-fw fa-area-chart"></i> {!=T('Przepływnośći')!}</legend>
									<form class="smart-form" action="">
										<table  class="table table-bordered table-striped">
											<tbody>
												<tr >
													<td style="width:150px"> <span style="font-weight: 700;">{!=T('Category')!}</span></td>
													<td style="width:150px"> <span style="font-weight: 700;">{!=T('Uplink')!} [Mbps]</span></td>
													<td style="width:150px"> <span style="font-weight: 700;">{!=T('Downlink')!} [Mbps]</span></td>
													<td style="width:150px"> <span style="font-weight: 700;">{!=T('Band')!} [MHz]</span></td>
													<td style="width:150px"> <span style="font-weight: 700;">{!=T('Frequency')!} [MHz]</span></td>
												</tr>
												<tr>

													<td>
														<select class="form-control " ng-model="newthroughput.category" name="category" required>
															<option value="3G">3G</option>
															<option value="LTE">LTE</option>
															<option value="WiFi">WiFi</option>
															<option value="Ethernet">Ethernet</option>
														</select>
													</td>
													<td>
														<label >
															<input class="form-control" type="text" ng-model="newthroughput.uplink">
														</label>
													</td>

													<td>
														<label >
															<input class="form-control" type="text" ng-model="newthroughput.downlink">
														</label>
													</td>

													<td>
														<label >
															<input class="form-control" type="text" ng-model="newthroughput.band">
														</label>
													</td>

													<td>
														<label >
															<input class="form-control" type="text" ng-model="newthroughput.frequency">
														</label>
													</td>

												</tr>
											</tbody>
										</table>
									</form>

									<button class="btn btn-sm btn-success btn-next ng-binding pull-right" style='margin-bottom:20px;margint-right:20px; margin-top:20px' type="button" ng-click="addNewThroughputs()">
										<i class="fa fa-plus-squaret"></i>
										{!=T('Add')!}
									</button>

								</article>

								<article class="col-sm-12 col-md-12 col-lg-12">
									<table  class="table table-bordered table-striped col-6">
										<thead>
											<th align="center">{!=T('Category')!}</th>
											<th align="center">{!=T('Uplink')!} [Mbps]</th>
											<th align="center">{!=T('Downlink')!} [Mbps]</th>
											<th align="center">{!=T('Band')!} [MHz]</th>
											<th align="center">{!=T('Frequency')!} [MHz]</th>
											<th align="center">{!=T('Remove')!}</th>
										</thead>
										<tbody>
											<tr ng-repeat="(key, value) in throughputs">
												<td align="center">  {[value.category]} </td>
												<td align="center">  {[value.uplink]} </td>
												<td align="center">  {[value.downlink]} </td>
												<td align="center">  {[value.band]} </td>
												<td align="center">  {[value.frequency]} </td>
												<td align="center">
													<button class="btn btn-danger btn-sm"  style="cursor:pointer" type="button" ng-click="throughputs.splice(throughputs.indexOf(value),1)">
														<i class="fa fa-trash-o"></i>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</article>
							</div>




							<div class="{[step.indexOf(activStep)===3? 'step-pane active':'step-pane' ]}"id="step4">
								<h3><strong>Nowa Specyfikacja </strong> - Podsumowanie</h3>

								<div class="col-lg-6 col-lg-offset-3  col-md-6 col-md-offset-3" ng-show="changedDatasheet && oldDatasheet">
									<div class="alert alert-danger alert-block">
										<a class="close" href="#" data-dismiss="alert">×</a>
										<h4 class="alert-heading">Karta katalogowa</h4>
										Wprowadzono zmiany w karcie katalogowej modelu: {[newSpecification.model.name]}.
										<p class="text-align-left">
											<br>
											<form class="smart-form" action="">
											<fieldset style="background: none; padding:0px">
												<section>
												<label class="label"> </label>
												<div class="inline-group" style="color:white" ng-init="datasheetActivity='new'">
													<label class="radio">
														<input type="radio" ng-model="datasheetActivity" value="new" checked="checked" name="radio-inline">
														<i></i>
														Nowa karta katalogowa
													</label>

													<label class="radio" >
														<input type="radio"  ng-model="datasheetActivity" value="update" name="radio-inline">
														<i></i>
														Uaktualnij istniejącą kartę
													</label>
												</div>
												</section>
											</fieldset>
											</form>
										</p>
									</div>
								</div>

								<div class="col-sm-12 col-md-12 col-lg-12"style="margin-left:20px; margin-top:10px">
									<article class="col-sm-12 col-md-6 col-lg-6">
										<table  class="table table-bordered table-striped col-6">
											<tbody>
												<tr>
													<td style="width:150px"> <span style="font-weight: 700;">{!=T("Model")!}</span></td>
													<td>{[newSpecification.model.name]}</td>
												</tr>
												<tr>
													<td style="width:150px"> <span style="font-weight: 700;">{!=T("Company")!}</span></td>
													<td>{[newSpecification.company.name]}</td>
												</tr>
												<tr>
													<td style="width:150px"> <span style="font-weight: 700;">{!=T("Operating  System")!}</span></td>
													<td>{[newSpecification.operating_system]}</td>
												</tr>
												<tr>
													<td style="width:150px"> <span style="font-weight: 700;">{!=T("System Version")!}</span></td>
													<td>{[newSpecification.system_version]}</td>
												</tr>
												<tr>
													<td style="width:150px"> <span style="font-weight: 700;">{!=T("System Ver Number")!}</span></td>
													<td>{[newSpecification.system_version_number]}</td>
												</tr>
											</tbody>
										</table>
									</article>
									<article class="col-sm-12 col-md-6 col-lg-6">
										<table  class="table table-bordered table-striped col-6">
											<tbody>
												<tr>
													<td style="width:150px"> <span style="font-weight: 700;">{!=T("Firmware")!}</span></td>
													<td>{[newSpecification.firmware]}</td>
												</tr>

												<tr>
													<td style="width:150px"> <span style="font-weight: 700;">{!=T("Hardware")!}</span></td>
													<td>{[newSpecification.hardware]}</td>
 												</tr>
 												<tr>
													<td style="width:150px"> <span style="font-weight: 700;">{!=T("Description")!}</span></td>
													<td><div dynamic="newSpecification.description"></div></td>
 												</tr>
											</tbody>
										</table>
									</article>
								</div>


								<div class="col-sm-12 col-md-12 col-lg-12"style="margin-left:20px; margin-top:10px">

									<article ng-show="newDatasheet.chipset_prvider_id" class="col-sm-12 col-md-4 col-lg-4">
										<legend ><i class="icon-prepend fa fa-fw fa-hdd-o"></i> {!=T('Chipset')!}</legend>
										<table  class="table table-bordered table-striped col-6">
											<tbody>
												<tr ng-show="newDatasheet.chipset_prvider_id">
													<td style="width:150px"> <span style="font-weight: 700;">{!=T("Chipset Provider")!}</span></td>
													<td>{[newDatasheet.chipset_prvider.name]}</td>
												</tr>

												<tr ng-show="newDatasheet.chipset_model">
													<td style="width:150px"> <span style="font-weight: 700;">{!=T("Chipset Mode")!}</span></td>
													<td>{[newDatasheet.chipset_model]}</td>
 												</tr>
 												<tr ng-show="newDatasheet.chipset_baseline">
													<td style="width:150px"> <span style="font-weight: 700;">{!=T("Baseline")!}</span></td>
													 <td>{[newDatasheet.chipset_baseline]}</td>
 												</tr>
											</tbody>
										</table>
									</article>

									<article ng-show="newDatasheet.ue_usage_setting || newDatasheet.voice_domain" class="col-sm-12 col-md-4 col-lg-4">
										<legend><i class="icon-prepend fa fa-fw fa-volume-up"></i> {!=T('Domain preference')!}</legend>
										<table  class="table table-bordered table-striped col-6">
											<tbody>
												<tr ng-show="newDatasheet.ue_usage_setting">
													<td style="width:150px"> <span style="font-weight: 700;">{!=T('UE usage setting')!}</span></td>
													<td>{[newDatasheet.ue_usage_setting]}</td>
												</tr>

												<tr ng-show="newDatasheet.voice_domain">
													<td style="width:150px"> <span style="font-weight: 700;">{!=T('Voice domain preference for EUTRAN')!}</span></td>
													<td>{[newDatasheet.voice_domain]}</td>
 												</tr>

											</tbody>
										</table>
									</article>

									<article ng-show="newDatasheet.cat_3g_downlink || newDatasheet.cat_3g_uplink || newDatasheet.cat_lte" class="col-sm-12 col-md-4 col-lg-4">
										<legend><i class="icon-prepend fa fa-fw fa-mobile-phone"></i> {!=T('Terminal Category')!}</legend>
										<table  class="table table-bordered table-striped col-6">
											<tbody>
												<tr ng-show="newDatasheet.cat_3g_downlink">
													<td style="width:150px"> <span style="font-weight: 700;">{!=T('3G Downlink')!}</span></td>
													<td>{[newDatasheet.cat_3g_downlink]}</td>
												</tr>
												<tr ng-show="newDatasheet.cat_3g_uplink">
													<td style="width:150px"> <span style="font-weight: 700;">{!=T('3G Uplink')!}</span></td>
													<td>{[newDatasheet.cat_3g_uplink]}</td>
												</tr>
												<tr ng-show="newDatasheet.cat_lte">
													<td style="width:150px"> <span style="font-weight: 700;">{!=T('LTE')!}</span></td>
													<td>{[newDatasheet.cat_lte]}</td>
												</tr>
											</tbody>
										</table>
									</article>

									<article ng-show="newDatasheet.system_wifi || newDatasheet.system_lte_a ||newDatasheet.system_gsm || newDatasheet.system_gprs || newDatasheet.system_edge || newDatasheet.system_umts|| newDatasheet.system_hspa || newDatasheet.system_hspa || newDatasheet.system_hspa_p || newDatasheet.system_lte" class="col-sm-12 col-md-4 col-lg-4">
										<legend><i class="icon-prepend fa fa-fw fa-signal"></i> {!=T('Systems')!}</legend>
										<table  class="table table-bordered table-striped col-6">
											<tbody>
												<tr>
													<td>
														<span ng-show="newDatasheet.system_gsm">GSM</span>
														<span ng-show="newDatasheet.system_gprs">GPRS</span>
														<span ng-show="newDatasheet.system_edge">EDGE</span>
														<span ng-show="newDatasheet.system_umts">UMTS</span>
														<span ng-show="newDatasheet.system_hspa">HSPA</span>
														<span ng-show="newDatasheet.system_hspa_p">HSPA +</span>
														<span ng-show="newDatasheet.system_lte">LTE</span>
														<span ng-show="newDatasheet.system_lte_a">LTE A</span>
														<span ng-show="newDatasheet.system_wifi">WiFi</span>
													</td>
												</tr>

											</tbody>
										</table>
									</article>

									<article ng-show="newDatasheet.tgpp" class="col-sm-12 col-md-4 col-lg-4">
										<legend><i class="icon-prepend fa fa-fw fa-road"></i> {!=T('3GPP')!}</legend>
										<table  class="table table-bordered table-striped col-6">
											<tbody>
												<tr >
													<td style="width:150px"> <span style="font-weight: 700;">{!=T('3GPP Release')!}</span></td>
													<td>{[newDatasheet.tgpp]}</td>
												</tr>

											</tbody>
										</table>
									</article>

									<article ng-show="newDatasheet.standard_wifi" class="col-sm-12 col-md-4 col-lg-4">
										<legend><i class="icon-prepend fa fa-fw fa-bolt"></i> {!=T('Wifi Standards')!}</legend>
										<table  class="table table-bordered table-striped col-6">
											<tbody>
												<tr >
													<td>{[newDatasheet.standard_wifi]}</td>
												</tr>

											</tbody>
										</table>
									</article>

									<article ng-show="newDatasheet.dual_carrier" class="col-sm-12 col-md-4 col-lg-4">
										<legend><i class="icon-prepend fa fa-fw fa-random"></i> {!=T('Dual Carrier')!}</legend>
										<table  class="table table-bordered table-striped col-6">
											<tbody>
												<tr  >
													<td style="width:150px"> <span style="font-weight: 700;">{!=T('Dual Carrier for HSPA+')!}</span></td>
													<td>TAK</td>
												</tr>

											</tbody>
										</table>
									</article>

									<article ng-show="newDatasheet.csfb || newDatasheet.sms_sgs || newDatasheet.sms_ims || newDatasheet.volte" class="col-sm-12 col-md-4 col-lg-4">
										<legend><i class="icon-prepend fa fa-fw fa-globe"></i> {!=T('Services ')!}</legend>
										<table  class="table table-bordered table-striped col-6">
											<tbody>
												<tr >
													<span ng-show="newDatasheet.csfb">CSFB; </span>
													<span ng-show="newDatasheet.sms_sgs">SMS over SGs; </span>
													<span ng-show="newDatasheet.sms_ims">SMS over IMS; </span>
													<span ng-show="newDatasheet.volte">VoLTE; </span>

												</tr>
											</tbody>
										</table>
									</article>


									<article ng-show="newDatasheet.drx" class="col-sm-12 col-md-4 col-lg-4">
										<legend><i class="icon-prepend fa fa-fw fa-lemon-o"></i> {!=T('Connected DRX ')!}</legend>
										<table  class="table table-bordered table-striped col-6">
											<tbody>
												<tr  >
													<td style="width:150px"> <span style="font-weight: 700;">{!=T('cDRX')!}</span></td>
													<td>TAK</td>
												</tr>

											</tbody>
										</table>
									</article>

									<article ng-show="newDatasheet.rohc" class="col-sm-12 col-md-4 col-lg-4">
										<legend><i class="icon-prepend fa fa-fw fa-barcode"></i> {!=T('ROHC')!}</legend>
										<table  class="table table-bordered table-striped col-6">
											<tbody>
												<tr>
													<td> {[newDatasheet.rohc]}</td>
												</tr>
											</tbody>
										</table>
									</article>


									<article ng-show="newDatasheet.mimo" class="col-sm-12 col-md-4 col-lg-4">
										<legend><i class="icon-prepend fa fa-fw fa-rss"></i> {!=T('MIMO')!}</legend>
										<table  class="table table-bordered table-striped col-6">
											<tbody>
												<tr >
													<td style="width:150px"> <span style="font-weight: 700;">{!=T('MIMO')!}</span></td>
													<td>{[newDatasheet.mimo]}</td>
												</tr>
											</tbody>
										</table>
									</article>

									<article ng-show="newDatasheet.duplex" class="col-sm-12 col-md-4 col-lg-4">
										<legend><i class="icon-prepend fa fa-fw fa-exchange"></i> {!=T('Duplex')!}</legend>
										<table  class="table table-bordered table-striped col-6">
											<tbody>
												<tr >
													<td style="width:150px"> <span style="font-weight: 700;">{!=T('Duplex')!}</span></td>
													<td>{[newDatasheet.duplex]}</td>
												</tr>
											</tbody>
										</table>
									</article>

									<article  ng-show="newDatasheet.fdd_tdd_handover || newDatasheet.inter_frequency_handover || newDatasheet.dg_lte_handover || newDatasheet.dg_lte_handover || newDatasheet.tg_lte_handover || newDatasheet.lte_3g_handover || newDatasheet.lte_2g_handover || newDatasheet.lte_2g_nacc || newDatasheet.lte_2g_nacc" class="col-sm-12 col-md-4 col-lg-4">
										<legend><i class="icon-prepend fa fa-fw fa-ambulance"></i> {!=T('Mobility ')!}</legend>
										<table  class="table table-bordered table-striped col-6">
											<tbody>
												<tr >
													<td >
														<span ng-show="newDatasheet.lte_3g_handover">LTE<i class="icon-prepend fa fa-fw fa-arrow-right"></i>3G handover; <br> </span>
														<span ng-show="newDatasheet.lte_2g_handover">LTE<i class="icon-prepend fa fa-fw fa-arrow-right"></i>3G handover; <br></span>

														<span ng-show="newDatasheet.lte_2g_nacc">LTE<i class="icon-prepend fa fa-fw fa-arrow-right"></i>2G NACC; <br> </span>
														<span ng-show="newDatasheet.lte_2g_nacc">LTE<i class="icon-prepend fa fa-fw fa-arrow-right"></i>2G NACC; <br> </span>

														<span ng-show="newDatasheet.tg_lte_handover">3G<i class="icon-prepend fa fa-fw fa-arrow-right"></i>LTE handover; <br></span>
														<span ng-show="newDatasheet.dg_lte_handover">2G<i class="icon-prepend fa fa-fw fa-arrow-right"></i>LTE handover; <br></span>
														<span ng-show="newDatasheet.dg_lte_handover">2G<i class="icon-prepend fa fa-fw fa-arrow-right"></i>LTE handover; <br></span>

														<span ng-show="newDatasheet.inter_frequency_handover">Inter-frequency handover; <br></span>
														<span ng-show="newDatasheet.fdd_tdd_handover">FDD<i class="icon-prepend fa fa-fw fa-arrow-left"></i><i class="icon-prepend fa fa-fw fa-arrow-right"></i>TDD handover</span>
													</td>

												</tr>
											</tbody>
										</table>
									</article>

									<article ng-show="newDatasheet.intra_band_c_CA || newDatasheet.intra_band_nc_CA || newDatasheet.inter_band_CA" class="col-sm-12 col-md-4 col-lg-4">
										<legend><i class="icon-prepend fa fa-fw fa-area-chart"></i> {!=T('Carrier aggregation for LTE ')!}</legend>
										<table  class="table table-bordered table-striped col-6">
											<tbody>
												<tr ng-show="newDatasheet.intra_band_c_CA">
													<td  style="width:150px"> <span style="font-weight: 700;">{!=T('Intra-band contiguous CA')!}</span></td>
													<td>{[newDatasheet.intra_band_c_CA]}</td>
												</tr>

												<tr ng-show="newDatasheet.intra_band_nc_CA">
													<td  style="width:150px"> <span style="font-weight: 700;">{!=T(' Intra-band non-contiguous CA')!}</span></td>
													<td>{[newDatasheet.intra_band_nc_CA]}</td>
												</tr>

												<tr ng-show="newDatasheet.inter_band_CA">
													<td  style="width:150px"> <span style="font-weight: 700;">{!=T('Inter-band CA')!}</span></td>
													<td>{[newDatasheet.inter_band_CA]}</td>
												</tr>
											</tbody>
										</table>
									</article>

									<article ng-show="newDatasheet.band_lte || newDatasheet.band_3g || newDatasheet.band_2g || newDatasheet.band_wifi" class="col-sm-12 col-md-4 col-lg-4">
										<legend><i class="icon-prepend fa fa-fw fa-align-justify"></i> {!=T('Supported Bands')!}</legend>
										<table  class="table table-bordered table-striped col-6">
											<tbody>
												<tr ng-show="newDatasheet.band_lte">
													<td style="width:150px"> <span style="font-weight: 700;">{!=T('LTE')!}</span></td>
													<td>
														{[ newDatasheet.band_lte]}
													</td>
												</tr>

												<tr ng-show="newDatasheet.band_3g">
													<td style="width:150px"> <span style="font-weight: 700;">{!=T('3G')!}</span></td>
													<td>
														{[ newDatasheet.band_3g]}
													</td>
												</tr>

												<tr ng-show="newDatasheet.band_2g">
													<td style="width:150px"> <span style="font-weight: 700;">{!=T('2G')!}</span></td>
													<td>
														{[ newDatasheet.band_2g]}
													</td>
												</tr>

												<tr ng-show="newDatasheet.band_wifi">
													<td style="width:150px"> <span style="font-weight: 700;">{!=T('WiFi')!}</span></td>
													<td>
														{[ newDatasheet.band_wifi]}
													</td>
												</tr>

											</tbody>
										</table>
									</article>
								</div>

							</div>

							<div class="{[step.indexOf(activStep)===4? 'step-pane active':'step-pane' ]}"id="step5">
								5555
							</div>
						</div>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

		</article>
		<!-- WIDGET END -->

	</div>


</div>
