<style type="text/css">
	.datepagginator *{
		padding: 3px;
	}
</style>

<div ng-controller="newTransactionCtrl" >

	<flashmessage  > </flashmessage>

 	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
			<h1 class="page-title txt-color-blueDark"
					ng-hide="pageLoading">
				<i class="fa fa-calculator fa-fw "></i>
				Transakcja
				<span>> Nowa </span>
			</h1>
			<h1 class="page-title txt-color-blueDark"
					ng-show="pageLoading">
				<img src="{!=URL('static','images/loading.gif')!}"
						 style="margin-top:-10px">
				{!=T('Loading')!}...
			</h1>
		</div>
	</div>

	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-sortable"
					 id="wid-id-2"
					 data-widget-editbutton="false"
					 data-widget-deletebutton="false"
					 role="widget">

				<header role="heading"
								style="cursor:default">
					<span class="widget-icon">
						<i class="fa fa-pencil-square-o"></i>
					</span>
					<h2>
						{!=T('New transaction')!}
					</h2>
					<span class="jarviswidget-loader">
						<i class="fa fa-refresh fa-spin"></i>
					</span>
				</header>

				<!-- widget div-->
				<div role="content">

					<!-- widget content -->
					<div class="widget-body fuelux">

						<div class="wizard">
							<ul class="steps">
								<li data-target="#step1"
										class="{[step[0].class]}"
										ng-click="changeStep(step[0],'click')"
										ng-hide="step.indexOf(activStep)>=3">
									<span class="badge badge-info">1</span>Dane Transakcji<span class="chevron"></span>

								</li>
								<li data-target="#step2"
										class="{[step[1].class]}"
										ng-click="changeStep(step[1],'click')">
									<span class="badge">2</span>Urządzenia<span class="chevron"></span>
								</li>
								<li data-target="#step3"
										class="{[step[2].class]}"
										ng-click="changeStep(step[2],'click')">
									<span class="badge">3</span>Informacje dodatkowe<span class="chevron"></span>
								</li>
								<li data-target="#step4"
										class="{[step[3].class]}"
										ng-click="changeStep(step[3],'click')">
									<span class="badge">4</span>Podsumowanie<span class="chevron"></span>
								</li>
								<li data-target="#step5"
										class="{[step[4].class]}"
										ng-click="changeStep(step[4],'click')">
									<span class="badge">5</span>Koniec<span class="chevron"></span>
								</li>
							</ul>
							<div class="actions">

								<button type="button"
												class="btn btn-sm btn-primary btn-prev"
												ng-hide="step.indexOf(activStep)===(step.length-1)"
												ng-disabled="step.indexOf(activStep)===0"
												ng-click="changeStep(-1,'arrow')">
									<i class="fa fa-arrow-left"></i>{!=T('Prev')!}
								</button>
								<button type="button"
												class="btn btn-sm btn-success btn-next"
												data-last="Finish"
												ng-hide="step.indexOf(activStep)===(step.length-1)"
												ng-disabled="step.indexOf(activStep)===(step.length-1)"
												ng-click="changeStep(+1,'arrow')">
									{[step.indexOf(activStep)===(step.length-2)? 'Zakończ':'Następny']}
									<i class="fa {[step.indexOf(activStep)===(step.length-2)? 'fa-edit':'fa-arrow-right']}"></i>
								</button>
							</div>
						</div>

						<div class="step-content" >
							<!-- DANE TRANSAKCJI -->
 							<div class="{[step.indexOf(activStep)===0? 'step-pane active':'step-pane' ]}"
									 id="step1">
								<h3>
									<strong>Nowa transakcja </strong> - Formularz
								</h3>
								<!--class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable"-->
								<div class="col-sm-12 col-md-12 col-lg-5 sortable-grid ui-sortable"
										 style="margin-bottom:50px">
									<form class="smart-form"
												name="newForm"
												novalidate="novalidate">
										<section style="margin-top:14px">
											<div class="form-group">
												<label class="col-md-3 control-label"
															 style="margin-top:4px">
													{!=T('From who')!}
												</label>

												<div class="col-md-9">
													<label class="{[(newForm.fromWho.$invalid && !newForm.fromWho.$pristine) || !fromWhoText  ?'input state-error': 'input' ]}">
														<i class="icon-prepend fa fa-user"></i>
														<input type="text"
																	 name="fromWho"
																	 ng-model="fromWhoText"
																	 typeahead="client  as (client.firstname+' '+client.lastname) for client in clients | filter:$viewValue | limitTo:8 | filter:{visible:true}"
																	 required
																	 disabled="{[!MainCtrl.isAuthorized([USER_ROLES.admin])]}">
													</label >
												</div>
											</div>
										</section>
										<br>
										<section style="margin-top:34px;">
											<div class="form-group">
												<label class="col-md-3 control-label"
															 style="margin-top:4px">
													{!=T('To who')!}
												</label>

												<div class="col-md-9">
													{[toWhoText]}
													<label class="{[(newForm.toWho.$invalid && !newForm.toWho.$pristine) || !toWhoText ?'input state-error': 'input' ]}">
														<i class="icon-prepend fa fa-user"></i>
														<input type="text"
																	 name="toWho"
																	 ng-model="toWhoText"
																	 typeahead="client  as (client.firstname+' '+client.lastname) for client in clients | filter:$viewValue | limitTo:8 | filter:{visible:true}"
																	 ng-required='client.firstname=="Admin"'>
													</label>
												</div>
											</div>
										</section>

										<br>

										<section style="margin-top:34px">
											<div class="form-group">
												<label class="col-md-3 control-label"
															 style="margin-top:4px">
													{!=T('Operation')!}
												</label>
												<!-- class="{[newForm.operationanem.$invalid && !newForm.operationanem.$pristine ?'input state-error': 'input' ]}"-->
												<div class="col-md-9">
													<label class="{[newForm.operationanem.$invalid && !newForm.operationanem.$pristine ?'input state-error': 'input' ]}">
														<i class="icon-prepend fa fa-link"></i>
														<select  style="width:89%; padding-left:32px"
																		 class="form-control"
																		 ng-model="operation"
																		 name="operationanem"
																		 ng-options="item.name for item in operations track by item.id"
																		 required>
															<option value=""></option>
														</select>
													</label>
												</div>
											</div>
										</section>

										<br>

										<section style="margin-top:34px">
											<div class="form-group">
												<label class="col-md-3 control-label"
															 style="margin-top:4px">
													{!=T('Beginning')!}
												</label>
												<div class="col-md-9">
													<label class="datepagginator {[(newForm.beginDate.$invalid && !newForm.beginDate.$pristine) || !begin ?'input state-error':'input']}">
														<i class="icon-prepend fa fa-calendar"
															 style="padding:0px"></i>
														<input type="text"
																	 class="form-control"
																	 show-button-bar="false"
																	 datepicker-popup="yyyy-MM-dd"
																	 ng-model="begin"
																	 is-open="beginopened"
																	 starting-day="1"
																	 max="end"
																	 name="beginDate"
																	 show-weeks="false"
																	 required/>
													</label>
												</div>
											</div>
										</section>

										<br>

										<section style="margin-top:34px;">
											<div class="form-group">
												<label class="col-md-3 control-label"
															 style="margin-top:4px">
													{!=T('Ending')!}
												</label>
												<div class="col-md-9">
													<label class="datepagginator  {[(newForm.endDate.$invalid && !newForm.endDate.$pristine) || !endValid ?'input state-error':'input']}">
														<i class="icon-prepend fa fa-calendar"
															 style="padding:0px"></i>
														<input type="text"
																	 class="form-control"
																	 show-button-bar="false"
																	 min="begin"
																	 datepicker-popup="yyyy-MM-dd"
																	 ng-model="end"
																	 is-open="endopened"
																	 starting-day="1"
																	 name="endDate"
																	 date-disabled="disabled(date, mode)"
																	 show-weeks="false"
																	 required/>
													</label>
												</div>
											</div>
										</section>
									</form>
								</div>
							</div>

							<div class="{[step.indexOf(activStep)===1? 'step-pane active':'step-pane' ]}" id="step2">
									<h3><strong>Nowa transakcja </strong> - Formularz</h3>

									<div class="jarviswidget jarviswidget-sortable" id="wid-id-0"  role="widget" style=" margin: 0 0 8px;">
										<header role="heading" style="height: auto; padding:10px; padding-top:0px; cursor:default">
											<span class="badge {[selectedType===(0)? 'bg-color-greenLight':'']}" ng-click="selectTyppe(0)" style="margin-top:10px;margin-right:6px;cursor:pointer">Wszystkie ({[alldev]})</span>
											<span class="badge {[selectedType===(-1)? 'bg-color-greenLight':'']}" ng-click="selectTyppe(-1)" style="margin-top:10px;margin-right:6px;cursor:pointer">SIM ({[allsim]})</span><br>
											<span class="badge {[selectedType===value.id? 'bg-color-greenLight':'']}" ng-click="selectTyppe(value.id)" style="margin-top:10px;margin-right:6px;cursor:pointer" ng-repeat="(key, value) in devicetypes">{[value.name]} ({[value.len]})</span>
												<!--{[(devices | filter:{type_id: value.id }).length]}-->
											<!-- POKAŻ/UKRYJ KOLUMNY TABELI -->
											<div class="btn-group display-inline pull-right text-align-left" style=" margin-top:-4px">
												<button class="btn  btn-default dropdown-toggle" data-toggle="dropdown">
													<i class="fa fa-cog fa-lg"></i>
													{!=T('Columns')!}
												</button>
												<ul class="dropdown-menu dropdown-menu-xs pull-right ColVis_collection">
													<li>
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="columns.id" ng-click="columns.id =! columns.id">
															<span>ID</span>
														</label>
													</li>
													<li>
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="columns.cbs_id" ng-click="columns.cbs_id =! columns.cbs_id">
															<span>CBS ID</span>
														</label>
													</li>
													<li ng-show="selectedType!=(-1)">
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="columns.model" ng-click="columns.model =! columns.model">
															<span>{!=T('Models')!}</span>
														</label>
													</li>
													<li  ng-show="selectedType!=(-1)">
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="columns.company" ng-click="columns.company =! columns.company">
															<span>{!=T('Company')!}</span>
														</label>
													</li>
													<li ng-show="selectedType!=(-1)">
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="columns.sn" ng-click="columns.sn =! columns.sn">
															<span>{!=T('SN')!}</span>
														</label>
													</li>
													<li ng-show="selectedType!=(-1)">
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="columns.imei" ng-click="columns.imei =! columns.imei">
															<span>{!=T('IMEI')!}</span>
														</label>
													</li>
													<li ng-show="selectedType!=(-1)">
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="columns.mac" ng-click="columns.mac =! columns.mac">
															<span>{!=T('MAC')!}</span>
														</label>
													</li>

													<li ng-show="selectedType===(-1)">
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="columns.pin" ng-click="columns.pin =! columns.pin">
															<span>{!=T('PIN')!}</span>
														</label>
													</li>
													<li ng-show="selectedType===(-1)">
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="columns.pin2" ng-click="columns.pin2 =! columns.pin2">
															<span>{!=T('PIN2')!}</span>
														</label>
													</li>
													<li ng-show="selectedType===(-1)">
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="columns.puk" ng-click="columns.puk =! columns.puk">
															<span>{!=T('PUK')!}</span>
														</label>
													</li>
													<li ng-show="selectedType===(-1)">
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="columns.puk2" ng-click="columns.puk2 =! columns.puk2">
															<span>{!=T('PUK2')!}</span>
														</label>
													</li>

													<li ng-show="selectedType===(-1)">
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="columns.msisdn" ng-click="columns.msisdn =! columns.msisdn">
															<span>{!=T('MSISDN')!}</span>
														</label>
													</li>
													<li ng-show="selectedType===(-1)">
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="columns.imsi" ng-click="columns.imsi =! columns.imsi">
															<span>{!=T('IMSI')!}</span>
														</label>
													</li>

													<li ng-show="selectedType===(-1)">
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="columns.iccid" ng-click="columns.iccid =! columns.iccid">
															<span>{!=T('ICCID')!}</span>
														</label>
													</li>
													<li ng-show="selectedType===(-1)">
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="columns.description" ng-click="columns.description =! columns.description">
															<span>{!=T('Description')!}</span>
														</label>
													</li>
													<li>
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="columns.holder" ng-click="columns.holder =! columns.holder">
															<span>{!=T('Holder')!}</span>
														</label>
													</li>
													<li  >
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="columns.owner" ng-click="columns.owner =! columns.owner">
															<span>{!=T('Owner')!}</span>
														</label>
													</li>
													<li  >
														<label>
															<input class="checkbox style-0" type="checkbox" ng-model="columns.state" ng-click="columns.state =! columns.state">
															<span>{!=T('State')!}</span>
														</label>
													</li>

												</ul>
											</div>
										</header>
										<!-- widget div-->
										<div class="no-padding" role="content">
											<div class="widget-body">
												<!-- content -->
												<div id="myTabContent" class="tab-content">
													<div class="tab-pane fade active in" id="s1">
														<form class="smart-form" action="">
															<fieldset>
																<section class="col col-2" ng-show="columns.id">
																	<label class="input">
																		<i class="icon-prepend fa fa-key"></i>
																		<input type="text" placeholder="{!=T('Id')!}" ng-model="filter.id">
																	</label>
																</section>
																<section class="col col-2" ng-show="columns.cbs_id">
																	<label class="input">
																		<i class="icon-prepend fa fa-key"></i>
																		<input type="text" placeholder="{!=T('CBS Id')!}" ng-model="filter.cbs_id">
																	</label>
																</section>
																<section class="col col-3" ng-show="columns.model && selectedType!=(-1)">
																	<label class="input">
																		<i class="icon-prepend fa fa-star-o"></i>
																		<input type="text" placeholder="{!=T('Model')!}" ng-model="filter.model.name">
																	</label>
																</section>
																<section class="col col-3" ng-show="columns.company">
																	<label class="input">
																		<i class="icon-prepend fa fa-suitcase"></i>
																		<!--<select class="form-control " ng-options="item.name for item in company track by item"  ng-model="filter.company" style="width:89%; padding-left:32px">
																			<option class="" value="" selected="selected"> </option>
																		</select>
																		{[filter ]}-->
																		<input type="text" placeholder="{!=T('Company')!}" ng-model="filter.company.name">
																	</label>
																</section>

																<section  class="col col-3" ng-show="columns.sn && selectedType!=(-1)">
																	<label class="input">
																		<i class="icon-prepend fa fa-fw fa-barcode"></i>
																		<input type="text" placeholder="{!=T('SN')!}" ng-model="filter.sn">
																	</label>
																</section>
																<section  class="col col-3" ng-show="columns.imei && selectedType!=(-1)">
																	<label class="input">
																		<i class="icon-prepend fa fa-fw fa-bars"></i>
																		<input type="text" placeholder="{!=T('IMEI')!}" ng-model="filter.imei">
																	</label>
																</section>
																<section  class="col col-3" ng-show="columns.mac && selectedType!=(-1)">
																	<label class="input">
																		<i class="icon-prepend fa fa-fw fa-database"></i>
																		<input type="text" placeholder="{!=T('MAC')!}" ng-model="filter.mac">
																	</label>
																</section>


																<section  class="col col-3"  ng-show="columns.msisdn && selectedType===(-1)">
																	<label class="input">
																		<i class="icon-prepend fa fa-fw fa-credit-card"></i>
																		<input type="text" placeholder="{!=T('MSISDN')!}" ng-model="filter.msisdn">
																	</label>
																</section>
																<section  class="col col-3"  ng-show="columns.imsi && selectedType===(-1)">
																	<label class="input">
																		<i class="icon-prepend fa fa-fw fa-archive"></i>
																		<input type="text" placeholder="{!=T('IMSI')!}" ng-model="filter.imsi">
																	</label>
																</section>
																<section  class="col col-3"  ng-show="columns.iccid && selectedType===(-1)">
																	<label class="input">
																		<i class="icon-prepend fa fa-fw fa-gear"></i>
																		<input type="text" placeholder="{!=T('ICCID')!}" ng-model="filter.iccid">
																	</label>
																</section>


																<section  class="col col-3"  ng-show="columns.holder">
																	<label class="input">
																		<i class="icon-prepend fa fa-fw fa-user"></i>
																		<input type="text" placeholder="{!=T('Holder')!}" ng-model="filter.holder">
																	</label>
																</section>
																<section  class="col col-3"  ng-show="columns.owner">
																	<label class="input">
																		<i class="icon-prepend fa fa-fw fa-user"></i>
																		<input type="text" placeholder="{!=T('Owner')!}" ng-model="filter.owner">
																	</label>
																</section>
																<section  class="col col-3"  ng-show="columns.state">
																	<label class="input">
																		<i class="icon-prepend fa fa-fw fa-gavel"></i>
																		<input type="text" placeholder="{!=T('State')!}" ng-model="filter.state.name">
																	</label>
																</section>

															</fieldset>
														</form>
													</div>
													<!-- end s1 tab pane -->
												</div>
												<!-- end content -->
											</div>
										</div>
										<!-- end widget div -->
									</div>
									<!-------------------------------------->

								 	<table ng-table="tableParams" class="table">
								 		<thead>
							                <th class="sortable" ng-show="columns.id"
							                	ng-class="{
							                    'sort-asc': tableParams.isSortBy('id', 'asc'),
							                    'sort-desc': tableParams.isSortBy('id', 'desc')
							                  }"
							                    ng-click="tableParams.sorting({'id' :
							                    tableParams.isSortBy('id', 'asc') ? 'desc' : 'asc'})" rowspan="2">
							                    <div><i class="fa fa-fw fa-key"></i> {!=T('Id')!}</div>
							                </th>
							                 <th class="sortable" ng-show="columns.cbs_id"
							                	ng-class="{
							                    'sort-asc': tableParams.isSortBy('cbs_id', 'asc'),
							                    'sort-desc': tableParams.isSortBy('cbs_id', 'desc')
							                  }"
							                    ng-click="tableParams.sorting({'cbs_id' :
							                    tableParams.isSortBy('cbs_id', 'asc') ? 'desc' : 'asc'})" rowspan="2">
							                    <div><i class="fa fa-fw fa-key"></i> {!=T('CBS')!}</div>
							                </th>

							                <th class="sortable" ng-show="columns.model && selectedType!=(-1)"
							                	ng-class="{
							                    'sort-asc': tableParams.isSortBy('model', 'asc'),
							                    'sort-desc': tableParams.isSortBy('model', 'desc')
							                  }"
							                    ng-click="tableParams.sorting({'model' :
							                    tableParams.isSortBy('model', 'asc') ? 'desc' : 'asc'})" rowspan="2">
							                    <div><i class="fa fa-fw fa-star-o"></i> {!=T('Model')!}</div>
							                </th>

							                <th class="sortable" ng-show="columns.company"
							                	ng-class="{
							                    'sort-asc': tableParams.isSortBy('company', 'asc'),
							                    'sort-desc': tableParams.isSortBy('company', 'desc')
							                  }"
							                    ng-click="tableParams.sorting({'company' :
							                    tableParams.isSortBy('company', 'asc') ? 'desc' : 'asc'})" rowspan="2">
							                    <div><i class="fa fa-fw fa-company "></i> {!=T('Company')!}</div>
							                </th>

							                <th class="sortable" ng-show="columns.sn && selectedType!=(-1)"
							                	ng-class="{
							                    'sort-asc': tableParams.isSortBy('sn', 'asc'),
							                    'sort-desc': tableParams.isSortBy('sn', 'desc')
							                  }"
							                    ng-click="tableParams.sorting({'sn' :
							                    tableParams.isSortBy('sn', 'asc') ? 'desc' : 'asc'})" rowspan="2">
							                    <div><i class="fa fa-fw fa-barcode"></i> {!=T('SN')!}</div>
							                </th>

							                <th class="sortable" ng-show="columns.imei && selectedType!=(-1)"
							                	ng-class="{
							                    'sort-asc': tableParams.isSortBy('imei', 'asc'),
							                    'sort-desc': tableParams.isSortBy('imei', 'desc')
							                  }"
							                    ng-click="tableParams.sorting({'imei' :
							                    tableParams.isSortBy('imei', 'asc') ? 'desc' : 'asc'})" rowspan="2">
							                    <div><i class="fa fa-fw fa-bars"></i> {!=T('IMEI')!}</div>
							                </th>

							                <th class="sortable" ng-show="columns.mac && selectedType!=(-1)"
							                	ng-class="{
							                    'sort-asc': tableParams.isSortBy('mac', 'asc'),
							                    'sort-desc': tableParams.isSortBy('mac', 'desc')
							                  }"
							                    ng-click="tableParams.sorting({'mac' :
							                    tableParams.isSortBy('mac', 'asc') ? 'desc' : 'asc'})" rowspan="2">
							                    <div><i class="fa fa-fw fa-database"></i> {!=T('MAC')!}</div>
							                </th>

							                <th class="sortable" ng-show="columns.msisdn && selectedType===(-1)"
							                	ng-class="{
							                    'sort-asc': tableParams.isSortBy('msisdn', 'asc'),
							                    'sort-desc': tableParams.isSortBy('msisdn', 'desc')
							                  }"
							                    ng-click="tableParams.sorting({'msisdn' :
							                    tableParams.isSortBy('msisdn', 'asc') ? 'desc' : 'asc'})" rowspan="2">
							                    <div><i class="fa fa-fw fa-credit-card"></i> {!=T('MSISDN')!}</div>
							                </th>

							                <th class="sortable" ng-show="columns.imsi && selectedType===(-1)"
							                	ng-class="{
							                    'sort-asc': tableParams.isSortBy('imsi', 'asc'),
							                    'sort-desc': tableParams.isSortBy('imsi', 'desc')
							                  }"
							                    ng-click="tableParams.sorting({'imsi' :
							                    tableParams.isSortBy('imsi', 'asc') ? 'desc' : 'asc'})" rowspan="2">
							                    <div><i class="fa fa-fw fa-archive"></i> {!=T('IMSI')!}</div>
							                </th>

							                <th class="sortable" ng-show="columns.iccid && selectedType===(-1)"
							                	ng-class="{
							                    'sort-asc': tableParams.isSortBy('iccid', 'asc'),
							                    'sort-desc': tableParams.isSortBy('iccid', 'desc')
							                  }"
							                    ng-click="tableParams.sorting({'iccid' :
							                    tableParams.isSortBy('iccid', 'asc') ? 'desc' : 'asc'})" rowspan="2">
							                    <div><i class="fa fa-fw fa-gear"></i> {!=T('ICCID')!}</div>
							                </th>

							                <th class="sortable" ng-show="columns.pin && selectedType===(-1)"
							                	ng-class="{
							                    'sort-asc': tableParams.isSortBy('pin', 'asc'),
							                    'sort-desc': tableParams.isSortBy('pin', 'desc')
							                  }"
							                    ng-click="tableParams.sorting({'pin' :
							                    tableParams.isSortBy('pin', 'asc') ? 'desc' : 'asc'})" rowspan="2">
							                    <div><i class="fa fa-fw fa-flash"></i> {!=T('PIN')!}</div>
							                </th>

							                <th class="sortable" ng-show="columns.pin2 && selectedType===(-1)"
							                	ng-class="{
							                    'sort-asc': tableParams.isSortBy('pin2', 'asc'),
							                    'sort-desc': tableParams.isSortBy('pin2', 'desc')
							                  }"
							                    ng-click="tableParams.sorting({'pin2' :
							                    tableParams.isSortBy('pin2', 'asc') ? 'desc' : 'asc'})" rowspan="2">
							                    <div><i class="fa fa-fw fa-flash"></i> {!=T('PIN 2')!}</div>
							                </th>

							                <th class="sortable" ng-show="columns.puk && selectedType===(-1)"
							                	ng-class="{
							                    'sort-asc': tableParams.isSortBy('puk', 'asc'),
							                    'sort-desc': tableParams.isSortBy('puk', 'desc')
							                  }"
							                    ng-click="tableParams.sorting({'puk' :
							                    tableParams.isSortBy('puk', 'asc') ? 'desc' : 'asc'})" rowspan="2">
							                    <div><i class="fa fa-fw fa-flash"></i> {!=T('PUK')!}</div>
							                </th>

							                <th class="sortable" ng-show="columns.puk2 && selectedType===(-1)"
							                	ng-class="{
							                    'sort-asc': tableParams.isSortBy('puk2', 'asc'),
							                    'sort-desc': tableParams.isSortBy('puk2', 'desc')
							                  }"
							                    ng-click="tableParams.sorting({'puk2' :
							                    tableParams.isSortBy('puk2', 'asc') ? 'desc' : 'asc'})" rowspan="2">
							                    <div><i class="fa fa-fw fa-flash"></i> {!=T('PUK 2')!}</div>
							                </th>

							                <th class="sortable" ng-show="columns.holder"
							                	ng-class="{
							                    'sort-asc': tableParams.isSortBy('holder', 'asc'),
							                    'sort-desc': tableParams.isSortBy('holder', 'desc')
							                  }"
							                    ng-click="tableParams.sorting({'holder' :
							                    tableParams.isSortBy('holder', 'asc') ? 'desc' : 'asc'})" rowspan="2">
							                    <div><i class="fa fa-fw fa-user"></i> {!=T('Holder')!}</div>
							                </th>

							                <th class="sortable" ng-show="columns.owner"
							                	ng-class="{
							                    'sort-asc': tableParams.isSortBy('owner', 'asc'),
							                    'sort-desc': tableParams.isSortBy('owner', 'desc')
							                  }"
							                    ng-click="tableParams.sorting({'owner' :
							                    tableParams.isSortBy('owner', 'asc') ? 'desc' : 'asc'})" rowspan="2">
							                    <div><i class="fa fa-fw fa-user"></i> {!=T('Owner')!}</div>
							                </th>

							                <th class="sortable" ng-show="columns.state"
							                	ng-class="{
							                    'sort-asc': tableParams.isSortBy('state', 'asc'),
							                    'sort-desc': tableParams.isSortBy('state', 'desc')
							                  }"
							                    ng-click="tableParams.sorting({'state' :
							                    tableParams.isSortBy('state', 'asc') ? 'desc' : 'asc'})" rowspan="2">
							                    <div><i class="fa fa-fw fa-gavel"></i> {!=T('State')!}</div>
							                </th>

							                <th class="sortable" ng-show="columns.description && selectedType===(-1)"
							                	ng-class="{
							                    'sort-asc': tableParams.isSortBy('description', 'asc'),
							                    'sort-desc': tableParams.isSortBy('description', 'desc')
							                  }"
							                    ng-click="tableParams.sorting({'description' :
							                    tableParams.isSortBy('description', 'asc') ? 'desc' : 'asc'})" rowspan="2">
							                    <div><i class="fa fa-fw fa-newspaper-o"></i> {!=T('Description')!}</div>
							                </th>
							            </thead>
							            <tbody>
							            	<!--ng-init="item.$selected = false"-->
							            	<tr ng-repeat="item in $data"
							            	    ng-click="item.$selected = !item.$selected; changeSelection()"
							            	    ng-dblclick="MainCtrl.openResourceModal(item)"
                							    ng-class="{'selectedRow': item.$selected}">
							            		<td  ng-show="columns.id" sortable="'id'" filter="{'id': 'text' }">
									            	{[item.id]}
									            </td>
									            <td  ng-show="columns.cbs_id" sortable="'cbs_id'" filter="{'cbs_id': 'text' }">
									            	{[item.cbs_id]}
									            </td>
									            <td ng-show="columns.model && selectedType!=(-1)" sortable="'model'" filter="{'model': 'text' }" >
									            	{[item.model.name]}
									            </td>
									            <td  ng-show="columns.company" sortable="'company'" filter="{'company': 'text' }">
									            	{[item.company.name]}
									            </td>
									            <td  ng-show="columns.sn && selectedType!=(-1)" sortable="'sn'" filter="{'sn': 'text' }">
									            	{[item.sn]}
									            </td>
									            <td  ng-show="columns.imei && selectedType!=(-1)" sortable="'imei'" filter="{'imei': 'text' }">
									            	{[item.imei]}
									            </td>
									            <td  ng-show="columns.mac && selectedType!=(-1)" sortable="'mac'" filter="{'mac': 'text' }">
									            	{[item.mac]}
									            </td>

									            <td  ng-show="columns.msisdn && selectedType===(-1)" sortable="'msisdn'" filter="{'msisdn': 'text' }">
									            	{[item.msisdn]}
									            </td>
									             <td   ng-show="columns.imsi && selectedType===(-1)" sortable="'imsi'" filter="{'imsi': 'text' }">
									            	{[item.imsi]}
									            </td>
									             <td ng-show="columns.iccid && selectedType===(-1)" sortable="'iccid'" filter="{'iccid': 'text' }">
									            	{[item.iccid]}
									            </td>

									            <td   ng-show="columns.pin && selectedType===(-1)" sortable="'pin'" filter="{'pin': 'text' }">
									            	{[item.pin]}
									            </td>

									            <td   ng-show="columns.pin2 && selectedType===(-1)" sortable="'pin2'" filter="{'pin2': 'text' }">
									            	{[item.pin2]}
									            </td>
									            <td  ng-show="columns.puk && selectedType===(-1)" sortable="'puk'" filter="{'puk': 'text' }">
									            	{[item.puk]}
									            </td>
									            <td width="50"  ng-show="columns.puk2 && selectedType===(-1)" sortable="'puk2'" filter="{'puk2': 'text' }">
									            	{[item.puk2]}
									            </td>

									            <td   ng-show="columns.holder" sortable="'holder'" filter="{'holder': 'text' }">
									            	{[item.holder.firstname +" "+item.holder.lastname]}
									            </td>

									            <td  ng-show="columns.owner" sortable="'owner'" filter="{'owner': 'text' }">
									            	{[item.owner.firstname +" "+item.owner.lastname]}
									            </td>

									            <td  ng-show="columns.state" sortable="'state'" filter="{'state': 'text' }">
									            	{[item.state.name]}
									            </td>

									            <td  ng-show="columns.description && selectedType===(-1)" sortable="'description'" filter="{'description': 'text' }">
									            	{[item.description]}
									            </td>
									        </tr>
									    </tbody>
								    </table>
							</div>

							<div class="{[step.indexOf(activStep)===2? 'step-pane active':'step-pane' ]}" id="step3">
									<h3><strong>Nowa transakcjia </strong> - Formularz</h3>
									<div style="margin-left:20px; margin-top:10px">
										<label>
											<input class="checkbox style-0" type="checkbox" ng-model="notification_email">
											<span style="font-weight: 700;">{!=T("Send email after creating transaction or after changing transaction data")!}</span>
										</label>


										<br><br>
										<span style="font-weight: 700;">{!=T("Add description of transaction")!}</span>
										<br><br>
										<summernote config="options" ng-model="description" on-init="init()" on-enter="enter()" on-focus="focus(evt)"
									              on-blur="blur(evt)" on-paste="paste()" on-keyup="keyup(evt)" on-keydown="keydown(evt)"
									              on-change="change(contents, $editable)"
									              on-image-upload="imageUpload(files, editor, welEditable);">
										</summernote>


      									<!--<div dynamic="description"></div>-->

									</div>
							</div>
							<!-- PODSUMOWANIE -->
							<div class="{[step.indexOf(activStep)===3? 'step-pane active':'step-pane' ]}"id="step4">
									<h3><strong>Nowa transakcja </strong> - Formularz</h3>
									<div style="margin-left:20px; margin-top:10px">
										<article class="col-sm-12 col-md-12 col-lg-6">
											<table  class="table table-bordered table-striped col-6">
												<tbody>
													<tr>
														<td style="width:150px"> <span style="font-weight: 700;">{!=T("From who")!}</span></td>
														<td>{[fromWho.firstname+' '+fromWho.lastname]}</td>
													</tr>
													<tr>
														<td style="width:150px"> <span style="font-weight: 700;">{!=T("To who")!}</span></td>
														<td>{[toWho.firstname+' '+toWho.lastname]}</td>
													</tr>
													<tr>
														<td style="width:150px"> <span style="font-weight: 700;">{!=T("Operation")!}</span></td>
														<td>{[operation.name]}</td>
													</tr>
													<tr>
														<td style="width:150px"> <span style="font-weight: 700;">{!=T("Beginning")!}</span></td>
														<td>{[begin | date :'yyyy-MM-dd']}</td>
													</tr>
													<tr>
														<td style="width:150px"> <span style="font-weight: 700;">{!=T("Ending")!}</span></td>
														<td>{[end | date :'yyyy-MM-dd']}</td>
													</tr>
												</tbody>
											</table>
										</article>
										<article class="col-sm-12 col-md-6 col-lg-6">
											<table  class="table table-bordered table-striped col-6">
												<tbody>
													<tr>
														<td style="width:150px"> <span style="font-weight: 700;">{!=T("Sending email")!}</span></td>
														<td> <i class="fa {[notification_email? 'fa-check': 'fa-remove' ]}" style="{[notification_email? 'color:#8ac38b': 'color:#953b39' ]}"></i>  </td>
													</tr>

													<tr>
														<td style="width:150px"> <span style="font-weight: 700;">{!=T("Description")!}</span></td>
														<td><div dynamic="description"></div></td>
 													</tr>

												</tbody>
											</table>
										</article>

										<article class="col-sm-12 col-md-12 col-lg-12">
											<table  class="table table-bordered table-striped col-6">
												<thead>
													<th>{!=T('ID')!}</th>
													<th>{!=T('Model')!}</th>
													<th>{!=T('Company')!}</th>
													<th>{!=T('SN')!}</th>
													<th>{!=T('IMEI')!}</th>
													<th>{!=T('MAC')!}</th>
													<th>{!=T('State')!}</th>
													<th style="width:50px">{!=T('Remove')!}</th>
												</thead>
												<tbody>
													<tr ng-repeat="(key, value) in devices | filter:{'$selected': true} ">
														<td>{[value.id]}</td>
														<td>{[value.model.name]}</td>
														<td>{[value.company.name]}</td>
														<td>{[value.sn]}</td>
														<td>{[value.imei]}</td>
														<td>{[value.mac]}</td>
														<td>{[value.state.name]}</td>
														<td> <i class="fa fa-remove" style="color:#953b39;cursor:pointer" ng-click="value.$selected=false;changeSelection()"></i>  </td>
													</tr>
												</tbody>
											</table>
											<table  class="table table-bordered table-striped col-6">
												<thead>
													<th>{!=T('ID')!}</th>
													<th>{!=T('Company')!}</th>
													<th>{!=T('MSISDN')!}</th>
													<th>{!=T('IMEI')!}</th>
													<th>{!=T('MAC')!}</th>
													<th>{!=T('State')!}</th>
													<th style="width:50px">{!=T('Remove')!}</th>
												</thead>
												<tbody>
													<tr ng-repeat="(key, value) in sim | filter:{'$selected': true} ">
														<td>{[value.id]}</td>
														<td>{[value.company.name]}</td>
														<td>{[value.msisdn]}</td>
														<td>{[value.imsi]}</td>
														<td>{[value.iccid]}</td>
														<td>{[value.state.name]}</td>
														<td><i class="fa fa-remove" style="color:#953b39;cursor:potnter" ng-click="value.$selected=false;changeSelection()"></i></td>
													</tr>
												</tbody>
											</table>
										</article>
									</div>
							</div>

							<div class="{[step.indexOf(activStep)===4? 'step-pane active':'step-pane' ]}"id="step5">
								<h3><strong>Nowa transakcja </strong> - Zakończono</h3>
								<div class="progress progress-sm progress-striped active">
									<div class="progress-bar bg-color-green" style="width: {[progress]}%" role="progressbar"></div>
								</div>

									<button class="btn btn-sm btn-primary pull-left" ng-click="MainCtrl.openTransactionModal(newtransaction)" style="margin-left:5%">Podgląd transakcji</button>
									<br><br><br><br>

							</div>
						</div>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

		</article>
		<!-- WIDGET END -->

	</div>

</div>
<!-- newTransactionCtrl END -->
