{!from datetime import date!}
<div ng-controller="transferSimCtrl" >

	<flashmessage> </flashmessage>  

 	<style type="text/css">
 		/*#simChartContainer{
 			width:94%;
 		}*/
 	</style>

 	<div class="row" >
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
			<h1 class="page-title txt-color-blueDark" ng-hide="pageLoading">
				<i class="fa fa-gears fa-fw "></i>
				Transfer kart SIM
			</h1>

			<h1 class="page-title txt-color-blueDark" ng-show="pageLoading" >
				<img src="{!=URL('static','images/loading.gif')!}"  style="margin-top:-10px"> 
				{!=T('Loading')!}...
			</h1>

		</div>
	</div>


	<div class="row">
	<article class="col-sm-12 ">
		 
		<div class="jarviswidget jarviswidget-sortable" id="wid-id-0"  role="widget" style=" margin: 0 0 8px;">
				
			<header role="heading">
			 
				<ul class="nav nav-tabs pull-left in" id="myTab">
					<li class="active">
						<a data-toggle="tab" href="/#tr1"><i class="fa fa-filter"></i> <span class="hidden-mobile hidden-tablet">{!=T('Browse')!}</span></a>
					</li>
					<li >
						<a data-toggle="tab" href="/#tr2"><i class="fa fa-edit"></i> <span class="hidden-mobile hidden-tablet">{!=T('Add')!}</span></a>
					</li>
				</ul>
				<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
			</header>

			<!-- widget div-->
			<div class="no-padding" role="content">
				<div class="widget-body">
					<!-- content -->
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade active in" id="tr1">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div style="width:98%">
									<div class="hc-pie" items="transfersChart" xseries="xseries"></div>	
							 	</div> 
							</div>

							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<form class="smart-form" action="">
									<fieldset>

										<section  class="col col-3">
											<label class="input">
												<i class="icon-prepend fa fa-credit-card"></i>
												<input type="text" placeholder="{!=T('MSISDN')!}" name="msisdn" ng-model="filter.sim.msisdn">
											</label>
										</section>
										<section  class="col col-3">
											<label class="input">
												<i class="icon-prepend fa fa-archive"></i>
												<input type="text" placeholder="{!=T('IMSI')!}" name="imsi" ng-model="filter.sim.imsi">
											</label>
										</section>
										<section  class="col col-3">
											<label class="input">
												<i class="icon-prepend fa fa-gear"></i>
												<input type="text" placeholder="{!=T('ICCID')!}" name="iccid" ng-model="filter.sim.iccid">
											</label>
										</section>
										
										 

										<section  class="col col-3" style="clear:both">
											<label>{!=T('From')!}</label>
											<label class="datepagginator input">
												<select class="form-control "  ng-model="customFilterParam.fromyear" style="width:8;">
													<option class="" value="" selected="selected"> </option>
													{!for i in xrange(date.today().year, 2010,-1):!}
														<option class="" value="{!=int(i)!}" >{!=int(i)!}</option> 
													{!pass!}
													 
												</select>
											</label>
											<br>
											<label class="datepagginator input">
												<select class="form-control "  ng-model="customFilterParam.frommonth" style="width:8;">
													<option class="" value="" selected="selected"> </option>
													<option class="" value="1" >{!=T("January")!}</option>
													<option class="" value="2" >{!=T("February")!}</option>
													<option class="" value="3" >{!=T("March")!}</option>
													<option class="" value="4" >{!=T("April")!}</option>
													<option class="" value="5" >{!=T("May")!}</option>
													<option class="" value="6" >{!=T("June")!}</option>
													<option class="" value="7" >{!=T("July")!}</option>
													<option class="" value="8" >{!=T("August")!}</option>
													<option class="" value="9" >{!=T("September")!}</option>
													<option class="" value="10" >{!=T("October")!}</option>
													<option class="" value="11" >{!=T("November")!}</option>
													<option class="" value="12" >{!=T("December")!}</option>
												</select>
											</label>
										</section>

 

										<section  class="col col-3">
											<label>{!=T('To')!}</label>
											<label class="datepagginator input">
											
												<select class="form-control "  ng-model="customFilterParam.toyear" style="width:8;">
													<option class="" value="" selected="selected"> </option>
													{!for i in xrange(date.today().year, 2010,-1):!}
														<option class="" value="{!=int(i)!}" >{!=int(i)!}</option> 
													{!pass!}
												</select>
											</label>
											<br>
											<label class="datepagginator input">
												<select class="form-control "  ng-model="customFilterParam.tomonth" style="width:8;">
													<option class="" value="" selected="selected"> </option>
													<option class="" value="1" >{!=T("January")!}</option>
													<option class="" value="2" >{!=T("February")!}</option>
													<option class="" value="3" >{!=T("March")!}</option>
													<option class="" value="4" >{!=T("April")!}</option>
													<option class="" value="5" >{!=T("May")!}</option>
													<option class="" value="6" >{!=T("June")!}</option>
													<option class="" value="7" >{!=T("July")!}</option>
													<option class="" value="8" >{!=T("August")!}</option>
													<option class="" value="9" >{!=T("September")!}</option>
													<option class="" value="10" >{!=T("October")!}</option>
													<option class="" value="11" >{!=T("November")!}</option>
													<option class="" value="12" >{!=T("December")!}</option>
												</select>
											</label>
										</section>

										<section  class="col col-6" style="padding-top:10px;padding-left:10px;" >
											<div style=" box-shadow: 2px 2px 5px #888888;  display:block;overflow:auto; padding:4px">
												<br>
												<div class="col col-4">
													<label style="margin-bottom:5px;border-bottom:1px dashed #bdbdbd; "><b>{!=T('Downlink')!}:</b></label><br>
													<span style="margin-left:20px;margin-right:2px">{[displayTransfer.download | number:2 ]}</span> {[displayTransfer.unit]} 
												</div>

												<div  class="col col-4">
													<label style="margin-bottom:5px;border-bottom:1px dashed #bdbdbd; "><b>{!=T('Uplink')!}:</b></label><br>
													<span style="margin-left:20px;margin-right:2px">{[displayTransfer.upload | number:2 ]}</span> {[displayTransfer.unit]} 
												</div>
												<div  class="col col-4">
													<label style="margin-bottom:5px;border-bottom:1px dashed #bdbdbd; "><b>{!=T('Total')!}:</b></label><br>
													<span style="margin-left:20px;margin-right:2px">{[displayTransfer.total | number:2 ]}</span> {[displayTransfer.unit]} 
												</div>
												<br> 
											</div>
										</section>
									</fieldset>
								</form>
						 	</div>

						 	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							 	<table ng-table="tableParams"  class="table">
							        <thead>
							        	<tr>
							            	<th class="sortable" ng-class="{
							                    'sort-asc': tableParams.isSortBy('id', 'asc'),
							                    'sort-desc': tableParams.isSortBy('id', 'desc')
							                  }"
							                    ng-click="tableParams.sorting({'id' :
							                    tableParams.isSortBy('id', 'asc') ? 'desc' : 'asc'})"
							                    rowspan="2">
							                    <div><i class="fa fa-fw fa-key"></i> {!=T('Id')!}</div>
							                </th>
							                <th class="sortable" ng-class="{
							                    'sort-asc': tableParams.isSortBy('sim.msisdn', 'asc'),
							                    'sort-desc': tableParams.isSortBy('sim.msisdn', 'desc')
							                  }"
							                    ng-click="tableParams.sorting({'sim.msisdn' :
							                    tableParams.isSortBy('sim.msisdn', 'asc') ? 'desc' : 'asc'})"
							                    rowspan="2">
							                    <div><i class="fa fa-fw fa-credit-card"></i> {!=T('MSISDN')!}</div>
							                </th>
							                <th class="sortable" ng-class="{
							                    'sort-asc': tableParams.isSortBy('sim.imsi', 'asc'),
							                    'sort-desc': tableParams.isSortBy('sim.imsi', 'desc')
							                  }"
							                    ng-click="tableParams.sorting({'sim.imsi' :
							                    tableParams.isSortBy('sim.imsi', 'asc') ? 'desc' : 'asc'})" rowspan="2">
							                    <div><i class="fa fa-fw fa-archive"></i> {!=T('IMSI')!}</div>
							                </th>

							                <th class="sortable" ng-class="{
							                    'sort-asc': tableParams.isSortBy('sim.iccid', 'asc'),
							                    'sort-desc': tableParams.isSortBy('sim.iccid', 'desc')
							                  }"
							                    ng-click="tableParams.sorting({'sim.iccid' :
							                    tableParams.isSortBy('sim.iccid', 'asc') ? 'desc' :  'asc'})" rowspan="2">
							                    <div><i class="fa fa-fw fa-gear"></i>{!=T('ICCID')!}</div>
							                </th>

							                <th class="sortable" ng-class="{
							                    'sort-asc': tableParams.isSortBy('downlink', 'asc'),
							                    'sort-desc': tableParams.isSortBy('downlink', 'desc')
							                  }"
							                    ng-click="tableParams.sorting({'downlink' :
							                    tableParams.isSortBy('downlink', 'asc') ? 'desc' :'asc'})" rowspan="2">
							                    <div><i class="fa fa-fw fa-download"></i>{!=T('Downlink')!}</div>
							                </th>

							                <th class="sortable" ng-class="{
							                    'sort-asc': tableParams.isSortBy('uplink', 'asc'),
							                    'sort-desc': tableParams.isSortBy('uplink', 'desc')
							                  }"
							                    ng-click="tableParams.sorting({'uplink' :
							                    tableParams.isSortBy('uplink', 'asc') ? 'desc' :'asc'})" rowspan="2">
							                    <div><i class="fa fa-fw fa-upload"></i>{!=T('Uplink')!}</div>
							                </th>

							                <th class="sortable" ng-class="{
							                    'sort-asc': tableParams.isSortBy('total', 'asc'),
							                    'sort-desc': tableParams.isSortBy('total', 'desc')
							                  }"
							                    ng-click="tableParams.sorting({'total' :
							                    tableParams.isSortBy('total', 'asc') ? 'desc' :'asc'})" rowspan="2">
							                    <div><i class="fa fa-fw fa-line-chart"></i>{!=T('Total')!}</div>
							                </th>

							                <th class="sortable" ng-class="{
							                    'sort-asc': tableParams.isSortBy('month', 'asc'),
							                    'sort-desc': tableParams.isSortBy('month', 'desc')
							                  }"
							                    ng-click="tableParams.sorting({'month' :
							                    tableParams.isSortBy('month', 'asc') ? 'desc' :'asc'})" rowspan="2">
							                    <div><i class="fa fa-fw fa-calendar"></i>{!=T('Month')!}</div>
							                </th>

							                <th class="sortable" ng-class="{
							                    'sort-asc': tableParams.isSortBy('year', 'asc'),
							                    'sort-desc': tableParams.isSortBy('year', 'desc')
							                  }"
							                    ng-click="tableParams.sorting({'year' :
							                    tableParams.isSortBy('year', 'asc') ? 'desc' :'asc'})" rowspan="2">
							                    <div><i class="fa fa-fw fa-calendar"></i>{!=T('Year')!}</div>
							                </th>

							        	</tr>  
							        </thead>  
							        <tbody ng-repeat="item in $data ">
								        <tr  style="cursor:pointer">
								            <td width="80" data-title="'Id'" sortable="'id'" filter="{'id': 'text'}">
								            	{[item.id]}
								            </td>
								            <td data-title="'MSISDN'" sortable="'sim.msisdn'" filter="{'msisdn': 'text'}">
								            	{[item.sim.msisdn]}
								            </td>
								            <td data-title="'IMSI'" sortable="'sim.imsi'" filter="{'imsi': 'text'}">
								            	{[item.sim.imsi]}
								            </td>
								            <td data-title="'ICCID'" sortable="'sim.iccid'" filter="{'iccid': 'text'}">
								            	{[item.sim.iccid]}
								            </td>
								            <td data-title="'Downlink'" sortable="'downlink'">
								            	{[item.downlink]}
								            </td>
								            <td data-title="'Uplink'" sortable="'uplink'">
								            	{[item.uplink]}
								            </td>
								            <td data-title="'Total'" sortable="'total'">
								            	{[item.total]}
								            </td>
								            <td data-title="'Month'" sortable="'month'">

								            	{[months[item.month-1]]}
								            </td>
								            <td data-title="'Year'" sortable="'year'">
								            	{[item.year]}
								            </td>
								        </tr>
								    </tbody>
								</table>
								<br>
							</div>
						</div>

						<div class="tab-pane fade" id="tr2">
								
						<br>
							<div class="col col-sm-6 col-md-6" >
	                     		 
								<h5>{!=T("Dodaj transfer z pliku")!}:</h5>
		                    	<div class="col col-sm-9 col-md-9"  >
		                       	  	<form action="" class="smart-form" name="fileForm" >
		                                <label for="file" class="input input-file" >
			                                <div class="button">
			                                    <input  type="file" name="file"  ng-model-instant id="fileToUpload" onchange="angular.element(this).scope().fileChanged(this.files);">{!=T('Browse')!}
			                                </div>
			                            	<input  type="text" placeholder="{[newfilename]}" readonly="">
										</label>
		                          	</form>
		                        </div>

	                        
								<div  style="margin-bottom:40px">
				                    <button class="btn btn-success pull-right" ng-click="createnewitems();" style="margin-right:12px"><i class="fa fa-edit" style="margin-right:4px"></i> {!=T('Load file')!}</button><!--MainCtrl.openNewResFiletModal(file);-->
				                	<br>
				                </div>
 
				                <div class="col col-sm-12 col-md-12" style="clear:both;margin-bottom:30px">

				                	 
											<label>{!=T('Billing period')!}:</label>
											<form class="smart-form" action="" name="yearFormFile" novalidate >
				                                <section class="col col-sm-5 col-md-5 col-lg-5">
													<label class="{[(yearFormFile.year.$invalid && fileDate.hasOwnProperty('year') ) ?'input state-error': 'input' ]}">
														<select name="year" class="form-control "  ng-model="fileDate.year" style="width:100%" required>
															<option class="" value="" selected="selected"> </option>
															{!for i in xrange(date.today().year, 2010,-1):!}
																<option class="" value="{!=int(i)!}" >{!=int(i)!}</option> 
															{!pass!}
														</select>
													</label>
												</section>
											</form>
 
									 
										<form class="smart-form" action="" name="monthFormFile" novalidate >
				                            <section class="col col-sm-5 col-md-5 col-lg-5">
												<label class="{[(monthFormFile.month.$invalid && fileDate.hasOwnProperty('month') ) ?'input state-error': 'input' ]}">
													<select name="month" class="form-control " name="" ng-model="fileDate.month" style="width:100%;" required>
														<option class="" value="" selected="selected"> </option>
														<option class="" value="1" >{!=T("January")!}</option>
														<option class="" value="2" >{!=T("February")!}</option>
														<option class="" value="3" >{!=T("March")!}</option>
														<option class="" value="4" >{!=T("April")!}</option>
														<option class="" value="5" >{!=T("May")!}</option>
														<option class="" value="6" >{!=T("June")!}</option>
														<option class="" value="7" >{!=T("July")!}</option>
														<option class="" value="8" >{!=T("August")!}</option>
														<option class="" value="9" >{!=T("September")!}</option>
														<option class="" value="10" >{!=T("October")!}</option>
														<option class="" value="11" >{!=T("November")!}</option>
														<option class="" value="12" >{!=T("December")!}</option>
														</select>
													</label>
											</section>
										</form>
									 	
								</div>



				                <div class="col col-sm-12 col-md-12" ng-show="showNewRes" style="clear:both;margin-bottom:30px">
				 					<button class="btn btn-success pull-left" style="margin-left:30px" ng-click="addTransferFromFile();">
										<i class="fa fa-edit" style="margin-right:4px"></i>
										{!=T('Add')!}
									</button>
								</div>

								<div class="col col-sm-12 col-md-12" ng-show="showprogress" style="clear:both;margin-bottom:20px">
									<div class="progress progress-sm progress-striped active">
										<div class="progress-bar bg-color-green" style="width: {[progress]}%" role="progressbar"></div>
									</div>
				                </div>



				                <br><br><br><br><br><br>
								<h5>{!=T("Dodaj pojedynczy transfer")!}:</h5>
								<div class="col col-sm-12 col-md-12"  style="clear:both;margin-bottom:20px">
									 
									<table  class="table table-bordered table-striped">
			                            <tbody>
			                                <tr>
			                                	<td style="width:100px"> <span style="font-weight: 700;">{!=T("SIM")!}</span></td>
			                                	<td>
			                                		<form class="smart-form" action="" name="simForm" novalidate >
				                                        <section class="col col-9" style="margin-bottom:0px;"> 
				                                            <label class="{[(simForm.sim.$invalid && newTransfer.hasOwnProperty('sim') ) ?'input state-error': 'input' ]}">
				                                                <input type="text" ng-model="displaytextNewT.sim" name="sim" typeahead=" item as item.msisdn for item in sim | filter:$viewValue | filter:{visible: true} | limitTo:8" required>
				                                            </label>
				                                        </section>  
				                                    </form>
				                                   	(msisdn)
			                                	</td>
			                                </tr>

			                                <tr>
			                                	<td style="width:150px"> <span style="font-weight: 700;">{!=T("Downlink [MB]")!}</span></td>
			                                	<td>    
			                                        <form class="smart-form" action="" name="pinForm" novalidate>
			                                            <section class="col col-9" style="margin-bottom:0px;">
			                                                <label class="input">
			                                                    <input type="text"  ng-model="newTransfer.downlink" name="downlink">
			                                                </label>
			                                             </section>
			                                        </form>
			                                    </td>
			                                </tr>

			                                <tr>
			                                	<td style="width:150px"> <span style="font-weight: 700;">{!=T("Uplink [MB]")!}</span></td>
			                                	<td>    
			                                        <form class="smart-form" action="" name="pinForm" novalidate>
			                                            <section class="col col-9" style="margin-bottom:0px;">
			                                                <label class="input">
			                                                    <input type="text"  ng-model="newTransfer.uplink" name="uplink">
			                                                </label>
			                                             </section>
			                                        </form>
			                                    </td>
			                                </tr>

			                                <tr>
			                                	<td style="width:150px"> <span style="font-weight: 700;">{!=T("Total [MB]")!}</span></td>
			                                	<td>    
			                                        <form class="smart-form" action="" name="pinForm" novalidate>
			                                            <section class="col col-9" style="margin-bottom:0px;">
			                                                <label class="input">
			                                                    <input type="text"  ng-model="newTransfer.total" name="total">
			                                                </label>
			                                             </section>
			                                        </form>
			                                    </td>
			                                </tr>

			                                <tr>
			                                	<td style="width:150px"> <span style="font-weight: 700;">{!=T("Year")!}</span></td>
			                                	<td>
			                                		<form class="smart-form" action="" name="yearForm" novalidate >
				                                		<section class="col col-sm-9 col-md-9 col-lg-9">
															<label class="{[(yearForm.year.$invalid && newTransfer.hasOwnProperty('year') ) ?'input state-error': 'input' ]}">
																<select name="year" class="form-control "  ng-model="newTransfer.year" style="width:100%" required>
																	<option class="" value="" selected="selected"> </option>
																	{!for i in xrange(date.today().year, 2010,-1):!}
																		<option class="" value="{!=int(i)!}" >{!=int(i)!}</option> 
																	{!pass!}
																	 
																</select>
															</label>
														</section>
													</form>
			                                	</td>
			                                </tr>

			                                <tr>
			                                	<td style="width:150px"> <span style="font-weight: 700;">{!=T("Month")!}</span></td>
			                                	<td>
			                                		<form class="smart-form" action="" name="monthForm" novalidate >
				                                		<section class="col col-sm-9 col-md-9 col-lg-9">
															<label class="{[(monthForm.month.$invalid && newTransfer.hasOwnProperty('month') ) ?'input state-error': 'input' ]}">
																<select name="month" class="form-control " name="" ng-model="newTransfer.month" style="width:100%;" required>
																	<option class="" value="" selected="selected"> </option>
																	<option class="" value="1" >{!=T("January")!}</option>
																	<option class="" value="2" >{!=T("February")!}</option>
																	<option class="" value="3" >{!=T("March")!}</option>
																	<option class="" value="4" >{!=T("April")!}</option>
																	<option class="" value="5" >{!=T("May")!}</option>
																	<option class="" value="6" >{!=T("June")!}</option>
																	<option class="" value="7" >{!=T("July")!}</option>
																	<option class="" value="8" >{!=T("August")!}</option>
																	<option class="" value="9" >{!=T("September")!}</option>
																	<option class="" value="10" >{!=T("October")!}</option>
																	<option class="" value="11" >{!=T("November")!}</option>
																	<option class="" value="12" >{!=T("December")!}</option>
																</select>
															</label>
														</section>
													</form>
			                                	</td>
			                                </tr>
			                                 <!--
			                                  <section class="col col-9" style="margin-bottom:0px;"> 
		                                        	<label class="{[(stateForm.state.$invalid && newRes.hasOwnProperty('state') ) ?'input state-error': 'input' ]}">
		                                            	<select style="width:100%;" class="form-control" ng-model="newRes.state" name="state" ng-options="item.name for item in devicestates | filter:{visible: true} track by item.id" required>
														</select>
													</label> 
		                                        </section>
											-->
			                              
										</tbody>
									</table> 

									<div class="col col-sm-12 col-md-12" style="clear:both;margin-bottom:30px">
					 					<button class="btn btn-success pull-left" style="margin-left:30px" ng-click="addSingleTransfer();">
											<i class="fa fa-edit" style="margin-right:4px"></i>
											{!=T('Add')!}
										</button>
									</div>

				                </div>
							</div>


							<div class="col col-sm-6 col-md-6"  ng-show="showNewRes">
								 
								<h5>{!=T("Loaded file")!}:</h5>
								<table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox" >
	                                <thead>
	                                    <tr>
	                                    	<th >
	                                    		<label>
													<input class="checkbox style-0 ng-pristine ng-untouched ng-valid" type="checkbox" ng-model="selectall" ng-click="changeAllSelection(selectall)">
													<span> </span>
												</label>
	                                    	</th>
	                                        
	                                        <th>
	                                            <i class="fa fa-fw fa-credit-card"></i>
	                                            {!=T('MSISDN')!}
	                                        </th>
	                                         <th>
	                                            <i class="fa fa-fw fa-download"></i>
	                                            {!=T('Downlink')!}
	                                        </th>
	                                        <th>
	                                            <i class="fa fa-fw fa-upload"></i>
	                                            {!=T('Uplink')!}
	                                        </th>
	                                        <th>
	                                            <i class="fa fa-fw fa-line-chart"></i>
	                                            {!=T('Total')!}
	                                        </th>
	                                 
	                                    </tr>
	                                </thead>
	                                <tbody>
	                                    <tr ng-repeat="(key, value) in items"   >
	                                        <td>
	                                        	<label>
													<input class="checkbox style-0 ng-pristine ng-untouched ng-valid" type="checkbox" ng-init="value.$selected=value.ok" ng-model="value.$selected">
													<span> </span>
												</label>
	                                        </td>
	                                        <td  ng-dblclick="selectEditTransfer(value)" class="{[value.sim? '':'danger']}">
	                                        	<div ng-show="editTransfer==value">
		                                        	<form class="smart-form" action="" name="modelForm" novalidate >
				                                        <section class="col col-9" style="margin-bottom:0px;"> 
				                                            <label class="input">
				                                                <input type="text" ng-model="displaytextNR.sim" name="sim" typeahead="item as item.msisdn for item in sim | filter:$viewValue | filter:{visible: true} | limitTo:8">
				                                            </label>
				                                        </section>
				                                    </form>
				                                    <i class="fa fa-remove" style="color:#953b39;cursor:default; margin-top:10px" ng-click="selectEditTransfer({}) "></i>
				                                </div>
				                                <div ng-hide="editTransfer==value">{[value.sim.msisdn]}</div>
	                                        </td>
	                                        <td>
	                                        	{[value.downlink]}
	                                        </td>
	                                        <td>
	                                        	{[value.uplink]}
	                                        </td>
	                                        <td>
	                                        	{[value.total]}
	                                        </td>
	                                    </tr>
	                                </tbody>
	                            </table>
	                            *{!=T('Double click to edit field')!}
	                            <br>
	                        </div>

						</div>

					</div>
				</div>
			</div>
		</div>



	    
	</article>
	</div>

	 
	 

</div>

