<div ng-controller="UserCtrl" >
	<flashmessage  > </flashmessage>
 	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
			<h1 class="page-title txt-color-blueDark">
				<i class="fa fa-users fa-fw "></i>
				Personel
				<span>> Użytkownicy</span>
			</h1>
		</div>
	</div>

<div class="row">
	<article class="col-sm-12 ">
		<div class="jarviswidget jarviswidget-sortable"
				 id="wid-id-0"
				 role="widget"
				 style=" margin: 0 0 8px;">
			<header role="heading">
				<ul class="nav nav-tabs pull-left in"
						id="myTab">
					<li class="active">
						<a data-toggle="tab"
						   href="/#s1">
							<i class="fa fa-filter">
							</i>
							<span class="hidden-mobile hidden-tablet">
								{!=T('Filter')!}
							</span>
						</a>
					</li>
				</ul>
				<span class="jarviswidget-loader">
					<i class="fa fa-refresh fa-spin">
					</i>
				</span>
			</header>
				<!-- widget div-->
			<div class="no-padding"
					 role="content">
					<!-- widget edit box -->
				<div class="jarviswidget-editbox">
						test
				</div>
					<!-- end widget edit box -->
				<div class="widget-body">
						<!-- content -->
					<div id="myTabContent"
							 class="tab-content">
						<div class="tab-pane fade active in"
								 id="s1">
							<form class="smart-form"
										action="">
								<fieldset>
									<section  class="col col-4">
										<label class="input">
											<i class="icon-prepend fa fa-user"></i>
											<input type="text"
											 			 placeholder="Wyszukaj użytkownika"
														 ng-model="searchUser">
										</label>
									</section>
								</fieldset>
							</form>
						</div>
							<!-- end s1 tab pane -->
					</div>
						<!-- end content -->
				</div>
			</div>
				<!-- end widget div -->
		</div>
		<style>
			th{
				color: #ffa500;
				background-color: #404040;
			}
			tr:nth-child(odd){
				background-color: #ebebeb;
			}
			tr:nth-child(even){
				background-color: #f9f9f9;
			}
			tr:hover{
				background-color: #d9edf7;
			}
		</style>
	  <table class="table">
	    <thead>
	      <tr>
	        <th>
	          <div ng-click="sortType = 'id'; sortReverse = !sortReverse">
							<i class="fa fa-fw fa-key"></i>
							{!=T('Id')!}
							<span ng-show="sortType == 'id' && !sortReverse"
										class="fa fa-caret-down"></span>
            	<span ng-show="sortType == 'id' && sortReverse"
									  class="fa fa-caret-up"></span>
						</div>
	        </th>
	        <th>
	          <div ng-click="sortType = 'firstname'; sortReverse = !sortReverse">
							<i class="fa fa-fw fa-user"></i>
							{!=T('First name')!}
							<span ng-show="sortType == 'firstname' && !sortReverse"
										class="fa fa-caret-down"></span>
            	<span ng-show="sortType == 'firstname' && sortReverse"
									  class="fa fa-caret-up"></span>
						</div>
	        </th>
	        <th>
	          <div ng-click="sortType = 'lastname'; sortReverse = !sortReverse">
							<i class="fa fa-fw fa-user"></i>
							{!=T('Last name')!}
							<span ng-show="sortType == 'lastname' && !sortReverse"
										class="fa fa-caret-down"></span>
            	<span ng-show="sortType == 'lastname' && sortReverse"
									  class="fa fa-caret-up"></span>
						</div>
	        </th>

	        <th>
	          <div ng-click="sortType = 'email'; sortReverse = !sortReverse">
							<i class="fa fa-fw fa-envelope"></i>
							{!=T('Email')!}
							<span ng-show="sortType == 'email' && !sortReverse"
										class="fa fa-caret-down"></span>
            	<span ng-show="sortType == 'email' && sortReverse"
									  class="fa fa-caret-up"></span>
						</div>
	        </th>
	        <th>
	            <div ng-click="sortType = 'client.phone'; sortReverse = !sortReverse">
								<i class="fa fa-fw fa-phone"></i>
								{!=T('Phone')!}
								<span ng-show="sortType == 'client.phone' && !sortReverse"
											class="fa fa-caret-down"></span>
	            	<span ng-show="sortType == 'client.phone' && sortReverse"
										  class="fa fa-caret-up"></span>
							</div>
	        </th>

	        <th>
	            <div ng-click="sortType = 'permission.role'; sortReverse = !sortReverse">
								<i class="fa fa-fw fa-lock"></i>
								{!=T('Permissions')!}
								<span ng-show="sortType == 'permission.role' && !sortReverse"
											class="fa fa-caret-down"></span>
	            	<span ng-show="sortType == 'permission.role' && sortReverse"
										  class="fa fa-caret-up"></span>
							</div>
	        </th>

	        <th>
					  <button ng-click="cleanSortOptions();" class="btn refreshTableSortingBtn pull-right">
							<i class="fa fa-refresh"></i>
					  </button>
	        </th>
	      </tr>
	    </thead>
	    <tbody>
		    <tr ng-repeat="user in users | orderBy:sortType:sortReverse | filter:searchUser"
						id="tr{[user.id]}">
		      <td width="60"
							data-title="'Id'">
		      	{[user.id]}
		      </td>

					<td data-title="'Imie'"
							ng-hide="editId===user.id">
		      	{[user.firstname]}
		      </td>
					<td ng-show="editId===user.id">
		        <form class="smart-form"
									name="nameForm">
						  <section class="col col-12">
							  <label class="{[nameForm.fname.$invalid && !nameForm.fname.$pristine ?'input state-error': 'input' ]}">
								  <i class="icon-prepend fa fa-user"></i>
								  <input style="min-width:100px"
												 type="text"
												 placeholder="{!=T('First name')!}"
												 ng-change="setFormValidation(nameForm.fname.$valid)"
												 name="fname"
												 ng-model="copyUser.firstname"
												 required>
							  </label>
						  </section>
					  </form>
		      </td>

					<td data-title="'Nazwisko'"
							ng-hide="editId===user.id">
		      	{[user.lastname]}
		      </td>
					<td ng-show="editId===user.id">
		        <form class="smart-form"
									name="lnameForm">
		          <section class="col col-12">
							  <label class="{[lnameForm.lname.$invalid && !lnameForm.lname.$pristine ?'input state-error': 'input' ]}">
							  	<i class="icon-prepend fa fa-user"></i>
							  	<input style="min-width:100px"
												 type="text"
												 placeholder="{!=T('Last name')!}"
												 ng-change="setFormValidation(lnameForm.lname.$valid)"
												 name="lname"
												 ng-model="copyUser.lastname"
												 required>
							  </label>
						  </section>
		        </form>
		      </td>

					<td data-title="'Email'"
							ng-hide="editId===user.id">
		      	{[user.email]}
		      </td>
					<td ng-show="editId===user.id">
		        <form class="smart-form"
									name="emailForm">
						  <section class="col col-12">
							  <label class="{[emailForm.email.$invalid && !emailForm.email.$pristine ?'input state-error': (!!client.email? 'input ' : 'input')]}">
								  <i class="icon-prepend fa fa-fw fa-envelope"></i>
								  <input  style="min-width:150px"
													type="email"
													placeholder="{!=T('Email')!}"
													ng-model="copyUser.email"
													ng-change="setFormValidation(emailForm.email.$valid)"
													name="email"
													required>
							  </label>
						  </section>
					  </form>
		      </td>

					<td data-title="'Telefon'"
							ng-hide="editId===user.id">
		      	{[user.client.phone]}
		      </td>
					<td ng-show="editId===user.id">
		        <form class="smart-form"
									name="phoneForm">
		          <section class="col col-12">
				  			<label class="{[phoneForm.phone.$invalid  ?'input state-error': 'input' ]}">
				  				<i class="icon-prepend fa fa-fw fa-phone"></i>
				  				<input  style="min-width:120px"
													type="text"
													placeholder="{!=T('Phone')!}"
													name="phone"
													ng-change="setFormValidation(phoneForm.phone.$valid)"
													ng-model="copyUser.client.phone"
													required
													ng-pattern="/^(\d)+$/">
				  			</label>
				  		</section>
		        </form>
		      </td>

					<td data-title="'Uprawnienia'"
							ng-hide="editId===user.id">
		      	{[user.permission.role]}
		      </td>
					<td ng-show="editId===user.id">
		        <form class="smart-form"
									name="privilegesForm" >
				  		<section class="col col-12">
				  			<label class="select">
				  				<select  style="min-width:120px"
													 class="form-control"
													 ng-model="copyUser.permission.id"
													 name="privileges"
													 required>
				  					<option value='1'>
											Administrator
										</option>
				  					<option value='2'>
											Manager
										</option>
				  					<option value='3'>
											Developer
										</option>
				  					<option value='4'>
											Updater
										</option>
				  					<option value='5'>
											Viewer
										</option>
				  				</select>
				  			</label>
				  		</section>
				  	</form>
		      </td>

					<td width="60">
		        <div class="btn-group display-inline pull-right text-align-left">
							<button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-cog fa-lg"></i>
							</button>
						  <ul class="dropdown-menu dropdown-menu-xs pull-right">
							  <li ng-click="setEditingUser(user);setEditId(user.id);" id="editRowBtn{[user.id]}" >
								  <a href="javascript:void(0);">
									  <i class="fa fa-pencil fa-lg fa-fw txt-color-green"></i>
									  {!=T('Edit')!}
								  </a>
							  </li>
							  <li ng-click="saveClient(user)" class="disable" >  <!--ng-show="editId===client.id"   ng-hide="editId===client.id"  -->
								  <a href="javascript:void(0);" style="{[editId!=user.id? 'color:gray;text-decoration:none': '']}" >
									  <i class="{[editId!=user.id? 'fa fa-save fa-lg fa-fw txt-color-gray': 'fa fa-save fa-lg fa-fw txt-color-blue']}"></i>
									  {!=T('Save' )!}
								  </a>
							  </li>
								<li ng-click="removeUser(user)">
							 		<a href="javascript:void(0);">
										<i class="fa fa-times fa-lg fa-fw txt-color-red"></i>
										{!=T('Delete')!}
									</a>
								</li>
								<li class="divider"></li>
								<li class="text-align-center" ng-click="setEditId(-1)">
									<a href="javascript:void(0);"> {!=T('Cancel')!}</a>
								</li>
							</ul>
						</div>
		      </td>
		    </tr>
		  </tbody>
	  </table>
	</article>
</div>
</div>
