{!extend 'layout.html'!}

<style type="text/css">
	.center {
	    margin-left: auto;
	    margin-right: auto;
	    width: 50%;
	    margin-top: 50px;
	}

	input[type="text"], input[type="password"] {
		border-color: #bdbdbd;
	    transition: border-color 0.3s ease 0s;
	    -moz-appearance: none;
	    background: none repeat scroll 0 0 #fff;
	    border-radius: 0;
	    border-style: solid;
	    border-width: 1px;
	    box-sizing: border-box;
	    color: #404040;
	    display: block;
	    font: 13px/16px "Open Sans",Helvetica,Arial,sans-serif;
	    height: 32px;
	    outline: 0 none;
	    padding: 8px 10px;
	    width: 100%;
	    margin-top: 10px;
	}

	input[type="text"]:focus, input[type="password"]:focus{
	    border-color: #3276b1;
	}

  	label{
  		margin-top: 10px;
  		margin-right: 10px;
  	}

  	input.checkbox[type="checkbox"]{
	    height: 18px;
	    position: absolute;
	    visibility: visible;
	    width: 18px;
	    z-index: 20;
	    margin-top: -22px;
	}
	label[for="auth_user_remember"]{
		margin-left: 10px;
	}

	input[type="submit"], .w2p-form-button{
     	border-radius: 2px;
		box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.05) inset;
		-moz-user-select: none;
		background-image: none;
		border: 1px solid transparent;
		border-color: #ccc;
		border-radius: 2px;
		cursor: pointer;
		display: inline-block;
		font-size: 13px;
		font-weight: 400;
		line-height: 1.42857;
		margin-bottom: 0;
		padding: 6px 12px;
		text-align: center;
		vertical-align: middle;
		white-space: nowrap;
		background-color: #fff;
		border-color: #ccc;
		color: #333;
		margin-top: 10px;
	}

  	.w2p-form-button{
  		margin-top: 10px;
  		margin-left: 10px;
  	}


</style>


<div  class="center">
	<h1 class="semi-bold">{!=T( request.args(0).replace('_',' ').capitalize() )!}</h1>

<!--
	{!if request.args(0)=='login':!}
		<div class="alert alert-info fade in"  >
			{!=T('Authentication through SAUTis credentials')!}
		</div>
	{!pass!}
-->

	<div id="web2py_user_form">
		{!
			if request.args(0)=='login':
				if not 'register' in auth.settings.actions_disabled:
					form.add_button(T('Register'),URL(args='register', vars={'_next': request.vars._next} if request.vars._next else None),_class='btn')
				pass
				if not 'request_reset_password' in auth.settings.actions_disabled:
					form.add_button(T('Lost Password'),URL(args='request_reset_password'),_class='btn')
				pass
			pass
		!}
	</div>

    {!=form!}
</div>


<script language="javascript"><!--
jQuery("#web2py_user_form input:visible:enabled:first").focus();
{!if request.args(0)=='register':!}
    web2py_validate_entropy(jQuery('#auth_user_password'),100);
{!elif request.args(0)=='change_password':!}
    web2py_validate_entropy(jQuery('#no_table_new_password'),100);
{!pass!}
//--></script>
