	/** FLASH **/
.myFlash {
/*	background: linear-gradient(to right, #356635 0%, #356635 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
	border: 2px solid #eee;
	border-radius: 8px;
	color: #fff;
	cursor: pointer;
	display: block; 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    margin: 0 0 10px 10px;
    min-width: 280px;
    opacity: 0.90;
    padding: 10px;
    position: fixed;
    right: 50px;
    top: 60px;
    vertical-align: middle;
    z-index: 2000;
}

.flash-success {
	background: linear-gradient(to right, #356635 0%, #356635 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); 
}

.flash-error{
	background: linear-gradient(to right, #953b39 0%, #953b39 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.flash-info{
	background: linear-gradient(to right, #305d8c 0%, #305d8c 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.flash-warning{
	background: linear-gradient(to right, #826430 0%, #826430 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}


	
.myFlash.ng-hide-remove{
    /*-webkit-animation: bounceIn 2.5s;
    animation: bounceIn 2.5s;*/
    display: block;
    animation-name: fadeInRight;
    animation-duration: 1s;
    animation-fill-mode: both;

    -webkit-animation: fadeInRight 1s;

}
 
.successFlash.ng-hide-add{
	 display: block;
}


/** TABLE **/
.refreshTableSortingBtn {
	    background-color: #707070;
	    background-image: linear-gradient(to bottom, #777, #666);
	    background-repeat: repeat-x;
	    border: medium none;
	    color: #fff;
	    cursor: pointer;
	    display: block;
	    float: left;
	    height: 20px;
	    line-height: 20px;
	    margin: 0 8px 0 0;
	    padding: 0 5px;
	    vertical-align: middle;
}
.refreshTableSortingBtn:focus, .refreshTableSortingBtn:hover{
	color: #fff;
}

/* Fix for Bootstrap 3 with Angular UI Bootstrap */

.modal { 
	display: block;
}

.modal-dialog {
	margin: 50px auto;
	width: 300px;
}


/* Custom dialog/modal headers */
.dialog-header-error { background-color: #404040; }
.dialog-header-wait { background-color: #404040; }
.dialog-header-notify { background-color: #404040; }
.dialog-header-confirm { background-color: #404040; }
.dialog-header-error span, .dialog-header-error h4,
.dialog-header-wait span, .dialog-header-wait h4,
.dialog-header-confirm span, .dialog-header-confirm h4 { color: orange;
}

/** Selected row in table **/
.selectedRow{
	background: #bce8f1;
}


/***** Expire Transaction Table  ******/
.expire-transaction-table {
	border-right: 1px solid #d1d2da;
	color: #5a6573;
	margin-bottom: 0;
}
.expire-transaction-table tbody td, .expire-transaction-table thead td {
	border-left: 1px solid #eaebef;
}
.expire-transaction-table tbody td:first-child, .expire-transaction-table thead td:first-child {
	border-left: medium none;
}
.expire-transaction-table tbody td {
	border-top: 1px solid #eaebef;
}
.expire-transaction-table thead td {
	background: -moz-linear-gradient(center top , #fdfdfd, #eaeaea) repeat scroll 0 0 / 100% auto #eaeaea;
	border-bottom: 1px solid #d1d2da;
	border-left: 1px solid #d1d2da;
	border-right: 1px solid #d1d2da;
	color: #666666;
	font-size: 12px;
	font-weight: 600;
	height: 25px;
	line-height: 25px;
	padding: 3px 5px 2px;
	text-align: center;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.expire-transaction-table thead td:first-child {
	border-left: medium none;
}
.expire-transaction-table thead td:last-child {
	 border-right: medium none;
}
.expire-transaction-table tbody td {
	padding: 7px 11px;
	vertical-align: middle;
}
.expire-transaction-table tbody tr {
	border-top: 1px solid #eaebef;
}
.expire-transaction-table tbody tr:nth-child(2n) {
	background: none repeat scroll 0 0 #f3f4f8;
}
.expire-transaction-table .icon {
	text-align: center;
	width: 30px;
}

.expire-transaction-table tbody tr:hover, .expire-transaction-table tbody tr:focus {
    color: #5A6573;
    cursor: pointer;
    text-decoration: underline;
}