<div ng-controller="resourceCtrl">
	<!--<div class="row" >
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
			<h1 class="page-title txt-color-blueDark" ng-hide="pageLoading">
				<i class="fa fa-cubes fa-fw "></i>
				Zasoby
			</h1>

			<h1 class="page-title txt-color-blueDark" ng-show="pageLoading" >
				<img src="{!=URL('static','images/loading.gif')!}"  style="margin-top:-10px"> 
				{!=T('Loading')!}...
			</h1>

		</div>
	</div>-->
  	
  	<div class="row">
		<article class="col-sm-12 ">
			<div class="jarviswidget jarviswidget-sortable" id="wid-id-0"  role="widget" style=" margin: 0 0 8px;">
				
				<header role="heading" >
					<ul class="nav nav-tabs pull-left in" id="myTab">
						<li class="active">
							<!--
							<a data-toggle="tab">
								<i class="fa fw fa-bank"></i>
								<span class="hidden-mobile hidden-tablet">{!=T('Zasoby')!}</span>
							</a>--> 
							<a data-toggle="tab"  ng-show="pageLoading">
								<img src="{!=URL('static','images/loading.gif')!}"  height="24"  style="margin-top:-10px"> 
								{!=T('Loading')!}...
							</a>

							<a data-toggle="tab" ng-hide="pageLoading">
								<i class="fa fa-cubes fa-fw "></i>
								Zasoby
							</a>
						</li>

						 
					</ul>
 			 		<!-- POKAŻ/UKRYJ KOLUMNY TABELI -->
						<div class="btn-group display-inline pull-right text-align-left" style="height:34px; ">
							<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="height:28px;margin-top:2px;margin-right:10px;padding:0 10px 0;">
								<i class="fa fa-columns fa-lg"></i>
								Kolumny
							</button>
							<ul class="dropdown-menu dropdown-menu-xs pull-right ColVis_collection">
								<li ng-repeat="(key, value) in columns" style="height:28px; line-height:0px">
									<label style="height:28px">
										<input class="checkbox style-0" type="checkbox" ng-model="value.visible" ng-click="value.visible =! value.visible">
										<span>{[value.name]}</span>
									</label>
								</li>
							</ul>
						</div>
				</header>
				
				<!-- widget div-->
				<div class="no-padding" role="content">
					<div class="widget-body" style="padding:15px">

						<span class="badge {[selectedType===(0)? 'bg-color-greenLight':'']}" ng-click="selectTyppe(0)" style="margin-top:10px;margin-right:6px;cursor:pointer">Wszystkie ({[alldev]})</span>
						<span style="margin-left:155px">Lista sprzętu znajdująca sie pod opieką Działu Analiz Urządzeń Konsumenckich </span>	 
						<br>
						<span class="badge {[selectedType===value.id? 'bg-color-greenLight':'']}" ng-click="selectTyppe(value.id)" style="margin-top:10px;margin-right:6px;cursor:pointer" ng-repeat="(key, value) in devicetypes">{[value.name]} ({[value.len]})</span>
						<span  style="margin-left:100px">
							<i  style="color:green" class="fa fa-check fa-lg"></i> Zasoby dostępne - w magazynie lub w posiadaniu członków zespołu
							<i style="color:red;margin-left:20px" class="fa fa-remove fa-lg"></i> Zasoby niedostępne - wypożyczone
						 	
						</span>
						
						<form class="smart-form" action="">
							<fieldset>
								<section class="col col-2" ng-show="value.visible" ng-repeat="(key, value) in columns">
									<label class="input">
										<i class="icon-prepend fa {[value.icon]}"></i>
										 
										<input ng-if="key!=10" type="text" placeholder="{[value.name]} " ng-model="filter[value.value]">
										<input ng-if="key==10" type="text" placeholder="{[value.name]} (true/false)" ng-model="filter[value.value]">
									</label>
								</section>
							</fieldset>
						</form>

					</div>
				</div>
			</div>

		</article>
	</div>
	<table ng-table="tableParamsRes" class="table">
		<thead>
			<th class="sortable" ng-show="value.visible" ng-repeat="(key, value) in columns "
				ng-class="{
					'sort-asc': tableParamsRes.isSortBy(value.value, 'asc'),
					'sort-desc': tableParamsRes.isSortBy(value.value, 'desc')
					}"
				ng-click="tableParamsRes.sorting({value.value :
					tableParamsRes.isSortBy(value.value, 'asc') ? 'desc' : 'asc'})" rowspan="2">
				<div><i class="fa fa-fw {[value.icon]}"></i>{[value.name]} </div>
			</th>
		</thead>
		<tbody ng-repeat="item in $data" ng-if="item.visible">
			<tr>
				<td ng-show="value.visible" sortable="value.value" filter="{value.value: 'text'}" ng-repeat="(key, value) in columns">
					<span ng-if="key==10"> 
						<i ng-if="item[value.col]==true" style="color:green" class="fa fa-check fa-lg"></i>
						<i ng-if="item[value.col]==false" style="color:red" class="fa fa-remove fa-lg"></i> 
					</span>
					<span ng-if="key==11"> 
						{[getHolder(item.holder_id).lastname]}  
					</span> 

					<span ng-if="key<10">{[item[value.col]]}  </span>
					 
				</td>
			</tr>
		</tbody>
	</table>
	
	<br><br><br><br><br> 

</div>